<h3>{{#if exchange_title}}{{exchange_title}}{{else}}Exchange Policy{{/if}}</h3>
<p>
   To replace your Speck, contact us at {{> mailto email="support@specksensor.com" subject="Speck%20exchange%20request"}}.
   One of our team members will first try troubleshooting your Speck so that you can avoid a replacement, if possible.
</p>
<p>
   We are happy to replace a broken device as long as it is under warranty. A postage paid return label will be
   provided to you to return your defective device. The label will have the order number, the return address, and a
   USPS tracking number. Please keep a record of the tracking number for future reference. Once you receive the
   return label, the Speck must be shipped within 3 business days with all accessories, manuals, etc. and in the
   original packaging.
</p>
<p>
   You can expect to receive your replacement Speck within three weeks, usually quicker. This time period includes
   the transit time for us to receive the faulty Speck from the shipper (5 to 10 business days), the time it takes us
   to process your return once we receive it (1 to 3 business days), and the transit time for you to receive your
   replacement Speck (5 to 10 business days).
</p>
<h3>{{#if return_title}}{{return_title}}{{else}}Return Policy{{/if}}</h3>
<p>
   If you are not completely satisfied with your Speck, please contact us within 30 days of receiving your Speck at
   {{> mailto email="sales@specksensor.com" subject="Speck%20return%20request"}}. You may receive a full product refund
   within 30 days of the delivery date, provided that the Speck returns in new condition with all accessories, manuals,
   etc. and in the original packaging. We will confirm delivery date using the tracking number that was provided to you
   upon shipment.
</p>
<p>
   You can expect to receive your refund within three weeks, usually quicker. This time period includes the transit
   time for us to receive your return from the shipper (5 to 10 business days), the time it takes us to process your
   return once we receive it (1 to 3 business days), and the time it takes your bank to process our refund request (5
   to 10 business days). We'll notify you via e-mail of your refund once we've received and processed the returned
   item. The refund will be made to the original credit card used for the purchase.
</p>
