<div id="default_footer" class="noselect">
   <hr>
   <div class="row">
      <div class="footer_piece col-xs-6 col-sm-3">
         <a href="https://twitter.com/specksensor" target="_blank" class="social_media_link"><span class="fa-stack fa-lg">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x"></i>
            </span></a>
         <a href="https://www.facebook.com/SpeckSensor" target="_blank" class="social_media_link"><span class="fa-stack fa-lg">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x"></i>
            </span></a>
      </div>
      <div class="footer_piece col-sm-6">
         <div class="link">
            {{#ifEqual section 'about-us'}}About Us{{else}}<a href="/about-us">About Us</a>{{/ifEqual}}
         </div>
         <div class="link">
            {{#ifEqual section 'press'}}Press{{else}}<a href="/press">Press</a>{{/ifEqual}}
         </div>
{{!--
         <div class="link">
            {{#ifEqual section 'jobs'}}Jobs{{else}}<a href="/jobs">Jobs</a>{{/ifEqual}}
         </div>
--}}
         <div class="link">
            <a href="//blog.specksensor.com">Blog</a>
         </div>
         <div class="link">
            {{#ifEqual section 'terms'}}Terms{{else}}<a href="/terms">Terms</a>{{/ifEqual}}
         </div>
      </div>
      <div class="footer_piece col-xs-6 col-sm-3 copyright">
         <p>&copy; specksensor.com</p>
      </div>
   </div>
</div>
{{#if isAuthenticated}}
   <nav id="is_logged_in_and_on_mobile_footer" class="noselect navbar navbar-inverse navbar-fixed-bottom" role="navigation">
      <div class="container">
         <div class="navbar-header">
            <ul class="nav navbar-nav navbar-right navbar-tab-item">
               <li class="pull-left {{#ifEqual section 'dashboard'}}active{{/ifEqual}}"><a href="/dashboard" title="Dashboard"><i class="fa fa-bar-chart"></i></a></li>
               <li class="pull-left {{#ifEqual section 'devices'}}active{{/ifEqual}}"><a href="/devices" title="Devices" class="speck_icon_anchor"><i class="speck_icon"></i></a></li>
               <li class="pull-left {{#ifEqual section 'account'}}active{{/ifEqual}}"><a href="/account" title="User Profile"><i class="fa fa-user"></i></a></li>
               <li class="pull-right"><a href="/logout" title="Log Out"><i class="fa fa-sign-out"></i></a></li>
            </ul>
         </div>
      </div>
   </nav>
{{/if}}
