<div id="footer" class="noselect">
   <div class="fill_line"></div>
   <div id="footer_content">
      <div id="footer_left">
         <span>&copy;2015 speck</span>
      </div>
      <div id="footer_right">
         {{!--<div class="link">{{#ifEqual section 'software'}}Software{{else}}<a href="/software">Software</a>{{/ifEqual}}</div>--}}
         <div class="link">{{#ifEqual section 'terms'}}Terms{{else}}<a href="/terms">Terms</a>{{/ifEqual}}</div>
         <div class="link">{{#ifEqual section 'about-us'}}About Us{{else}}<a href="/about-us">About Us</a>{{/ifEqual}}</div>
      </div>
   </div>
</div>
