{{#if hero_image}}
   <div id="hero_image">
      <div class="{{hero_text.css_class}}">{{hero_text.text}}</div>
      <div class="fill {{hero_image.css_class}}" style="background-image:url('/images/hero_images/{{hero_image.filename}}');"></div>
   </div>
{{/if}}
