<div class="row">
   <div class="col-md-4 col-md-12">
      <a name="speck_measurement_scales" class="anchor"></a>
      <p><b>Speck Measurement Scales</b></p>
      <p>
         The Speck can display its measurement of the current concentration of fine particles in the air in two
         different scales. The default scale is a count-based
         concentration&mdash;the number of particles per liter of air (ppL). Alternatively, the Speck can report the
         fine particle concentration based on an estimate of particle weight (or, more strictly, mass) where the
         units are micrograms per cubic meter of air (&mu;g/m<sup>3</sup>). To toggle between the two scales, simply
         tap the center of the Speck's screen. The chart here details the measurement scale ranges and correlation between
         value and color. The Speck can also display colors in a blue-red palette for colorblind users.
      </p>
   </div>
   <div class="col-md-8 col-md-12">
      <table id="measurement_scales" border="0" cellpadding="0" cellspacing="0" align="center">
         <tr class="header" valign="top">
            <th>Particle&nbsp;Counts<br><span class="heading_explanation">(ppL)</span></th>
            <th>Estimated&nbsp;Mass<br><span class="heading_explanation">(&mu;g/m<sup>3</sup>)</span></th>
            <th>Rating</th>
            <th class="description" style="text-align: center">Description</th>
         </tr>
         <tr class="level level_6">
            <td>8001 - 16000</td>
            <td>321 - 640</td>
            <td>Very High</td>
            <td class="description">
               This level of particles is unsafe and warrants more serious long-term health effects if
               sustained.
            </td>
         </tr>
         <tr class="level level_5">
            <td>4001 - 8000</td>
            <td>161 - 320</td>
            <td>High</td>
            <td class="description">
               Air pollution levels are dangerous and everyone may experience coughing, itchy eyes or other
               symptoms. This level of particles may significantly trigger asthma and allergy symptoms. Work to
               decrease values as soon as possible or consider wearing a mask.
            </td>
         </tr>
         <tr class="level level_4">
            <td>2001 - 4000</td>
            <td>81 - 160</td>
            <td>Elevated</td>
            <td class="description">
               Air pollution is unacceptably high and problematic for all persons due to significant
               particulate loading in the air. Brief exposures to this level often occur from cleaning, such as
               vacuuming a carpet. If this level is sustained during the nighttime, consider investing in an
               air filter for the bedroom.
            </td>
         </tr>
         <tr class="level level_3">
            <td>1001 - 2000</td>
            <td>41 - 80</td>
            <td>Slightly Elevated</td>
            <td class="description">
               Air quality is problematic for vulnerable populations (elderly, respiro-compromised individuals
               or children). This level of pollution warrants taking steps to try to reduce: turn on your
               kitchen hood vent; consider opening or closing a window as appropriate, etc.
            </td>
         </tr>
         <tr class="level level_2">
            <td>501 - 1000</td>
            <td>21 - 40</td>
            <td>Moderate</td>
            <td class="description">
               Air quality poses a slightly elevated risk of asthma, allergy and arrhythmia symptoms.
               Frequently seen moderate level of particulates are often caused by human behavior (cooking,
               candle burning, etc.).
            </td>
         </tr>
         <tr class="level level_1">
            <td>0 - 500</td>
            <td>0 - 20</td>
            <td>Good</td>
            <td class="description">
               Air quality is considered good and there is little risk of particulates causing harm to your
               health.
            </td>
         </tr>
      </table>
   </div>
</div>