<table border="0" cellpadding="0" cellspacing="0" align="center" style="margin:{{margin}};">
   <tr valign="middle">
      <td>
         <a href="https://geo.itunes.apple.com/us/app/specksensor/id1043225420?mt=8" style="display:block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg) no-repeat;width:165px;height:40px;"></a>
      </td>
      <td>
         <a href="https://play.google.com/store/apps/details?id=org.cmucreatelab.tasota.airprototype&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-AC-global-none-all-co-pr-py-PartBadges-Oct1515-1"><img alt="Get it on Google Play" style="height:40px" src="https://play.google.com/intl/en_us/badges/images/apps/en-play-badge.png" /></a>
      </td>
   </tr>
</table>
