<script type="text/javascript">
   $(document).ready(function() {
      $(".geocode_form").submit(function(e) {
         e.preventDefault();
         window.location.href = $(this).prop('action') + "#loc=" + encodeURIComponent($(this).parents(".geocode_form_container").find(".geocode_location").val());
      });

      $(".geocode_location")
            .keypress(function(e) {
               if (e.which == 13) {
                  $(this).parents(".geocode_form_container").find(".geocode_form").submit();
               }
            });

      $(".geocode_submit_button").click(function() {
         $(this).parents(".geocode_form_container").find(".geocode_form").submit();
      });

      $(window).scroll(function() {
         var bodyElement = $('body');
         var navbarElement = $('#main_navbar');
         if ($(document).scrollTop() >= 50 && !navbarElement.hasClass('shrink')) {
            bodyElement.addClass('shrink');
            navbarElement.addClass('shrink');
         }
         else if ($(document).scrollTop() < 50 && navbarElement.hasClass('shrink')) {
            bodyElement.removeClass('shrink');
            navbarElement.removeClass('shrink');
         }
      });
   });

</script>
<nav id="main_navbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
   <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="/">speck</a>
         <a href="http://store.specksensor.com/" class="buy_icon_container {{#ifEqual section 'buy'}}active{{/ifEqual}}"><img class="tiny_buy_icon" src="/images/tiny_buy_icon.png"/> Buy</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav navbar-right">
            <li class="geocode_form_container">
               <form class="geocode_form" action="/public-data" method="get" style="display:none"></form>
               <input type="text" class="form-control input-sm geocode_location" placeholder="Enter address or location"/>
               <div style="color: #9d9d9d">See air quality for your location</div>
            </li>
            <li class="dropdown">
               <a href="#" class="dropdown-toggle {{#ifEqual parent_section 'learn'}}active{{/ifEqual}}" data-toggle="dropdown">Learn
                  <b class="caret"></b></a>
               <ul class="dropdown-menu">
                  <li>
                     <a href="/learn/air-quality" {{#ifEqual section 'air-quality'}}class="dropdown-menu-active"{{/ifEqual}}>Air Quality</a>
                  </li>
                  <li>
                     <a href="/learn/particles" {{#ifEqual section 'particles'}}class="dropdown-menu-active"{{/ifEqual}}>Fine Particles</a>
                  </li>
                  <li>
                     <a href="/learn/empowerment" {{#ifEqual section 'empowerment'}}class="dropdown-menu-active"{{/ifEqual}}>Speck and Empowerment</a>
                  </li>
                  <li>
                     <a href="/learn/libraries-and-advocates" {{#ifEqual section 'libraries-and-advocates'}}class="dropdown-menu-active"{{/ifEqual}}>Libraries and Advocates</a>
                  </li>
                  <li>
                     <a href="/learn/curricula" {{#ifEqual section 'curricula'}}class="dropdown-menu-active"{{/ifEqual}}>Curricula</a>
                  </li>
                  <li>
                     <a href="/learn/performance" {{#ifEqual section 'performance'}}class="dropdown-menu-active"{{/ifEqual}}>Indoor Performance Testing</a>
                  </li>
               </ul>
            </li>
            <li class="dropdown">
               <a href="#" class="dropdown-toggle {{#ifEqual parent_section 'support'}}active{{/ifEqual}}" data-toggle="dropdown">Setup &amp; Support
                  <b class="caret"></b></a>
               <ul class="dropdown-menu">
                  <li>
                     <a href="/support/getting-started" {{#ifEqual section 'getting-started'}}class="dropdown-menu-active"{{/ifEqual}}>Getting Started</a>
                  </li>
                  <li>
                     <a href="/support/software" {{#ifEqual section 'software'}}class="dropdown-menu-active"{{/ifEqual}}>Software</a>
                  </li>
                  <li>
                     <a href="/support/faq" {{#ifEqual section 'faq'}}class="dropdown-menu-active"{{/ifEqual}}>FAQs</a>
                  </li>
                  <li>
                     <a href="/support/tech-specs" {{#ifEqual section 'tech-specs'}}class="dropdown-menu-active"{{/ifEqual}}>Technical Specifications</a>
                  </li>
                  <li>
                     <a href="/support/contact-us" {{#ifEqual section 'contact-us'}}class="dropdown-menu-active"{{/ifEqual}}>Contact Us</a>
                  </li>
               </ul>
            </li>
            <li class="hide_in_mobile_navbar">
               <a href="http://store.specksensor.com/" {{#ifEqual section 'buy'}}class="active"{{/ifEqual}}><img class="tiny_buy_icon" src="/images/tiny_buy_icon.png"/> Buy</a>
            </li>
            {{#if isAuthenticated}}
               <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Data <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                     <li>
                        <a href="/dashboard" {{#ifEqual section 'dashboard'}}class="dropdown-menu-active"{{/ifEqual}}>Dashboard</a>
                     </li>
                     <li>
                        <a href="/devices" {{#ifEqual section 'devices'}}class="dropdown-menu-active"{{/ifEqual}}>Devices</a>
                     </li>
                     <li>
                        <a href="/account" {{#ifEqual section 'user-profile'}}class="dropdown-menu-active"{{/ifEqual}}>User Profile</a>
                     </li>
                     <li id="logout_divider" class="divider hide_in_mobile_navbar"></li>
                     <li class="hide_in_mobile_navbar">
                        <a href="/logout"><i class="hide_in_mobile_navbar fa fa-sign-out fa-fw"></i> Log Out</a>
                     </li>
                  </ul>
               </li>
            {{else}}
               <li>
                  <a href="/login">My Data</a>
               </li>
            {{/if}}
            <li class="show_in_mobile_navbar">
               <a href="/public-data" {{#ifEqual section 'public-data'}}class="active"{{/ifEqual}}>Public Data</a>
            </li>
            <li class="show_in_mobile_navbar">
               <a href="/about-us" {{#ifEqual section 'about-us'}}class="active"{{/ifEqual}}>About Us</a>
            </li>
            <li class="show_in_mobile_navbar">
               <a href="/press" {{#ifEqual section 'press'}}class="active"{{/ifEqual}}>Press</a>
            </li>
            {{#if isJobsPageEnabled}}
               <li class="show_in_mobile_navbar">
                  <a href="/jobs" {{#ifEqual section 'jobs'}}class="active"{{/ifEqual}}>Jobs</a>
               </li>
            {{/if}}
            <li class="show_in_mobile_navbar">
               <a href="http://blog.specksensor.com">Blog</a>
            </li>
            <li class="show_in_mobile_navbar">
               <a href="/policies-and-terms" {{#ifEqual section 'policies-and-terms'}}class="active"{{/ifEqual}}>Policies &amp; Terms</a>
            </li>
         </ul>
      </div>
   </div>
</nav>
