<script type="text/javascript">
   $(document).ready(function() {
      $("#zip_code_form").submit(function(e) {
         e.preventDefault();
         window.location.href = $(this).prop('action') + "?zip=" + $("#zip_code").val();
      });

      $("#zip_code")
            .keypress(function(e) {
                         if (e.which == 13) {
                            $("#zip_code_form").submit();
                         }
                      })
            .click(function() {
                      // No, in a kind and loving world, I should not have to manually set focus on an element
                      // when clicking on it for it to receive focus.  But, for reasons unknown to me, form text input
                      // fields fail to receive focus after we've constructed a new PlotContainer object for the
                      // bodytrack grapher (i.e. called new PlotContainer()). Absolute madness. Blame GWT? I do.
                      $(this).focus();
                   });

      $(window).scroll(function() {
         var bodyElement = $('body');
         var navbarElement = $('#main_navbar');
         if ($(document).scrollTop() >= 50 && !navbarElement.hasClass('shrink')) {
            bodyElement.addClass('shrink');
            navbarElement.addClass('shrink');
         }
         else if ($(document).scrollTop() < 50 && navbarElement.hasClass('shrink')) {
            bodyElement.removeClass('shrink');
            navbarElement.removeClass('shrink');
         }
      });
   });

</script>
<nav id="main_navbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
   <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="/">speck</a>
         <a href="http://store.specksensor.com/products/speck" class="buy_icon_container {{#ifEqual section 'buy'}}active{{/ifEqual}}"><img class="tiny_buy_icon" src="/images/tiny_buy_icon.png"/> Buy</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav navbar-right">
            <li id="zip_code_container">
               <form id="zip_code_form" action="/air-quality-by-zip-code" method="get" style="display:none"></form>
               <input type="text" class="form-control input-sm" id="zip_code" name="zip_code" placeholder="Zip Code"/>
               <div style="color: #9d9d9d">See air quality for your zip code</div>
            </li>
            <li>
               <a href="/what-is-speck" {{#ifEqual section 'what-is-speck'}}class="active"{{/ifEqual}}>Speck Info</a>
            </li>
            <li>
               <a href="/particles" {{#ifEqual section 'particles'}}class="active"{{/ifEqual}}>Fine Particles</a>
            </li>
            <li class="hide_in_mobile_navbar">
               <a href="http://store.specksensor.com/products/speck" {{#ifEqual section 'buy'}}class="active"{{/ifEqual}}><img class="tiny_buy_icon" src="/images/tiny_buy_icon.png"/> Buy</a>
            </li>
            {{#if isAuthenticated}}
               <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Data <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                     <li>
                        <a href="/dashboard" {{#ifEqual section 'dashboard'}}class="dropdown-menu-active"{{/ifEqual}}>Dashboard</a>
                     </li>
                     <li>
                        <a href="/devices" {{#ifEqual section 'devices'}}class="dropdown-menu-active"{{/ifEqual}}>Devices</a>
                     </li>
                     <li>
                        <a href="/account" {{#ifEqual section 'account'}}class="dropdown-menu-active"{{/ifEqual}}>User Profile</a>
                     </li>
                     <li id="logout_divider" class="divider hide_in_mobile_navbar"></li>
                     <li class="hide_in_mobile_navbar">
                        <a href="/logout"><i class="hide_in_mobile_navbar fa fa-sign-out fa-fw"></i> Log Out</a>
                     </li>
                  </ul>
               </li>
            {{else}}
               <li>
                  <a href="/login">My Data</a>
               </li>
            {{/if}}
            <li class="show_in_mobile_navbar">
               <a href="/software" {{#ifEqual section 'software'}}class="active"{{/ifEqual}}>Software</a>
            </li>
            <li class="show_in_mobile_navbar">
               <a href="/about-us" {{#ifEqual section 'about-us'}}class="active"{{/ifEqual}}>About Us</a>
            </li>
            <li class="show_in_mobile_navbar">
               <a href="/terms" {{#ifEqual section 'terms'}}class="active"{{/ifEqual}}>Terms</a>
            </li>
         </ul>
      </div>
   </div>
</nav>
