<script type="text/javascript">
   $(document).ready(function() {
      $("#zip_code_form").submit(function(e) {
        e.preventDefault();
        var url = $(this).prop('action') + "?zip=" + $("#zip_code").val();
        window.location.href = url;
      });

      $("#zip_code").keypress(function(e) {
        if (e.which == 13) {
          $("#zip_code_form").submit();
        }
      });

      $(window).scroll(function() {
         var bodyElement = $('body');
         var navbarElement = $('#main_navbar');
         if ($(document).scrollTop() >= 50 && !navbarElement.hasClass('shrink')) {
            bodyElement.addClass('shrink');
            navbarElement.addClass('shrink');
         }
         else if ($(document).scrollTop() < 50 && navbarElement.hasClass('shrink')) {
            bodyElement.removeClass('shrink');
            navbarElement.removeClass('shrink');
         }
      });
   });

</script>
<nav id="main_navbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
   <form id="zip_code_form" action="/air-quality-by-zip-code" method="get" style="display:none"></form>
   <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="/">speck</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav navbar-right">
            {{#if isAuthenticated}}
               <li>
                  <a href="/dashboard" {{#ifEqual section 'dashboard'}}class="active"{{/ifEqual}}>Dashboard</a>
               </li>
               <li>
                  <a href="/devices" {{#ifEqual section 'devices'}}class="active"{{/ifEqual}}>Devices</a>
               </li>
               <li>
                  <a href="/account" {{#ifEqual section 'account'}}class="active"{{/ifEqual}}>Account</a>
               </li>
               <li>
                  <a href="/logout">Log Out</a>
               </li>
            {{else}}
               <li id="zip_code_container">
                 <input type="text" class="form-control input-sm" id="zip_code" name="zip_code" placeholder="Zip Code" />
                 <div style="color: white">See air quality for your zip code</div>
               </li>
               <li>
                  <a href="/what-is-speck" {{#ifEqual section 'what-is-speck'}}class="active"{{/ifEqual}}>Speck Info</a>
               </li>
               <li class="dropdown">
                  <a href="/particles" {{#ifEqual section 'particles'}}class="active"{{/ifEqual}}>Fine Particles</a>
               </li>
               <li style="padding-left: 35px">
                  <img id="tiny_buy_icon" src="images/tiny_buy_icon.png" alt="buy now" />
                  <a href="/buy" {{#ifEqual section 'buy'}}class="active"{{/ifEqual}}>Preorder</a>
               </li>
               <li>
                  <a href="/login">My Data</a>
               </li>
            {{/if}}
         </ul>
      </div>
   </div>
</nav>
