<div id="air_quality_page">
   <h2>Air Quality</h2>
   <div class="row">
      <div class="col-sm-12">
         Air pollution is a problem for all of us. Clean air contains nitrogen, oxygen, and other gases that are part of
         its natural composition. The air we breathe &mdash; both indoors and outdoors &mdash; is being polluted by
         vehicle emissions, fossil fuel burning, and chemical manufacturing. Most people associate air pollution with
         outdoors only because we can see see and smell smog, smoke, or emissions; however, indoor air can be much worse
         than outdoor air. Indoor pollutant levels can rise up to 100 times higher than outdoor levels! Between work,
         school, and home, we spend up to 90% of our lives indoors. Using Speck can help you control indoor pollutants
         and take action now to improve your air and keep you safe.
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12">
         <div class="section_header">Speck at Work</div>
         Have you ever experienced heat, humidity, stale stuffy air, odors, or dust at work? And consequently, have you
         experienced discomfort, headaches, nausea, respiratory symptoms (coughing, tight chest, wheezing, blocked nasal
         passages), or allergies in a workplace? You could be experiencing symptoms associated with poor air quality, or
         occupational lung disease. We spend about 25% of our lives at work, so why not monitor your air quality at
         work? You are entitled to clean air, so use Speck to monitor the air quality in your workplace!
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12">
         <div class="section_header">Air and Children</div>
         <p>
            The average adult breathes over 3,000 gallons of air per day. Children breathe even more air relative to body surface area, breathing frequency, and heart rate. Children also spend more time engaged in moderate or vigorous physical activity, making them more susceptible to air pollution. As a result, children inhale more pollutants per pound of body weight. Our lungs contain over 40 different types of cells. As a child grows, their lungs may not achieve full growth and function if they are exposed to high levels of fine particulates.
         </p>
         <p>
            Monitoring air quality around children can help protect them from respiratory issues and the spread of germs. Taking control of the amount of particles in the air is as important to your family's health as using organic products or low VOC paint.
         </p>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12">
         <div class="section_header">Air and Vulnerable Populations (elderly &amp; asthma or respiro-compromised)</div>
         <p>
            Pollution is not only dirty, but its toxicity is a direct contributing factor to many health problems. Our bodies carefully regulate the oxygen-carbon dioxide exchange that occurs when we inhale and exhale. When our lungs are healthy and the air is clean, this is an easy job. When the air is polluted, our bodies cannot get rid of all the impurities. The more that this occurs, the more susceptible we are to disease.
         </p>
         <p>
            Now think about how those impurities can affect an asthmatic or other respiro-compromised person, or an elderly relative. Fine particles are easily inhaled deep into the lungs, where they can get stuck for a long period of time or can be absorbed into the bloodstream. Particulate matter is especially harmful to people with lung disease such as asthma and chronic obstructive pulmonary disease. Exposure to particulate air pollution can trigger asthma attacks and cause wheezing, coughing, and respiratory irritation in individuals with sensitive lungs.
         </p>
         <p>
            The number of asthmatics hit a record high number this year, so using Speck to help you quantify your air is important now more than ever. Speck will watch over you 24/7 and allow for you to find any negative trends in your air quality so that you can take action to breathe easier!
         </p>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12">
         <div class="section_header">Steps Toward Improving Your Air</div>
         <p>
            Indoor pollutant levels can rise up to 100 times higher than outdoor levels. Between work, school, and home, we spend up to 90% of our lives indoors. Indoor air quality is affected by pollutants generated both inside and outside of our homes. Common sources can include burning kerosene, wood or oil, smoking tobacco products, releases from household cleaners, pesticides, building materials, and radon. According to World Health Organization, 4.3 million people a year die from the exposure to household air pollution. The good news is that you can use Speck to monitor trends at home, school, or work and start taking action towards clean air.
         </p>
         <p>
            If you are seeing high Speck readings, here are some steps you can take to ensure you are working to fight indoor fine particles and pollution:
         </p>
         <ul>
            <li>Wash pillows, furniture (did you know you should vacuum furniture?), or plush toys frequently in hot water with gentle detergent.</li>
            <li>Limit window opening during periods of high pollen counts in outdoor air or when the weather is extremely hot.</li>
            <li>Wipe surfaces with a damp cloth to remove dust, and wear a filter mask to ensure you are not inhaling dust.</li>
            <li>Vacuum often, and do so with HEPA bags and filters with fine particle filtration. Be sure to do this when those with asthma are out.</li>
            <li>To reduce the use of volatile organic products, use simple cleaning products such as soap, vinegar, or baking soda, and reduce the use of pesticides or paint that contains VOCs.</li>
            <li>Eliminate smoke and combustion acts or appliances (i.e. candles, the act of pan frying).</li>
            <li>Filter outdoor air using a high performance filter in a circulation air system. To reduce indoor fine particles, use HEPA stand-alone fans or duct filters.</li>
            <li>Tighten the house/building envelope to reduce the amount of outdoor pollution that makes its way indoors.</li>
         </ul>
      </div>
   </div>
</div>
