<script type="text/javascript">
   function recordCurriculumDownload(anchorElement, filename) {
      {{!-- google analytics is not enabled in all environments, so check whether it's defined --}}
      {{#if googleAnalytics.enabled}}
         filename = filename || anchorElement.href.substr(anchorElement.href.lastIndexOf('/') + 1);
         console.log("filename=[" + filename + "]");
         ga('send', 'event', 'document', 'download', 'curriculum', filename);
      {{else}}
         // noop since analytics is disabled in this environment
      {{/if}}

      return true;
   }
</script>
<div id="curricula_page" class="curricula_page">
   <h2>Curricula</h2>
   <div class="row">
      <div class="col-sm-12">
         <p>
            If you have already completed a classroom-tested Speck project, please consider sharing it. We recognize the
            work required to document and share a project, and so we are offering $150 in Speck store credit to anyone
            that shares a well-documented project. Well-documented projects include video and images of student
            creations, lesson plans, materials lists, and assessment strategy/rubric. Contact us for more information at
            {{> mailto email="outreach@specksensor.com" subject="Speck%20curricula"}}.
         </p>
      </div>
   </div>
   <div class="curricula-panels">
      <div class="row">
         <div class="col-lg-4 col-sm-6">
            <div class="panel panel-default curriculum-panel">
               <div class="panel-heading">
                  <h3 class="panel-title">Air Quality Lesson</h3>
               </div>
               <div class="panel-body">
                  <div class="curriculum-image">
                     <img class="img-responsive" src="/images/curricula/whats_the_weather.jpg">
                  </div>
                  <span class="curriculum-label">Grades</span>: Elementary<br>
                  <span class="curriculum-label">Subjects</span>: Environmental Science, Technology<br>
                  <span class="curriculum-label">Author</span>: Women for a Healthy Environment
               </div>
               <div class="panel-footer">
                  <a href="/docs/learn/curricula/healthy-schools-pa-air-quality-lesson.pdf" onclick="return recordCurriculumDownload(this)" target="_blank">Download PDF
                     <i class="fa fa-file-pdf-o"></i></a></div>
            </div>
         </div>
         <div class="col-lg-4 col-sm-6">
            <div class="panel panel-default curriculum-panel">
               <div class="panel-heading">
                  <h3 class="panel-title">InSpeck It Out</h3>
               </div>
               <div class="panel-body">
                  <div class="curriculum-image">
                     <img class="img-responsive" src="/images/curricula/speck_and_pete_the_cat.jpg">
                  </div>
                  <span class="curriculum-label">Grades</span>: 4-8<br>
                  <span class="curriculum-label">Subjects</span>: Environmental Science/Technology, Art<br>
                  <span class="curriculum-label">Author</span>: Franklin Regional Senior High School
               </div>
               <div class="panel-footer">
                  <a href="/docs/learn/curricula/inspeck-it-out.pdf" onclick="return recordCurriculumDownload(this)" target="_blank">Download PDF
                     <i class="fa fa-file-pdf-o"></i></a></div>
            </div>
         </div>
         <div class="col-lg-4 col-sm-6">
            <div class="panel panel-default curriculum-panel">
               <div class="panel-heading">
                  <h3 class="panel-title">Air Quality In The Community</h3>
               </div>
               <div class="panel-body">
                  <div class="curriculum-image">
                     <img class="img-responsive" src="/images/curricula/speck_with_pencils.jpg">
                  </div>
                  <span class="curriculum-label">Grades</span>: 6-8, or 10-12<br>
                  <span class="curriculum-label">Subjects</span>: Environmental Science/Technology, Mathematics/Statistics, Art<br>
                  <span class="curriculum-label">Author</span>: Franklin Regional Senior High School
               </div>
               <div class="panel-footer">
                  <a href="/docs/learn/curricula/air-quality-in-the-community.pdf" onclick="return recordCurriculumDownload(this)" target="_blank">Download PDF
                     <i class="fa fa-file-pdf-o"></i></a></div>
            </div>
         </div>
         <div class="col-lg-4 col-sm-6">
            <div class="panel panel-default curriculum-panel">
               <div class="panel-heading">
                  <h3 class="panel-title">Moms Clean Air Force</h3>
               </div>
               <div class="panel-body">
                  <div class="curriculum-image">
                     <img class="img-responsive" src="/images/curricula/moms_clean_air_force.jpg">
                  </div>
                  <span class="curriculum-label">Ages</span>: 4-8<br>
                  <span class="curriculum-label">Subjects</span>: Math, Science, Art, Social Studies, Music, Language Arts<br>
                  <span class="curriculum-label">Author</span>: Moms Clean Air Force
               </div>
               <div class="panel-footer">
                  <a href="http://www.momscleanairforce.org/every-breath-we-take/#sr-sectionsix" onclick="return recordCurriculumDownload(this, 'moms_clean_air_force')" target="_blank">View Lesson Plans</a>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-sm-6">
            <div class="panel panel-default curriculum-panel">
               <div class="panel-heading">
                  <h3 class="panel-title">Your Environment, Your Health</h3>
               </div>
               <div class="panel-body">
                  <div class="curriculum-image">
                     <img class="img-responsive" src="/images/curricula/air_curriculum.png">
                  </div>
                  <span class="curriculum-label">Ages</span>: Middle school<br>
                  <span class="curriculum-label">Subjects</span>: Science, society, literacy<br>
                  <span class="curriculum-label">Author</span>: K-12 Specialized Information Services Group,
                  National Library of Medicine, National Institutes of Health
               </div>
               <div class="panel-footer">
                  <a href="https://drive.google.com/file/d/0B5k4JeGGY5V6WUlUbUZ2ZnJJOE0/view" target="_blank">Download PDF
                     <i class="fa fa-file-pdf-o"></i></a></div>
            </div>
         </div>
         <div class="col-lg-4 col-sm-6">
            <div class="panel panel-default curriculum-panel">
               <div class="panel-heading">
                  <h3 class="panel-title">The Anti-Idling Toolkit for Schools</h3>
               </div>
               <div class="panel-body">
                  <div class="curriculum-image">
                     <img class="img-responsive" src="/images/curricula/anti-idling.png">
                  </div>
                  <span class="curriculum-label">Ages</span>: All<br>
                  <span class="curriculum-label">Subjects</span>: Science, environment, society, pollution<br>
                  <span class="curriculum-label">Author</span>: Ditching Dirty Diesel Collaborative (DDDC) Idling Committee
               </div>
               <div class="panel-footer">
                  <a href="https://drive.google.com/file/d/0B5k4JeGGY5V6RDBTVTlELVU3MU0/view" target="_blank">Download PDF
                     <i class="fa fa-file-pdf-o"></i></a></div>
            </div>
         </div>
      </div>
   </div>
</div>