<div id="empowerment_page">
   <h2>Speck and Empowerment</h2>
   <div class="row">
      <div class="col-sm-12">
         <p>
            At its core, Speck is about empowerment, enabling you to
            make informed decisions about how to improve your air quality. Data collected with Speck belongs to you, its
            user, and you have the power to decide how to apply that information and take action to breathe easier!
         </p>
         <p>
            Many people are already using Speck to monitor trends when using a vacuum, cleaning or dusting with different
            products, cooking, maintaining air conditioning systems, or testing air purification systems. You can't
            control what you can't measure, so use Speck to breathe easier!
         </p>
         <p>
            To learn more about Speck and empowerment, watch Illah Nourbakhsh's SxSW talk:
         </p>
         <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zSRdGM0Mowc?modestbranding=1&rel=0&showinfo=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
         </div>
      </div>
   </div>
</div>
