<div id="libraries_and_advocates_page">
   <h2>Libraries and Advocates</h2>
   <p>
      Thank you for your interest in our
      <a href="#national-speck-library-program">National Speck Library Program</a> and our
      <a href="#air-quality-advocate-program">Air Quality Advocate Program</a>!
   </p>
   <p>
      We have already reached our goal for this first round of our program. If you are interested in being considered
      for the next round, please complete one of the forms below and we will add you to the wait list.
   </p>
   <div class="row">
      <div class="col-sm-6">
         <a name="national-speck-library-program" class="anchor"></a>
         <h3>National Speck Library Program</h3>
         <p>
            Our goal for this national library program is to change the relationship between all citizens and the air
            pollution that affects their health. Together with you, we can take a major step in this direction by
            improving equitable access to Speck air quality monitors across the country.
         </p>
         <p>
            As a participating library, you will receive the following:
         </p>
         <ol>
            <li>Three Speck monitors per library branch, free of charge</li>
            <li>15% discount on any additional Specks purchased (on top of relevant bulk discounts)</li>
            <li>
               Printed material (plus design files, upon request) to support circulation of Specks, including:
               <ol type="a">
                  <li>100 informational flyers for patrons</li>
                  <li>100 comment cards to accompany each Speck when checked out</li>
               </ol>
            </li>
            <li>Webinar training on Speck</li>
            <li>Introductions to local volunteers who can assist with Speck related events and activities</li>
            <li>Tip sheet from the Carnegie Library of Pittsburgh, based on their experiences circulating Specks</li>
            <li>Access to the Speck team for troubleshooting and support</li>
         </ol>
         <p>
            Our only requirements are to:
         </p>
         <ul>
            <li>Circulate Speck monitors in your community</li>
            <li>Invite patrons to send us their <a href="specksensor.com/support/feedback" target="_blank">feedback</a></li>
            <li>Report back to us with Speck stories from your library</li>
         </ul>

         <div style="text-align: center; padding: 20px 0">
            <a href="https://docs.google.com/forms/d/1PtmkGS9urz8MnkXB048fDHbOpITXgj8Ua2fhP0BR7H4/viewform" class="btn btn-default" target="_blank">Join Wait List</a>
         </div>
      </div>
      <div class="col-sm-6" style="padding-bottom: 20px">
         <a name="air-quality-advocate-program" class="anchor"></a>
         <h3>Air Quality Advocate Program</h3>
         <p>
            Our goal for this program is to engage with awesome individual citizens to build a community of local
            experts for Speck and indoor air quality in general. Pairing this program with our National Library Program
            also has the added benefit of providing local support for libraries as they explore ways to introduce Speck
            to their patrons.
         </p>
         <p>
            As a Speck air quality advocate, you will receive the following:
         </p>
         <ol>
            <li>One free Speck</li>
            <li>Webinar training on Speck</li>
            <li>Access to the Speck team for troubleshooting and support</li>
         </ol>
         <p>
            Participation requirements are:
         </p>
         <ul>
            <li>Membership in a public library that signs up for the National Speck Library Program</li>
            <li>Ability and availability to provide 10 - 20 hours of community service during a year</li>
            <li>Enthusiasm and passion for working with other local residents and the public library</li>
         </ul>
         <div style="text-align: center; padding: 20px 0">
            <a href="https://docs.google.com/forms/d/1lGvTBowkbvkoxcZYj_IydAaIIbnECw67oexHRlC7T1U/viewform" class="btn btn-default" target="_blank">Join Wait List</a>
         </div>
      </div>
   </div>
</div>
