<div id="libraries_and_advocates_page">
   <h2>Libraries and Advocates</h2>
   <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
   </p>
   <div class="row">
      <div class="col-sm-6">
         <h4>National Speck Library Program</h4>
         <p>
            Our goal for this national library program is to change the relationship between all citizens and the air
            pollution that affects their health. Together with you, we can take a major step in this direction by
            improving equitable access to Speck air quality monitors across the country. We are offering 3 free Specks,
            informational materials, and training to public libraries that agree to make the Specks available on loan to
            their patrons.
         </p>
         <div style="text-align: center; padding: 20px 0">
            <a href="https://docs.google.com/forms/d/1UIvc81SwFCQZQzRK3XxwMOWujFogTeChj68ssNnNbIM/viewform" class="btn btn-default" target="_blank">Apply Now</a>
         </div>
      </div>
      <div class="col-sm-6" style="padding-bottom: 20px">
         <h4>Air Quality Advocate Program</h4>
         <p>
            Our goal for this program is to engage with awesome individuals like you to build a community of local
            experts for Speck and indoor air quality in general. Pairing this program with our National Library Program
            also has the added benefit of providing local support for libraries as they explore ways to introduce Speck
            to their patrons. Upon admission, you will receive 1 free Speck!
            <span id="extra_padding">&nbsp;</span>
         </p>
         <div style="text-align: center; padding: 20px 0">
            <a href="https://docs.google.com/forms/d/1G046svCGJFSQr2QZxjdm6YIVqaZeTvmmcWWvjMdmfO8/viewform" class="btn btn-default" target="_blank">Apply Now</a>
         </div>
      </div>
   </div>
</div>
