<div id="about_us_page" class="clearfix">
   <h2>About Us</h2>
   <div class="row">
      <div class="col-sm-6" style="margin-bottom:20px">
         <p>
            Speck is a product of <a href="http://www.airvizinc.com/" target="airviz">Airviz Inc.</a>, which is a spinoff from the
            <a href="http://www.cmucreatelab.org" target="_blank">CREATE Lab</a>
            at the <a href="http://www.cmu.edu" target="_blank">Carnegie Mellon University</a>
            <a href="http://www.ri.cmu.edu" target="_blank">Robotics Institute</a>.  Speck
            is manufactured under license from Carnegie Mellon University.
            Our goal is to empower everyday citizens to improve the air they breathe.
         </p>
         {{#if isJobsPageEnabled}}
            <p>
               Interested in working for Airviz? Check out our <a href="/jobs">jobs</a> page.
            </p>
         {{/if}}
      </div>
      <div id="about_us_logos" class="col-sm-6">
         <a href="http://www.cmu.edu" target="_blank"><img id="cmu_logo" src="/images/CMU_logo_horiz_red.png" alt="cmu_logo"></a><br>
         <a href="http://www.cmucreatelab.org" target="_blank"><img src="/images/createlab_logo.png" alt="createlab_logo"></a>
      </div>
      <div class="col-sm-12" style="margin-top:20px;">
         Need to get in touch with us?  Please see our <a href="/support/contact-us">contact</a> page.
      </div>
   </div>
</div>