<div class="content_container">
   <h2>Account Details</h2>
   <div class="account_table">
      <div class="account_row">
         <div class="account_cell account_header_cell">Email address:</div>
         <div class="account_cell">{{userInfo.email}}</div>
      </div>
   </div>
</div>
