<h2>User Profile</h2>
<div class="account_table">
   <div class="account_row">
      <div class="account_cell account_header_cell">Email address:</div>
      <div class="account_cell">{{userInfo.email}}</div>
   </div>
</div>
