<div id="buy_page" class="clearfix">
   <h2>Get a Speck</h2>
   <div class="row">
      <div class="col-sm-12">
         <p>
            Thank you for your interest in Speck! Unfortunately, we have discontinued the Speck and have
            pivoted to work on B2B solutions as we develop our next-generation sensor.
         </p>
         <p>
            We do however have a number of <a href="/learn/libraries-and-advocates">library branches across the
            country</a> that carry Specks to loan to their patrons and are still supporting our current customers.
            Hopefully there is a library close to you!
         </p>
         <p>
            If you would like to be notified of future product announcements, please {{> mailto
            email="sales@specksensor.com" subject="Please%20add%20me%20to%20your%20mailing%20list" text="contact us"}}
            and we'll add you to our mailing list.
         </p>
      </div>
   </div>
</div>
