<h2>Contact</h2>
<p>
   Interested in buying a Speck?  <a href="/buy">Order now!</a>
</p>
<p>
   For all other inquiries, please contact us at <a href="mailto:info@specksensor.com?Subject=Inquiry%20about%20Speck" target="_top">info@specksensor.com</a>.
</p>

