<h2>Contact</h2>
<p>
   To preorder a Speck, please see the <a href="/buy">Speck preorder page</a>.
</p>
<p>
   For all other inquiries, please contact us at <a href="mailto:info@specksensor.com?Subject=Inquiry%20about%20Speck" target="_top">info@specksensor.com</a>.
</p>

