<div id="home_page">
   <div class="row">
      <div class="col-lg-12">
         <h1 class="page-header">
            Introducing Speck
         </h1>
      </div>
      <div class="col-md-3">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h4>About Speck</h4>
            </div>
            <div class="panel-body">
               <p>
                  Speck is an air quality monitor that detects fine particulate matter in your indoor environment and
                  informs you about trends and changes in particle concentration.
                  Simply plug the Speck into a standard
                  wall outlet to begin measuring your air quality.
               </p>
               <a href="#" class="btn btn-default">Learn More</a>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h4>Fine Particles</h4>
            </div>
            <div class="panel-body">
               <p>Fine particles (PM<sub>2.5</sub>) are invisible to the naked eye, but can have very harmful impacts on your health. These pollutants can lodge deep into your lungs because they are only about 1/30<sup>th</sup> the size of a human hair.
               </p>
               <a href="#" class="btn btn-default">Learn More</a>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h4>Particle Sources</h4>
            </div>
            <div class="panel-body">
               <p>Fine particles are produced by many sources, including household activities such as cooking and cleaning. Understanding how these particles are generated can help you take better control of the air you breathe at home.</p>
               <a href="#" class="btn btn-default">Learn More</a>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h4>Pathways to Better Air</h4>
            </div>
            <div class="panel-body">
               <p>By monitoring readings on the Speck you can become an expert about your air quality, and run experiments to test a variety of approaches to reduce fine particle concentration in your home.</p>
               <a href="#" class="btn btn-default">Learn More</a>
            </div>
         </div>
      </div>
   </div>
</div>
