<script type="text/javascript">
   $(document).ready(function() {
      $('.carousel').carousel({
         interval : 6000 // changes the speed (millis)
      });

      var bannerTemplate = Handlebars.templates['home_page_banner'];
      var bannerElement = $(bannerTemplate());
      $("#hero_image").before(bannerElement);
      window.setTimeout(function() {
         bannerElement.slideDown();
      }, 300);
   });
</script>
<div id="home_page">
   <div class="home_hero_text_alternate">
      <div style="text-align: center;font-size: 36px;font-weight:200">Meet Speck</div>
      <div style="text-align: center;font-size: 24px;font-weight:100">
         The indoor air&nbsp;quality&nbsp;monitor<br>empowering you to breathe&nbsp;easier
      </div>
   </div>

   <div class="intro_section section">
      <div class="row">
         <div class="content col-sm-6">
            <div class="main_title text-center">Air Quality Matters</div>
            <div class="description">
               Poor air quality is a serious global health problem, affecting billions of people every day. The air we
               breathe indoors is most often polluted by our own actions, causing fine particles (PM2.5) to be released
               into our homes. Common sources can include burning kerosene, wood or oil, smoking tobacco products,
               releases from household cleaners, pesticides, building materials and more. Fine particles are so small
               that they are invisible to the naked eye, but large enough to lodge deep into our lungs, get into our
               bloodstream, and cause illnesses such as asthma, heart disease, chronic bronchitis, emphysema and
               pneumonia. Speck was developed to help you monitor the actions that take place at home, work, or school
               and empower you to make changes to improve your personal air quality!
            </div>
         </div>
         <div class="content col-sm-6">
            <div class="main_title text-center">How Can Speck Help You?</div>
            <div class="description">
               The Speck detects fine particulate matter (PM<sub>2.5</sub>) in your indoor environment and informs you about
               changes and trends in particle concentration. Our mission is to provide an affordable tool that makes the
               invisible visible, and empowers you to make informed decisions about how to improve your personal air
               quality. Use Speck to test whether your vacuum exudes particles, whether your cleaning products are
               making your employees cough, whether your kitchen range hood exhausts to your child’s bedroom and more.
            </div>
            <div class="testimonial">
               <div class="bubble">
                  <table border="0" cellpadding="0" cellspacing="0">
                     <tr>
                        <td valign="top"><i class="fa fa-quote-left"></i></td>
                        <td>
                           <div class="quote">
                              We are inseparable from the air we breathe. The Speck Sensor opens the doors to cleaner air
                              and understanding when we are at risk.
                           </div>
                        </td>
                        <td valign="bottom"><i class="fa fa-quote-right"></i></td>
                     </tr>
                  </table>
               </div>
               <div class="source text-right">Daniel Arnett, Pittsburgh PA, USA</div>
            </div>
         </div>
      </div>
   </div>

   <div class="section">
      <div class="row item">
         <div class="content col-md-4 col-sm-12 col-xs-12">
            <div class="title">Effortlessly Informative</div>
            <div class="description">
               Getting started with Speck is simple. Simply plug it in...there is no step two! Within seconds, Speck
               will begin reporting your air quality. Move Speck around your home to see what happens when you cook,
               when you open windows, or when pets are in your bedroom. This immediate and continual feedback about how
               your activities and environment affect the air you're breathing empowers you to experiment, learn, and
               take action to make improvements.
            </div>
            <div class="testimonial">
               <div class="bubble">
                  <table border="0" cellpadding="0" cellspacing="0">
                     <tr>
                        <td valign="top"><i class="fa fa-quote-left"></i></td>
                        <td>
                           <div class="quote">
                              My Speck works splendidly. An instructive little device. For example, I had it running when I put
                              out a candle. After the operation, I threw away all my candlesticks. And then I understood that I
                              myself am the greatest problem of air pollution. I pull up dust when I am at home, and when I'm
                              out the reading drops considerably...I learn a lot, and that's the main thing. :-)
                           </div>
                        </td>
                        <td valign="bottom"><i class="fa fa-quote-right"></i></td>
                     </tr>
                  </table>
               </div>
               <div class="source text-right">Lasse U., Sweden</div>
            </div>
         </div>
         <div class="figure col-md-7 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
            <img class="img-responsive" src="/images/speck_on_glass_table_with_outdoor_aq.jpg" alt=""/>
            <div class="figure_caption"></div>
         </div>
      </div>
   </div>

   <div class="section_divider"></div>

   <div class="section">
      <div class="row item">
         <div class="content col-md-4 col-sm-12 col-xs-12 col-md-push-8 col-sm-push-0 col-xs-push-0">
            <h3 class="title">Trends and History</h3>
            <div class="description">
               <p>
                  Striving to make Speck as friendly and easy-to-use as possible, we gave it a bright, full-color
                  touchscreen with a distinct color palette and a large, easily readable font. Your air quality,
                  available at a glance.
               </p>
               <p>
                  On screen, Speck displays recent historical data with just a tap. Toggle views of the past 12 hours or
                  past 1 hour of data to see how long it takes for air quality to stabilize after you cook. Does it
                  improve with the use of an air purifier? Quick access to the history makes discovering trends and
                  analyzing the effects of your activities easy.
               </p>
            </div>

            <div class="testimonial">
               <div class="bubble">
                  <table border="0" cellpadding="0" cellspacing="0">
                     <tr>
                        <td valign="top"><i class="fa fa-quote-left"></i></td>
                        <td>
                           <div class="quote">
                              The biggest surprises were how different household activities affected the readings. I had
                              thought opening the windows would freshen the air - not so!
                           </div>
                        </td>
                        <td valign="bottom"><i class="fa fa-quote-right"></i></td>
                     </tr>
                  </table>
               </div>
               <div class="source text-right">Speck user, USA</div>
            </div>
         </div>
         <figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-pull-4 col-sm-pull-0 col-xs-pull-0">
            <img class="img-responsive" src="/images/speck_history_with_air_plant.jpg" alt=""/>
            <div class="figure_caption"></div>
         </figure>
      </div>
   </div>

   <div class="section_divider"></div>

   <div class="section">
      <div class="row item">
         <div class="content col-md-4 col-sm-12 col-xs-12">
            <div class="title">Your&nbsp;Data, Accessible&nbsp;Anywhere</div>
            <div class="description">
               <p>
                  Steadfast in our belief that your data is exactly that&mdash;<i>your</i> data&mdash;we provide multiple ways
                  for you to access it: on screen, via download, or in the cloud.
               </p>
               <p>
                  Speck is constantly recording data samples, and has enough memory to store about two years worth of
                  data. You can download data samples to your computer using our free
                  <a href="/support/software">Speck software</a>.
               </p>
               <p>
                  Alternatively, you can choose to take advantage of Speck's built-in Wi-Fi and configure your Speck to
                  upload its data to your account on specksensor.com. Log in and keep tabs on your home's air quality in
                  real time, from anywhere, using your computer or mobile device. Explore the full history of your data
                  with our zoomable graphs. Download your data&mdash;all of it, or any subset&mdash;at any time.
               </p>
               <p>
                  On the go? Use our iOS or Android mobile app to see your Speck's current value in real time, and
                  compare with government Air Quality Index (AQI) stations.
               </p>
            </div>
            <div class="testimonial">
               <div class="bubble">
                  <table border="0" cellpadding="0" cellspacing="0">
                     <tr>
                        <td valign="top"><i class="fa fa-quote-left"></i></td>
                        <td>
                           <div class="quote">
                              Speck is IoT [Internet of Things] done right.
                           </div>
                        </td>
                        <td valign="bottom"><i class="fa fa-quote-right"></i></td>
                     </tr>
                  </table>
               </div>
               <div class="source text-right">Dr. Andrew Moore, Dean&nbsp;of&nbsp;CMU's&nbsp;School of Computer&nbsp;Science</div>
            </div>
         </div>
         <div class="figure col-md-7 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
            <img class="img-responsive" src="/images/website-responsive-design.png" alt=""/>
            <div class="figure_caption">
               {{> mobile-app-buttons margin="50px auto"}}
            </div>
         </div>
      </div>
   </div>

   <div class="testimonials">
      <h2 class="title text-center">What&nbsp;Are&nbsp;People Saying&nbsp;About&nbsp;Speck?</h2>
      <div id="testimonials-carousel" class="carousel slide" data-ride="carousel">
         <div class="carousel_controls">
            <table border="0" cellpadding="0" cellspacing="0" align="center">
               <tr>
                  <td>
                     <div id="carousel_prev_button" class="carousel_pager">
                        <a href="#testimonials-carousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                     </div>
                  </td>
                  <td>
                     <ol class="carousel-indicators">
                        <li data-target="#testimonials-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#testimonials-carousel" data-slide-to="1"></li>
                        <li data-target="#testimonials-carousel" data-slide-to="2"></li>
                        <li data-target="#testimonials-carousel" data-slide-to="3"></li>
                        <li data-target="#testimonials-carousel" data-slide-to="4"></li>
                        <li data-target="#testimonials-carousel" data-slide-to="5"></li>
                        <li data-target="#testimonials-carousel" data-slide-to="6"></li>
                        <li data-target="#testimonials-carousel" data-slide-to="7"></li>
                        <li data-target="#testimonials-carousel" data-slide-to="8"></li>
                        <li data-target="#testimonials-carousel" data-slide-to="9"></li>
                        <li data-target="#testimonials-carousel" data-slide-to="10"></li>
                        <li data-target="#testimonials-carousel" data-slide-to="11"></li>
                     </ol>
                  </td>
                  <td>
                     <div id="carousel_next_button" class="carousel_pager">
                        <a href="#testimonials-carousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                     </div>
                  </td>
               </tr>
            </table>

         </div>
         <div class="carousel-inner">
            <div class="item active">
               <div class="content">
                  <table border="0" cellpadding="0" cellspacing="0">
                     <tr>
                        <td valign="top"><i class="fa fa-quote-left"></i></td>
                        <td>
                           <div class="quote">
                              My husband and son have asthma and the Speck has been very informative about why their
                              symptoms are worse at night.&nbsp;<i class="fa fa-quote-right"></i>
                           </div>
                        </td>
                     </tr>
                  </table>
               </div>
            </div>
            <div class="item">
               <div class="content">
                  <table border="0" cellpadding="0" cellspacing="0">
                     <tr>
                        <td valign="top"><i class="fa fa-quote-left"></i></td>
                        <td>
                           <div class="quote">
                              <a href="https://twitter.com/awmcmu/status/651415018546835457" target="_blank">Love @cmucreatelab's Speck: taking power to regular people in air quality decisions.</a>&nbsp;<i class="fa fa-quote-right"></i>
                           </div>
                           <div class="source">
                              <div class="source_name">Dr. Andrew Moore</div>
                              <div class="source_title">Dean of CMU's School of Computer Science</div>
                           </div>
                        </td>
                     </tr>
                  </table>
               </div>
            </div>
            <div class="item">
               <div class="content">
                  <table border="0" cellpadding="0" cellspacing="0">
                     <tr>
                        <td valign="top"><i class="fa fa-quote-left"></i></td>
                        <td>
                           <div class="quote">
                              I absolutely love being able to measure the air quality of what I'm breathing in &mdash; the
                              Speck is a very empowering tool.&nbsp;<i class="fa fa-quote-right"></i>
                           </div>
                        </td>
                     </tr>
                  </table>
               </div>
            </div>
            <div class="item">
               <div class="content">
                  <table border="0" cellpadding="0" cellspacing="0">
                     <tr>
                        <td valign="top"><i class="fa fa-quote-left"></i></td>
                        <td>
                           <div class="quote">
                              I have learned a surprising amount about my home and work environment and have found
                              solutions to problems. I'm breathing easier!&nbsp;<i class="fa fa-quote-right"></i>
                           </div>
                        </td>
                     </tr>
                  </table>
               </div>
            </div>
            <div class="item">
               <div class="content">
                  <table border="0" cellpadding="0" cellspacing="0">
                     <tr>
                        <td valign="top"><i class="fa fa-quote-left"></i></td>
                        <td>
                           <div class="quote">
                              I found myself checking the display each time I walked past. It was a useful and interesting
                              data point about our lives that had not been revealed before.&nbsp;<i class="fa fa-quote-right"></i>
                           </div>
                        </td>
                     </tr>
                  </table>
               </div>
            </div>
            <div class="item">
               <div class="content">
                  <table border="0" cellpadding="0" cellspacing="0">
                     <tr>
                        <td valign="top"><i class="fa fa-quote-left"></i></td>
                        <td>
                           <div class="quote">
                              The Speck gave me a sense of relief to know that the air in my home was basically good,
                              since I live near a coke plant that exceeds particulate emission standards many days a
                              year!&nbsp;<i class="fa fa-quote-right"></i>
                           </div>
                        </td>
                     </tr>
                  </table>
               </div>
            </div>
            <div class="item">
               <div class="content">
                  <table border="0" cellpadding="0" cellspacing="0">
                     <tr>
                        <td valign="top"><i class="fa fa-quote-left"></i></td>
                        <td>
                           <div class="quote">
                              The Speck opened our eyes to all of the ways that we could improve and control the air
                              quality in our home. Fantastic information!&nbsp;<i class="fa fa-quote-right"></i>
                           </div>
                        </td>
                     </tr>
                  </table>
               </div>
            </div>
            <div class="item">
               <div class="content">
                  <table border="0" cellpadding="0" cellspacing="0">
                     <tr>
                        <td valign="top"><i class="fa fa-quote-left"></i></td>
                        <td>
                           <div class="quote">
                              It's been fun watching the reading on the Speck go up and down in response to predictable
                              stimuli.&nbsp;<i class="fa fa-quote-right"></i>
                           </div>
                        </td>
                     </tr>
                  </table>
               </div>
            </div>
            <div class="item">
               <div class="content">
                  <table border="0" cellpadding="0" cellspacing="0">
                     <tr>
                        <td valign="top"><i class="fa fa-quote-left"></i></td>
                        <td>
                           <div class="quote">
                              The Speck is great. I've found it very beneficial as someone who is very concerned about
                              my health.&nbsp;<i class="fa fa-quote-right"></i>
                           </div>
                        </td>
                     </tr>
                  </table>
               </div>
            </div>
            <div class="item">
               <div class="content">
                  <table border="0" cellpadding="0" cellspacing="0">
                     <tr>
                        <td valign="top"><i class="fa fa-quote-left"></i></td>
                        <td>
                           <div class="quote">
                              I think Specks will be super useful to many, many people in the future, including
                              asthmatics like myself.&nbsp;<i class="fa fa-quote-right"></i>
                           </div>
                        </td>
                     </tr>
                  </table>
               </div>
            </div>
            <div class="item">
               <div class="content">
                  <table border="0" cellpadding="0" cellspacing="0">
                     <tr>
                        <td valign="top"><i class="fa fa-quote-left"></i></td>
                        <td>
                           <div class="quote">
                              I never thought about the invisible particles floating around before. It was interesting
                              to watch the monitor spike and then drop. After the first time, I was more confident that
                              the spike would drop again. I totally knew the cause.&nbsp;<i class="fa fa-quote-right"></i>
                           </div>
                        </td>
                     </tr>
                  </table>
               </div>
            </div>
            <div class="item">
               <div class="content">
                  <table border="0" cellpadding="0" cellspacing="0">
                     <tr>
                        <td valign="top"><i class="fa fa-quote-left"></i></td>
                        <td>
                           <div class="quote">
                              Mostly the Speck has been fun to have and has certainly been the topic of conversation
                              whenever someone sees it for the first time - so it has been good at initiating
                              conversations about air quality - which is a good thing in my
                              opinion.&nbsp;<i class="fa fa-quote-right"></i>
                           </div>
                        </td>
                     </tr>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-md-4">
         <div id="main_feature_teaser_screen" class="main_feature_teaser">
            <div class="icon speck_icon"></div>
            <div class="teaser_content">
               <div class="teaser_title">
                  <h4><span class="no_wrap">Air quality</span> <span class="no_wrap">at a glance</span></h4>
               </div>
               <div class="teaser_description">
                  Speck's bright, full-color screen with large type and distinct palette ensures your air quality is
                  easily visible with just a glance.
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div id="main_feature_teaser_history" class="main_feature_teaser">
            <div class="icon graph_icon"></div>
            <div class="teaser_content">
               <div class="teaser_title">
                  <h4><span class="no_wrap">Explorable history</span></h4>
               </div>
               <div class="teaser_description">
                  View recent data on the Speck, or log in to your specksensor.com account to explore
                  or download the full history.
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div id="main_feature_teaser_cloud" class="main_feature_teaser">
            <div class="icon cloud_icon"></div>
            <div class="teaser_content">
               <div class="teaser_title">
                  <h4><span class="no_wrap">Accessible anywhere</span></h4>
               </div>
               <div class="teaser_description">
                  With built-in Wi-Fi, Speck can upload its data to specksensor.com. Check your air quality
                  in real time, from anywhere.
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="text-center" style="margin-top:20px;margin-bottom:60px;">
      <a class="btn btn-lg btn-default" href="http://store.specksensor.com/">
         <img class="tiny_buy_icon" src="/images/tiny_buy_icon.png">
         Buy Now
      </a>
   </div>
</div>
