<script src="/js/testimonial_rotator.js" type="text/javascript"></script>

<div id="home_page">
   <div class="row">
      <div class="col-lg-12">
         <h1 class="page-header">
            Introducing Speck
         </h1>
      </div>
      <div class="col-lg-12 home_page_font">
         Speck is an air quality monitor that detects fine particulate matter in your indoor environment and informs you
         about trends and changes in particle concentration. Simply plug the Speck into a standard wall outlet to begin
         measuring your air quality.
      </div>
      <div class="col-lg-12">
         <div class="col-md-3 col-circle1">
            <div class="panel panel-default main-circle main-circle1">
               <div class="panel-body">
                  Measure Air Quality in your Home Environment
               </div>
            </div>
         </div>
         <div class="col-md-3 col-circle2">
            <div class="panel panel-default main-circle main-circle2">
               <div class="panel-body">
                  Use Historical Trends to Improve your Air Quality
               </div>
            </div>
         </div>
         <div class="col-md-3 col-circle3">
            <div class="panel panel-default main-circle main-circle3">
               <div class="panel-body">
                  Get Instant Mobile Access to Home Health Reading
               </div>
            </div>
         </div>
      </div>
      <div class="col-lg-12">
         <h1 class="page-header">
            Empowerment
         </h1>
      </div>
      <div class="col-lg-12 home_page_font">
         <p>
            At its core, Speck is about empowerment. Our goal is to provide everyday citizens with an affordable tool
            that makes the invisible visible, and enables you to make informed decisions about how to improve your
            air quality. Data collected with Speck belong to you, its user, and <i>you</i> have the power to decide how
            to apply that information and take action to breathe easier.
         </p>
         <p>
            To learn more about Speck and empowerment, watch Illah Nourbakhsh's SxSW talk:
         </p>
         <div style="text-align: center">
            <iframe id="intro_video" src="https://www.youtube.com/embed/zSRdGM0Mowc" frameborder="0" allowfullscreen></iframe>
         </div>
      </div>
      <div class="col-lg-12">
         <h1 class="page-header">
            Testimonials
         </h1>
         <div class="testimonials">
            <p class="ts1"></p>
            <p class="ts2"></p>
            <p class="ts3"></p>
         </div>
      </div>
   </div>
</div>
