<div id="home_page">
   <div class="overlay_container">
     <div id="home_page_image_overlay" class="noselect">
        <p>
           The <b>Speck</b> monitors <b>fine particle concentration levels</b> in your home,
           and empowers you to <b>understand</b> and <b>take control</b> of your <b>air quality</b>.
        </p>
     </div>
     <div><img src="images/homepage.png" height="445" width="1130"></div>
   </div>

   <div class="fill_line"></div>

   <table id="main_points">
      <tr>
         <td class="content_cell">
            {{!--<a href="/what_is_speck">--}}
               <div class="rounded_container">
                 <p class="rounded_container_title">SPECK INFO</p>
                 <p class="rounded_container_content">Speck is an air quality monitor that detects fine particulate matter in your indoor environment and informs you about trends and changes in particle concentration. Simply plug the Speck into a standard wall outlet to begin measuring your air quality.</p>
                 {{!--<p class="rounded_container_end">Read More...</p>--}}
               </div>
            {{!--</a>--}}
         </td>
         <td class="spacer_cell"></td>
         <td class="content_cell">
            {{!--<a href="/what_is_pm">--}}
               <div class="rounded_container">
                 <p class="rounded_container_title">FINE PARTICLES</p>
                 <p class="rounded_container_content">Fine particles (PM<sub>2.5</sub>) are invisible to the naked eye, but can have very harmful impacts on your health. These pollutants can lodge deep into your lungs because they are only about 1/30<sup>th</sup> the size of a human hair.
                 </p>
                 {{!--<p class="rounded_container_end">Read More...</p>--}}
               </div>
            {{!--</a>--}}
         </td>
         <td class="spacer_cell"></td>
         <td class="content_cell">
            {{!--<a href="/pm_sources">--}}
               <div class="rounded_container">
                 <p class="rounded_container_title">PARTICLE SOURCES</p>
                 <p class="rounded_container_content">Fine particles are produced by many sources, including household activities such as cooking and cleaning. Understanding how these particles are generated can help you take better control of the air you breathe at home.</p>
                 {{!--<p class="rounded_container_end">Read More...</p>--}}
               </div>
            {{!--</a>--}}
         </td>
         <td class="spacer_cell"></td>
         <td class="content_cell">
            {{!--<a href="/pathways_to_better_air">--}}
               <div class="rounded_container">
                 <p class="rounded_container_title">PATHWAYS TO BETTER AIR</p>
                 <p class="rounded_container_content">By monitoring readings on the Speck you can become an expert about your air quality, and run experiments to test a variety of approaches to reduce fine particle concentration in your home.</p>
                 {{!--<p class="rounded_container_end">Read More...</p>--}}
               </div>
            {{!--</a>--}}
         </td>
      </tr>
   </table>
</div>