<div id="jobs_page" class="clearfix">
   <h2>Jobs</h2>
   {{#if isJobsPageEnabled}}
      <div class="row">
         <div class="col-sm-12">
            <h3>Hardware Engineer</h3>
            <p>
               Airviz is looking for an experienced, self-motivated Electronics / Hardware Engineer to help us build air quality monitors for business and consumer facing products. Significant experience with analog sensing, battery and low power applications, and low voltage power supply design is an absolute necessity. Flexibility and exceptional communication skills are crucial to success in this position.
            </p>
            <p>
               <b>Key Responsibilities</b>
            </p>
            <ul>
               <li>Building analog and digital circuits from design, through simulation, prototyping, and testing on PCBs, to small scale production.</li>
               <li>Integrating custom analog and digital circuitry with 3rd party wireless modules.</li>
               <li>Independently organizing, planning, sourcing, and scheduling prototype fabrication.</li>
               <li>Communicating progress and milestones to leadership and peers.</li>
               <li>Organizing hardware design related input files, output, documentation, etc in revision control (git)</li>
               <li>Developing and maintaining a strong relationship with non-technical clients and customers, including communicating roadblocks and providing status updates.</li>
               <li>Proactively identifying additional work for hardware development and scoping own work realistically.</li>
               <li>Estimating schedules and resource requirements for multiple concurrent projects.</li>
               <li>Thinking strategically about projects, including the ensuring goals are met and thoroughly documented, as well as stepping back to assess progress and final direction.</li>
               <li>Giving presentations about our work and creating business proposals to customers and business partners.</li>
            </ul>
            <p>
               <b>Qualifications</b>
            </p>
            <ul>
               <li>Expertise in analog and digital circuit design and debugging, SPICE simulation.</li>
               <li>Expertise in low power applications and low voltage power supply design.</li>
               <li>Strong electronics and hardware engineering experience and can be a team leader.</li>
               <li>Familiarity with battery and power systems.</li>
               <li>Familiarity with integrating wireless communications modules with custom circuitry.</li>
               <li>Ability to create schematic capture and PCB layouting with EAGLE / Kicad / geda.</li>
            </ul>
            <p>
               <b>Interpersonal Skills</b>
            </p>
            <ul>
               <li>Strong commitment to CREATE Lab's <a href="http://cmucreatelab.org/files/create_lab_white_paper.pdf" target="mission">mission and motivations</a>.</li>
               <li>Strong internal and external communication skills in written and verbal actions. Proactive communication and transparency in your creative process is important.</li>
               <li>Critical thinker and observer who can give and accept feedback as part of a small team.</li>
               <li>Strong emotional intelligence that shows via interpersonal relationships, social awareness, resilience, empathy, and listening.</li>
               <li>Self-motivated with the drive to work independently and the wisdom to know when to ask for help.</li>
            </ul>

            <h3>Firmware Engineer</h3>
            <p>
               Airviz is looking for an experienced, self-motivated Firmware Engineer to help us build air quality
               monitors for business and consumer facing products. Significant experience with software development and
               Bluetooth/BLE configuration is an absolute necessity. Flexibility and exceptional communication skills
               are crucial to success in this position.
            </p>
            <p>
               <b>Key Responsibilities</b>
            </p>
            <ul>
               <li>Write firmware for several new environmental sensor technologies that are under development.</li>
               <li>Independently create test apps to thoroughly test key features of firmware.</li>
               <li>Communicate progress and milestones to leadership on a daily basis.</li>
               <li>Strong ability to develop and maintain a strong relationship with non-technical clients and customers, including communicating roadblocks and providing status updates.</li>
               <li>Ability to proactively identify additional work for firmware development.</li>
               <li>Estimate project schedules and resource requirements for multiple endeavors.</li>
               <li>Think strategically about projects, including the ability to ensure all project deliverables are addressed and thoroughly documented and step back to assess progress and final direction.</li>
               <li>Must be able to give presentations about our work and make business proposals to customers and others in the market.</li>
            </ul>
            <p>
               <b>Qualifications</b>
            </p>
            <ul>
               <li>Expertise in BLE protocols and hardware modules.</li>
               <li>Embedded WiFi and HTTP experience. Experience with HTTPS in an embedded environment is a plus.</li>
               <li>Must have strong software engineering experience and can be a team leader.</li>
               <li>Experience with 8-bit and 32-bit microcontroller bare-metal programming; Atmel line preferred.</li>
               <li>Familiarity with battery and power systems.</li>
               <li>Familiarity with Raspberry Pi or Linux driver and library development.</li>
               <li>Java, Python, Javascript, and/or Swift programming experience a bonus.</li>
            </ul>
            <p>
               <b>Interpersonal Skills</b>
            </p>
            <ul>
               <li>Strong commitment to CREATE Lab's <a href="http://cmucreatelab.org/files/create_lab_white_paper.pdf" target="mission">mission and motivations</a>.</li>
               <li>Strong internal and external communication skills in written and verbal actions. Proactive communication and transparency in your creative process is important.</li>
               <li>Critical thinker and observer who can give and accept feedback as part of a small team.</li>
               <li>Strong emotional intelligence that shows via interpersonal relationships, social awareness, resilience, empathy, and listening.</li>
               <li>Self-motivated with the drive to work independently and the wisdom to know when to ask for help.</li>
            </ul>
            <h3>About Airviz</h3>
            <p>
               Airviz, maker of the Speck air quality sensor and the most recent daughter company of the CREATE Lab at
               Carnegie Mellon's Robotics Institute, is inventing new technologies that empower citizens everywhere to
               take control of their indoor air quality and improve their quality of life. As a Pittsburgh startup
               company with funding already secured and a deep culture of collaboration with CREATE, we are ready to
               hire a strong Pittsburgh-based firmware engineering lead who will develop and manage the interactive code
               for new products in our development line and for the Speck monitor.
            </p>
            <p>
               Our team is small and we are a rapidly developing tech startup. It is critical that applicants are driven
               to meet and exceed expectations while remaining exceptionally adaptive to new challenges and shifting
               priorities. Meeting individual deadlines will be critical to the success of the company at large.
               Occasionally, this may involve working beyond normal hours in order to complete tasks on time. Because we
               are driven by milestones, this also allows us to be very flexible with hours and personal needs as long
               as task expectations are being met, and we pride ourselves on a supportive and personal work environment.
               Like us, applicants should be driven by the concept of empowerment through the democratization of science
               and personal health, and the application of technology to address social and economic disparity.
            </p>
            <p>
               Airviz will begin interviews on a rolling basis until this position is filled. The compensation package will
               be generous and competitive. Please
               {{> mailto email="sara@specksensor.com" subject="Firmware%20Engineer%20job%20application" text="email your CV to Sara Longo"}},
               Operations Manager at Airviz, to be considered for this position.
            </p>
         </div>
      </div>
   {{else}}
      <div>
         Sorry, we have no open positions at this time.
      </div>
   {{/if}}
</div>
