<div id="jobs_page" class="clearfix">
   <h2>Jobs</h2>
   {{#if isJobsPageEnabled}}
      <div class="row">
         <div class="col-sm-12">
            <h3>Firmware Engineer</h3>
            <p>
               Airviz is looking for an experienced, self-motivated Firmware Engineer to help us build air quality
               monitors for business and consumer facing products. Significant experience with software development and
               Bluetooth/BLE configuration is an absolute necessity. Flexibility and exceptional communication skills
               are crucial to success in this position.
            </p>
            <p>
               <b>Key Responsibilities</b>
               <ul>
                  <li>Write firmware for several new environmental sensor technologies that are under development.</li>
                  <li>Independently create test apps to thoroughly test key features of firmware.</li>
                  <li>Communicate progress and milestones to leadership on a daily basis.</li>
                  <li>Strong ability to develop and maintain a strong relationship with non-technical clients and customers, including communicating roadblocks and providing status updates.</li>
                  <li>Ability to proactively identify additional work for firmware development.</li>
                  <li>Estimate project schedules and resource requirements for multiple endeavors.</li>
                  <li>Think strategically about projects, including the ability to ensure all project deliverables are addressed and thoroughly documented and step back to assess progress and final direction.</li>
                  <li>Must be able to give presentations about our work and make business proposals to customers and others in the market.</li>
               </ul>
            </p>
               <b>Qualifications</b>
               <ul>
                  <li>Expertise in BLE protocols and hardware modules.</li>
                  <li>Embedded WiFi and HTTP experience. Experience with HTTPS in an embedded environment is a plus.</li>
                  <li>Must have strong software engineering experience and can be a team leader.</li>
                  <li>Experience with 8-bit and 32-bit microcontroller bare-metal programming; Atmel line preferred.</li>
                  <li>Familiarity with battery and power systems.</li>
                  <li>Familiarity with Raspberry Pi or Linux driver and library development.</li>
                  <li>Java, Python, Javascript, and/or Swift programming experience a bonus.</li>
               </ul>
            </p>
            <h3>About Airviz</h3>
            <p>
               Airviz, maker of the Speck air quality sensor and the most recent daughter company of the CREATE Lab at
               Carnegie Mellon's Robotics Institute, is inventing new technologies that empower citizens everywhere to
               take control of their indoor air quality and improve their quality of life. As a Pittsburgh startup
               company with funding already secured and a deep culture of collaboration with CREATE, we are ready to
               hire a strong Pittsburgh-based firmware engineering lead who will develop and manage the interactive code
               for new products in our development line and for the Speck monitor.
            </p>
            <p>
               Our team is small and we are a rapidly developing tech startup. It is critical that applicants are driven
               to meet and exceed expectations while remaining exceptionally adaptive to new challenges and shifting
               priorities. Meeting individual deadlines will be critical to the success of the company at large.
               Occasionally, this may involve working beyond normal hours in order to complete tasks on time. Because we
               are driven by milestones, this also allows us to be very flexible with hours and personal needs as long
               as task expectations are being met, and we pride ourselves on a supportive and personal work environment.
               Like us, applicants should be driven by the concept of empowerment through the democratization of science
               and personal health, and the application of technology to address social and economic disparity.
            </p>
            <p>
               Airviz will begin interviews on a rolling basis until this position is filled. The compensation package will
               be generous and competitive. Please
               {{> mailto email="sara@specksensor.com" subject="Firmware%Engineer%20job%20application" text="email your CV to Sara Longo"}},
               Operations Manager at Airviz, to be considered for this position.
            </p>
         </div>
      </div>
   {{else}}
      <div>
         Sorry, we have no open positions at this time.
      </div>
   {{/if}}
</div>
