<div id="jobs_page" class="clearfix">
   <h2>Jobs</h2>
   {{#if isJobsPageEnabled}}
      <div class="row">
         <div class="col-sm-12">
            <h3>Senior Algorithm Engineer</h3>
            <p>
               <b>Key Responsibilities</b>
            </p>
            <p>
               <a href="http://www.airvizinc.com/" target="airviz">Airviz Inc.</a> is seeking applications for full and part-time positions in sensor engineering, algorithm
               development, and data analysis. We are currently developing affordable and cutting-edge sensor technology
               to be integrated into several very-large-volume commercial products. As we are a small team, every member
               of the company fills multiple roles. We are looking to find a core team member who is willing to adapt to
               changing roles and responsibilities as the need arises, and be willing to learn new skills and work
               outside of her or his comfort zones.
            </p>
            <p>
               One primary responsibility involves improving and maintaining a cloud-based estimation algorithm that
               processes data for a commercial product. The algorithm is written in Python and is currently gathering
               data from several thousand sensors per day, with an expected linear increase in uploaded data.
               Responsibilities include monitoring the time-series data from sensors using aggregate methods and
               qualitative evaluation, and, as more data is collected, refinement of the algorithm's outlier detection,
               precision, and accuracy. Machine learning experience is encouraged, as the algorithm is estimating a
               quantity that has no ground truth. Skills relevant to this project include, but are not limited to: data
               processing algorithms, Python, machine learning, and time-series analysis.
            </p>
            <p>
               Contingent on your prompt application and subsequent hiring, you will work closely with a mentor for the
               first few weeks in order to rapidly transfer company knowledge and needed skills. <b>If this position is
               of interest but you do not possess every desired skill listed here, please apply; the strong desire to
               learn outside of your comfort zone is one of the most important traits</b>, and we will attempt to
               rapidly bring you up to speed.
            </p>
            <p>
               As this position is of critical importance to the success of the project and the company, the applicant
               must be prepared for her or his contributions to significantly impact the direction and success of the
               company. Your responsibilities will be personalized to your strengths and passions. Salaries will be very
               competitive, and positions will also provide opportunities for interaction within the academic CMU CREATE
               Lab. Hard work and superb collaboration with the team may yield opportunities for advancement.
            </p>

            <p>
               <b>Qualifications</b>
            </p>
            <ul>
               <li>Bachelor-level degree in a related field such as computer science or robotics. M.S. or PhD is preferred.</li>
               <li>Data analysis skills including quantitative and qualitative assessment of time-series sensor measurements</li>
               <li>Familiarity with algorithm development and machine learning</li>
               <li>Statistical methods for signal processing</li>
               <li>Python or the ability to rapidly learn Python</li>
               <li>Version control and documentation</li>
               <li><b>Strong</b> interpersonal skills (see below)</li>
               <li>Some level of knowledge regarding air quality and/or airborne particulate matter is highly valued</li>
               <li>Applicants should have appropriate work permit</li>
            </ul>
            <p>
               <b>Interpersonal Skills</b>
            </p>
            <ul>
               <li>Strong commitment to CREATE Lab's
                  <a href="http://cmucreatelab.org/files/create_lab_white_paper.pdf" target="mission">mission and motivations</a>.</li>
               <li>An interest in ethics, technology, and its effects (positive and negative) on society</li>
               <li>Punctuality and adherence to critical deadlines</li>
               <li>Strong internal and external communication skills in written and verbal actions. Proactive communication and transparency in your creative process is important.</li>
               <li>Critical thinker and observer who can give and accept feedback as part of a small team.</li>
               <li>Strong emotional intelligence that shows via interpersonal relationships, social awareness, resilience, empathy, and listening.</li>
               <li>Self-motivated with the drive to work independently and the wisdom to know when to ask for help.</li>
             </ul>

            <hr>

            <h3>Senior Data Scientist</h3>
            <p>
               <b>Key Responsibilities</b>
            </p>
            <p>
               <a href="http://www.airvizinc.com/" target="airviz">Airviz Inc.</a> is seeking applications for full and part time positions in sensor testing, data management,
               and data analysis. We are currently developing affordable and cutting-edge sensor technology to be
               integrated into a large-volume commercial product. Responsibilities for this position include formulating
               and executing sensor test plans in a lab environment. Data collected during these tests must be organized
               and archived for future use. The scientist will also be responsible for analyzing the data for sensor
               performance, precision, and accuracy versus data collected from multiple reference instruments. Analysis
               should be documented through legible figures of merit and occasional verbal and written reports.
            </p>
            <p>
               Immediate responsibilities will support the development of a new low-cost air quality sensor capable of
               detecting ultrafine (<350nm) airborne particles. This includes leading the testing of current prototypes,
               interpreting and presenting testing results, and iterating on the sensor design to reduce cost, increase
               accuracy and precision.
            </p>
            <p>
               Contingent on your prompt application and subsequent hiring, you will work closely with a mentor for the
               first few weeks in order to rapidly transfer company knowledge and needed skills. <b>If this position is
               of interest but you do not possess every desired skill listed here, please apply; the strong desire to
               learn outside of your comfort zone is one of the most important traits</b>, and we will attempt to
               rapidly bring you up to speed.
            </p>
            <p>
               As this position is of critical importance to the success of the project and the company, the applicant
               must be prepared for her or his contributions to significantly impact the direction and success of the
               company. Your responsibilities will be personalized to your strengths and passions. Salaries will be very
               competitive, and positions will also provide opportunities for interaction within the academic CMU CREATE
               Lab. Hard work and superb collaboration with the team may yield opportunities for advancement.
            </p>

            <p>
               <b>Qualifications</b>
            </p>
            <ul>
               <li>Previous experience with testing in a lab environment</li>
               <li>Thorough understanding of the scientific method and its application</li>
               <li>Ability to write and execute test procedures to answer specific questions</li>
               <li>Data analysis skills including quantitative and qualitative assessment of time-series sensor measurements</li>
               <li>Comfort with basic statistics</li>
               <li>Basic knowledge of sensors and analog signals</li>
               <li><b>Strong</b> interpersonal skills (see below)</li>
               <li>Some level of knowledge regarding air quality and/or airborne particulate matter is highly valued</li>
               <li>Applicants should have appropriate work permit</li>
               <li>Also desired: Basic knowledge of electronics, optics, design for manufacturability, and/or signal processing. Computer-aided design and experience with 3D-printing are also favorable skills but not required.</li>
            </ul>
            <p>
               <b>Interpersonal Skills</b>
            </p>
            <ul>
               <li>Strong commitment to CREATE Lab's
                  <a href="http://cmucreatelab.org/files/create_lab_white_paper.pdf" target="mission">mission and motivations</a>.</li>
               <li>An interest in ethics, technology, and its effects (positive and negative) on society</li>
               <li>Punctuality and adherence to critical deadlines</li>
               <li>Strong internal and external communication skills in written and verbal actions. Proactive communication and transparency in your creative process is important.</li>
               <li>Critical thinker and observer who can give and accept feedback as part of a small team.</li>
               <li>Strong emotional intelligence that shows via interpersonal relationships, social awareness, resilience, empathy, and listening.</li>
               <li>Self-motivated with the drive to work independently and the wisdom to know when to ask for help.</li>
            </ul>

            <hr>

            <h3>Design, Marketing &amp; Communications Specialist</h3>
            <p>
               <b>Key Responsibilities</b>
            </p>
            <ul>
               <li>Help us transition from consumer-facing technology to generating B2B opportunities by increasing the awareness and understanding of the company's differentiating products and services.</li>
               <li>Coordinate the design of promotional material and distribute in online and offline channels.</li>
               <li>Advertise our company and products/services on various media channels and track ROI for marketing campaigns. We use Facebook, Twitter, and Instagram for social media.</li>
               <li>Craft and send regular newsletters with company updates.</li>
               <li>Create supporting documentation to explain complex information in a clear and concise manner. Requires working with technical and scientific staff to ensure accuracy of product descriptions.</li>
               <li>Design web pages, product pages, and graphics for air quality products.</li>
               <li>Ability to coordinate PR & event exposure to maximize reach.</li>
            </ul>
            <p>
               <b>Qualifications</b>
            </p>
            <ul>
               <li>Strong background in technology, communication, and design with an ability to show an excellent portfolio showcasing broad expertise.</li>
               <li>Proven ability to develop communications for a wide variety of audiences: businesses, schools, and the public.</li>
               <li>Ability to execute well thought out presentations in line with our mission and with client's brands.</li>
               <li>An interest and enthusiasm to work with people in education, technology, and environmental fields.</li>
               <li>Experience with formatting data into concise and visually appealing layouts.</li>
            </ul>

            <p>
               <b>Interpersonal Skills</b>
            </p>
            <ul>
               <li>Strong commitment to CREATE Lab's
                  <a href="http://cmucreatelab.org/files/create_lab_white_paper.pdf" target="mission">mission and motivations</a>.</li>
               <li>Strong internal and external communication skills in written and verbal actions. Proactive communication and transparency in your creative process is important.</li>
               <li>Critical thinker and observer who can give and accept feedback as part of a small team.</li>
               <li>Strong emotional intelligence that shows via interpersonal relationships, social awareness, resilience, empathy, and listening.</li>
               <li>Self-motivated with the drive to work independently and the wisdom to know when to ask for help.</li>
            </ul>

            <hr>

            <h3>Lab Technician</h3>
            <p>
               <a href="http://www.airvizinc.com/" target="airviz">Airviz Inc.</a> is seeking applications for full and part time positions in sensor testing, data management, and data analysis. We are currently developing affordable and cutting-edge sensor technology to be integrated into a large-volume commercial product. Responsibilities for this position include formulating and executing sensor test plans in a lab environment. Data collected during these tests must be organized and archived for future use. The employee will also be responsible for analyzing the data for sensor performance, precision, and accuracy versus data collected from multiple reference instruments. Analysis should be documented through legible figures of merit and occasional verbal and written reports.
            </p>
            <p>
               As we are a small team, every member of the company fills multiple roles. The applicant must be willing to adapt to changing roles and responsibilities as the need arises, and be willing to learn new skills and work outside of her or his comfort zones. As this position is of critical importance to the success of the project and the company, the applicant must be prepared for her or his contributions to significantly impact the direction and success of the company. Hard work and superb collaboration with the team may yield opportunities for advancement in the company and continuation of employment.
            </p>
            <p>
               <b>Qualifications</b>
            </p>
            <ul>
               <li>Previous experience with testing in a lab environment</li>
               <li>Thorough understanding of the scientific method and its application</li>
               <li>Ability to write and execute test procedures to answer specific questions</li>
               <li>Data analysis skills including quantitative and qualitative assessment of time-series sensor measurements</li>
               <li>Comfort with basic statistics</li>
               <li>Basic knowledge of sensors and analog signals</li>
               <li>Some level of knowledge regarding air quality and/or airborne particulate matter is highly valued</li>
               <li>Also desired: Basic knowledge of electronics, optics, design for manufacturability, and/or signal processing</li>
            </ul>
            <p>
               <b>Interpersonal Skills</b>
            </p>
            <ul>
               <li>Strong commitment to CREATE Lab's
                  <a href="http://cmucreatelab.org/files/create_lab_white_paper.pdf" target="mission">mission and motivations</a>.</li>
               <li>Strong internal and external communication skills in written and verbal actions. Proactive communication and transparency in your creative process is important.</li>
               <li>Critical thinker and observer who can give and accept feedback as part of a small team.</li>
               <li>Strong emotional intelligence that shows via interpersonal relationships, social awareness, resilience, empathy, and listening.</li>
               <li>Self-motivated with the drive to work independently and the wisdom to know when to ask for help.</li>
            </ul>

            <hr>

            <h3>Hardware Engineer</h3>
            <p>
               <a href="http://www.airvizinc.com/" target="airviz">Airviz Inc.</a> is looking for an experienced, self-motivated Electronics / Hardware Engineer to help us build air quality monitors for business and consumer facing products. Significant experience with analog sensing, battery and low power applications, and low voltage power supply design is an absolute necessity. Flexibility and exceptional communication skills are crucial to success in this position.
            </p>
            <p>
               <b>Key Responsibilities</b>
            </p>
            <ul>
               <li>Building analog and digital circuits from design, through simulation, prototyping, and testing on PCBs, to small scale production.</li>
               <li>Integrating custom analog and digital circuitry with 3rd party wireless modules.</li>
               <li>Independently organizing, planning, sourcing, and scheduling prototype fabrication.</li>
               <li>Communicating progress and milestones to leadership and peers.</li>
               <li>Organizing hardware design related input files, output, documentation, etc in revision control (git)</li>
               <li>Developing and maintaining a strong relationship with non-technical clients and customers, including communicating roadblocks and providing status updates.</li>
               <li>Proactively identifying additional work for hardware development and scoping own work realistically.</li>
               <li>Estimating schedules and resource requirements for multiple concurrent projects.</li>
               <li>Thinking strategically about projects, including the ensuring goals are met and thoroughly documented, as well as stepping back to assess progress and final direction.</li>
               <li>Giving presentations about our work and creating business proposals to customers and business partners.</li>
            </ul>
            <p>
               <b>Qualifications</b>
            </p>
            <ul>
               <li>Expertise in analog and digital circuit design and debugging, SPICE simulation.</li>
               <li>Expertise in low power applications and low voltage power supply design.</li>
               <li>Strong electronics and hardware engineering experience and can be a team leader.</li>
               <li>Familiarity with battery and power systems.</li>
               <li>Familiarity with integrating wireless communications modules with custom circuitry.</li>
               <li>Ability to create schematic capture and PCB layouting with EAGLE / Kicad / geda.</li>
            </ul>
            <p>
               <b>Interpersonal Skills</b>
            </p>
            <ul>
               <li>Strong commitment to CREATE Lab's
                  <a href="http://cmucreatelab.org/files/create_lab_white_paper.pdf" target="mission">mission and motivations</a>.</li>
               <li>Strong internal and external communication skills in written and verbal actions. Proactive communication and transparency in your creative process is important.</li>
               <li>Critical thinker and observer who can give and accept feedback as part of a small team.</li>
               <li>Strong emotional intelligence that shows via interpersonal relationships, social awareness, resilience, empathy, and listening.</li>
               <li>Self-motivated with the drive to work independently and the wisdom to know when to ask for help.</li>
            </ul>

            <hr>

            <h3>About Airviz</h3>
            <p>
               <a href="http://www.airvizinc.com/" target="airviz">Airviz</a>, maker of the Speck air quality sensor and the most recent daughter company of the CREATE Lab at
               Carnegie Mellon's Robotics Institute, is inventing new technologies that empower citizens everywhere to
               take control of their indoor air quality and improve their quality of life. As a Pittsburgh startup
               company with funding already secured and a deep culture of collaboration with CREATE, we are ready to
               hire a strong Pittsburgh-based team members who will develop and manage the interactive code
               for new products in our development line and for the Speck monitor.
            </p>
            <p>
               Our team is small and we are a rapidly developing tech startup. It is critical that applicants are driven
               to meet and exceed expectations while remaining exceptionally adaptive to new challenges and shifting
               priorities. Meeting individual deadlines will be critical to the success of the company at large.
               Occasionally, this may involve working beyond normal hours in order to complete tasks on time. Because we
               are driven by milestones, this also allows us to be very flexible with hours and personal needs as long
               as task expectations are being met, and we pride ourselves on a supportive and personal work environment.
               Like us, applicants should be driven by the concept of empowerment through the democratization of science
               and personal health, and the application of technology to address social and economic disparity.
            </p>
            <p>
               Airviz will begin interviews on a rolling basis until positions are filled. The compensation package will
               be generous and competitive. Please
               {{> mailto email="sara@specksensor.com" subject="Job%20application" text="email your CV to Sara Longo"}},
               Operations Manager at Airviz, to be considered for a position.
            </p>
         </div>
      </div>
   {{else}}
      <div>
         Sorry, we have no open positions at this time.
      </div>
   {{/if}}
</div>
