<div id="about_us_page" class="clearfix">
   <h2>Jobs</h2>
   <div class="row">
      <div class="col-sm-12">
         <h4>Operations Manager</h4>
         <p>
            Airviz, Inc., home of the Speck Sensor, is hiring a full-time Operations Manager:
         </p>
         <p>
            Air quality is a global health issue, and the
            <a href="http://www.cmucreatelab.org/" target="_blank">CREATE Lab</a> has spent four years developing a sensor that empowers
            individuals, communities and corporations to understand their air and work to improve quality of life. The
            Speck Sensor which we announced at South by Southwest has been on sale for two months and is already sold
            out through May. Airviz, the company spinout from CREATE that is marketing Speck, is
            growing and has attracted investment from our strategic partner,
            <a href="http://www.infosys.com/newsroom/press-releases/Pages/air-quality-monitoring-pioneer.aspx" target="_blank">Infosys</a>.
         </p>
         <p>
            We are now conducting a search for an operations manager. Duties include: coordinating orders, manufacturing,
            delivery and QA processes; implementing customer contact services; engaging in product roadmap planning with
            the Speck team; numerous other operational, day-to-day aspects of Speck dissemination.
         </p>
         <p>
            We are looking for detail-oriented, highly motivated candidates with business experience who wish to help us
            reinvent the relationship global citizens have to air quality. Please send details of your experience to
            Illah Nourbakhsh,
            <a href="mailto:illah@cs.cmu.edu?Subject=Airviz%20Operations%20Manager">illah@cs.cmu.edu</a>. Salary will be commensurate with experience and is expected to range
            between $60K - $80K.
         </p>
      </div>
   </div>
</div>