<div id="press_page" class="clearfix">
   <h2>Press</h2>
   <div>
      For all press-related inquires, please contact {{> mailto email="info@specksensor.com" subject="Press%20inquiry"}}.
   </div>
</div>