<div id="software_page" class="clearfix">
   <h2>Software</h2>
   <a href="https://chrome.google.com/webstore/detail/speck/anchbeboblnigmihhclbdkpdglecnimi" target="chrome_app"><img id="screenshot" class="pull-right" src="images/speck_app_screenshot.png" alt="The Speck app"></a>
   <div>
      <p>
         In order for the data from your Speck to be visible and explorable here on specksensor.com, you will first need
         to register your Speck with your specksensor.com account.
      </p>
      <p>
         To register your Speck, you will need to download and install our Speck app.  The Speck app is a Google
         Chrome app that runs on your computer.  It is available for free on the Chrome Web Store.
      </p>
      <p align="center">
         <a href="https://chrome.google.com/webstore/detail/speck/anchbeboblnigmihhclbdkpdglecnimi" target="chrome_app">Download the app!</a>
      </p>
      <p>
         Once you have the app installed, launch it and make sure your Speck is connected to your computer via the USB cable. After a few
         seconds, the app should connect to your Speck and mirror its display on your computer screen.  Use the Wifi
         tab to configure your Speck for your wifi network.  Use the Upload Configuration tab to register the Speck with
         your specksensor.com account.  The Speck will not upload data while the Speck app is connected to it, so simply
         quit the app once you're done with configuration and registration.  After a few minutes, you should see your
         data on the <a href="/dashboard">Dashboard</a>.
      </p>
   </div>
</div>