<div id="software_page" class="clearfix">
   <h2>Software</h2>
   <div class="row">
      <div class="col-sm-6" style="margin-bottom:20px">
         <p>
            Thank you for purchasing a Speck! You now have the power to take control of your air quality and breathe easier... </p>
         </p>
         <p>
            To begin exploring your Speck data, first
            <a href="/signup">sign up for a Speck Sensor account</a> &mdash; it's simple and free!
         </p>
         <p>
            Next, register and set up your Speck by following these steps:
         </p>
         <ol>
            <li>Download and install our
               <a href="https://chrome.google.com/webstore/detail/speck/anchbeboblnigmihhclbdkpdglecnimi">Speck app</a>. The app is available for free on the Chrome Web Store.</li>
            <li>Once you have the app installed, connect your Speck to your computer via the USB cable and launch the app.</li>
            <li>After a few seconds, the app should connect to your Speck and mirror its display on your computer screen.</li>
            <li>Use the Wi-Fi tab to configure your Speck for your Wi-Fi network.</li>
            <li>Use the Upload Configuration tab to register the Speck using your Speck Sensor account login information.</li>
            <li>Once configuration and registration are complete, quit the app. Note: the Speck will not upload data while the app is still running.</li>
            <li>After a few minutes, you should see your data on the Dashboard!</li>
         </ol>
      </div>
      <div id="screenshot" class="col-sm-6">
         <a href="https://chrome.google.com/webstore/detail/speck/anchbeboblnigmihhclbdkpdglecnimi" target="chrome_app"><img src="/images/speck_app_screenshot.png" alt="The Speck app"></a>
      </div>
   </div>
   <h2>Legacy Software</h2>
   <div>
      The older, black-colored Specks are not yet supported by the Speck app.  In the meantime, users with these older Specks should continue to use the <a href="/legacy-software">legacy software</a>.
   </div>
</div>
