<div id="speckle_page" class="clearfix" style="font-size:16px">
   <h2>Speckle</h2>
   <div>
      <p>
         Speckle is a low-cost circuit board which enables easy air quality device prototyping by providing
         pre-filtered, uncalibrated sensor data.
      </p>
      <ul>
         <li><a href="speckle_datasheet.pdf">Datasheet</a></li>
         <li><a href="speckle4.SLDPRT">SolidWorks part file for the case</a></li>
         <li><a href="speckle5.STL">.STL model file for the case (units are millimeters)</a></li>
      </ul>
   </div>
   <div>
      For more information about Speckle, please contact {{> mailto email="info@specksensor.com" subject="Speckle"}}.
   </div>
</div>
