<h2>Terms and Conditions of Sale</h2>

<p>
   We are committed to empowering you with the Speck sensor to monitor your air quality and to learn how your
   decisions impact your family's air quality health. Below is the legalese of the Terms of Sale that we need to
   provide legally. In simple English, here is a summary:
</p>
<ol>
   <li>We may need to change prices in the futures.</li>
   <li>We sell the Speck with a six month warranty. We are doing our best to ensure the Speck lasts much longer, of course.</li>
   <li>The Speck is not a federal device or a medical device. Use the Speck but remember that you are in charge&mdash;this is just an information-gathering device for your consideration. Please don't sue us; instead, use the Speck to empower yourself to improve your air quality exposure.</li>
</ol>

<p>Now the legal version:</p>

<p>
   All prices are subject to change by Seller without notice. All prices specified herein are exclusive of any costs of any sales, use, value added, excise, gross receipts, business and occupation or similar present or future taxes imposed by any governmental body on the sale, delivery, use or other handling of the Products or in connection with any related or contemplated transactions, which are to be borne by Buyer. If Seller determines that its ability to supply the total demand for the Products, or to obtain material used directly or indirectly in the manufacture of the Products, is hindered, limited or made impracticable, Seller may allocate its available supply of the Products on such basis as Seller determines to be equitable without liability for any failure of performance which may result therefrom.
</p>
<p>
   Seller warrants that the Products manufactured by Seller will be free from defects in material and workmanship under normal use and regular service and maintenance for a period of six months from the date of shipment of the Products by Seller, unless otherwise specified by Seller in writing. Products purchased by Seller from a third party for resale to Buyer will carry only the warranty extended by the original manufacturer. THE WARRANTY SET FORTH IN THIS SECTION ARE THE SOLE AND EXCLUSIVE WARRANTIES GIVEN BY SELLER WITH RESPECT TO THE PRODUCTS AND ARE IN LIEU OF AND EXCLUDE ALL OTHER WARRANTIES, EXPRESS OR IMPLIED, ARISING BY OPERATION OF LAW OR OTHERWISE, INCLUDING, WITHOUT LIMITATION, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE WHETHER OR NOT THE PURPOSE OR USE HAS BEEN DISCLOSED TO SELLER IN SPECIFICATIONS, DRAWINGS OR OTHERWISE, AND WHETHER OR NOT SELLER'S PRODUCTS ARE SPECIFICALLY DESIGNED AND/OR MANUFACTURED BY SELLER FOR BUYER'S OR ANY OTHER PERSON'S USE OR PURPOSE.
</p>
<p>
   This warranty does not extend to any losses or damages due to misuse, accident, abuse, neglect, normal wear and tear, corrosion, moisture, Buyer's or any other person's negligence, unauthorized modification or alteration, use beyond rated capacity, unsuitable power sources or environmental conditions, improper installation, repair, handling, maintenance or application or any other cause not the fault of Seller, and, unless otherwise specified by Seller in writing, Seller has no duty to install, inspect, observe, advise and/or warn as to the Products, or as to any other products or conditions located on Buyer's property or work site, at the time of sale, delivery, or otherwise.
</p>
<p>
   Except for Buyer's express warranties under this section, Buyer assumes all other responsibility for any loss, damage, or injury to persons or property arising out of, connected with, or resulting from the use of Products, either alone or in combination with other products/components, and shall indemnify, defend, and hold Seller harmless for any such loss, damage or injury.
</p>
<p>
   LIMITATION OF REMEDY AND LIABILITY &mdash; THE SOLE AND EXCLUSIVE REMEDY FOR BREACH OF ANY WARRANTY HEREUNDER (OTHER THAN THE WARRANTY PROVIDED UNDER THIS SECTION) IS LIMITED TO, AT SELLER'S SOLE OPTION, REPAIR, CORRECTION OR REPLACEMENT, OR REFUND OF THE PURCHASE PRICE.
</p>
<p>
   SELLER IS NOT LIABLE FOR DAMAGES CAUSED BY DELAY IN PERFORMANCE AND IN NO EVENT, REGARDLESS OF THE FORM OF THE CLAIM OR CAUSE OF ACTION (WHETHER BASED IN LAW, EQUITY, CONTRACT, INFRINGEMENT, NEGLIGENCE, STRICT LIABILITY, OTHER TORT OR OTHERWISE), DOES SELLER'S LIABILITY TO BUYER AND/OR END USERS FOR ANY OTHER DAMAGES HEREUNDER (INCLUDING, WITHOUT LIMITATION, DAMAGES IN AN ACTION FOR CONTRIBUTION OR INDEMNITY) EXCEED THE PRICE PAID BY BUYER FOR THE SPECIFIC PRODUCTS PROVIDED BY SELLER GIVING RISE TO THE CLAIM OR CAUSE OF ACTION. BUYER AGREES THAT IN NO EVENT DOES SELLER'S LIABILITY TO BUYER AND/OR END USERS EXTEND TO INCLUDE INCIDENTAL, CONSEQUENTIAL, SPECIAL, INDIRECT OR PUNITIVE DAMAGES. The term "consequential damages" includes, but is not limited to, loss of anticipated profits; business interruption; loss of use, revenue, reputation or data; costs incurred, including, without limitation, costs for capital, fuel, or power; loss or damage to property or equipment; and environmental clean-up. Any action arising hereunder or relating hereto, regardless of the form of the action (whether based in law, equity, contract, infringement, negligence, strict liability, other tort or otherwise), must be commenced within one (1) year after the date of shipment or it shall be barred.
</p>
<p>
   Unless otherwise specified by Seller in writing, it is expressly understood that any technical advice furnished by Seller with respect to the use of the Products is given without charge, and Seller assumes no obligation or liability for the advice given or not given, or results obtained, all such advice being given and accepted at Buyer's risk.
</p>
<p>
   Buyer expressly acknowledges and agrees that Seller has set its prices and entered into the Agreement in reliance upon the limitations of liability and other terms and conditions specified herein, which allocate the risk between Buyer and Seller and form a basis of this bargain between the parties.
</p>
