$LINK_COLOR: #337ab7;

#plot {
   position: relative;
}

.date_axis {
   height: 42px;
   z-index: 2;
   border: 1px solid black;
   border-bottom-width: 0;
}

.y_axis {
   width: 42px;
   border: 1px solid black;
   border-left-width: 0;
}

.y_axis_label {
   position: absolute;
   text-align: center;
   font-size: 8pt;
   height: auto;
}

#channel_switcher_panel {
   font-size: 12px;
   line-height: 24px;
}

.time_range_link {
   display: inline-block;
   margin-right: 20px;
}

.channel_link {
   display: inline-block;
   margin-right: 20px;

   .selected {
      cursor: default;
      font-weight: bold;
   }

   .unselected {
      cursor: pointer;
      color: $LINK_COLOR;
   }
   .unselected:hover {
      text-decoration: underline;
   }
}

.channel_link:last-of-type, .time_range_link:last-of-type {
   margin-right: 0;
}

#value_and_time {
   position: absolute;
   display: none;
   top: 2px;
   right: 2px;
   background-color: rgba(255, 255, 255, 0.9);
   margin: 2px;
   padding: 2px;
   font-size: 11px;
   line-height: 11px;
}

#auto_scale_toggle_button {
   margin-bottom: 7px;
   padding: 4px 7px;
}

.color_box {
   position: absolute;
   left: 0;
   width: 100%;
}