.date_axis {
  height: 42px;
  z-index: 2;
  border: 1px solid black;
  border-bottom-width: 0; }

.y_axis {
  width: 42px;
  border: 1px solid black;
  border-left-width: 0; }

.y_axis_label {
  position: absolute;
  text-align: center;
  font-size: 8pt;
  height: auto; }

#channel_switcher_panel {
  font-size: 12px;
  float: left; }

.channel_link, .time_range_link {
  display: inline-block;
  margin-right: 20px; }
  .channel_link .selected, .time_range_link .selected {
    cursor: default;
    font-weight: bold; }
  .channel_link .unselected, .time_range_link .unselected {
    cursor: pointer;
    color: #6699B6; }
  .channel_link a, .time_range_link a {
    text-decoration: none; }

.channel_link:last-of-type, .time_range_link:last-of-type {
  margin-right: 0; }

#value_and_time {
  display: inline-block;
  text-align: left;
  font-size: 12px;
  float: left;
  margin-right: 20px; }

#autoScaleLock {
  float: right;
  font-size: 12px;
  margin-right: 5px; }
