.plot_container {
  position: relative;
  border: 1px solid black;
  box-sizing: content-box;
  -webkit-box-sizing: content-box; }

.plot_container > canvas:focus {
  outline: none; }

.date_axis {
  position: relative;
  height: 42px;
  z-index: 2;
  border: 1px solid black;
  border-bottom-width: 0;
  box-sizing: content-box;
  -webkit-box-sizing: content-box; }

.y_axis {
  position: relative;
  width: 42px;
  border: 1px solid black;
  border-left-width: 0;
  box-sizing: content-box;
  -webkit-box-sizing: content-box; }

.y_axis_label {
  position: absolute;
  text-align: center;
  font-size: 8pt;
  height: auto; }

#value_and_time {
  position: absolute;
  display: none;
  top: 2px;
  right: 2px;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 2px;
  padding: 2px;
  font-size: 11px;
  line-height: 11px; }

.color_box {
  position: absolute;
  left: 0;
  width: 100%; }
