html, body {
  height: 100%; }

body {
  padding-top: 75px; }
  @media (max-width: 767px) {
    body {
      padding-top: 50px; } }

body.shrink {
  padding-top: 50px; }

.img-portfolio {
  margin-bottom: 30px; }

.img-hover:hover {
  opacity: 0.8; }

.panel-body {
  height: 180px !important; }

@media (max-width: 1200px) {
  .panel-body {
    height: 230px !important; }
  .what-is-speck-hero-text {
    font-size: 25px !important;
    left: 475px !important; } }

@media (max-width: 992px) {
  .panel-body {
    height: 140px !important; }
  .what-is-speck-hero-text {
    font-size: 24px !important;
    left: 328px !important;
    width: 392px !important; } }

@media (max-width: 530px) {
  .panel-body {
    height: 260px !important; } }

.rotate_90 {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg); }

.noselect {
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default; }

.page_instructions {
  color: black;
  margin-bottom: 20px; }

.checkmark_icon_container {
  width: 24px;
  height: 19px;
  padding: 0;
  margin: 0; }

.checkmark_white {
  width: 24px;
  height: 19px;
  background: transparent url("../images/checkmark_white.png") no-repeat 0 0;
  background-size: 24px 19px; }

.navbar-inverse .navbar-toggle.collapsed .icon-bar {
  background-color: #9d9d9d; }

#main_navbar {
  margin-bottom: 0;
  min-height: 75px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  #main_navbar .active {
    color: white; }
  #main_navbar .navbar-brand {
    position: relative;
    display: block;
    float: none;
    font-family: Lato, sans-serif !important;
    font-size: 36px;
    line-height: 67px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 70px;
    padding: 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  #main_navbar .nav > li > a {
    padding-top: 27px;
    font-size: 16px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  @media (max-width: 767px) {
    #main_navbar {
      min-height: 50px; }
      #main_navbar .nav > li > a {
        padding-top: 15px;
        font-size: 14px;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease; }
      #main_navbar .navbar-brand {
        font-size: 24px;
        line-height: 46px;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease; } }

#main_navbar.shrink {
  min-height: 50px; }
  #main_navbar.shrink .nav > li > a {
    padding-top: 15px;
    font-size: 14px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  #main_navbar.shrink .navbar-brand {
    font-size: 24px;
    line-height: 46px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }

#hero_image {
  height: 400px; }
  #hero_image .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover; }
  #hero_image .anchor_left {
    background-position: left; }
  #hero_image .anchor_right {
    background-position: right; }
  @media (max-width: 767px) {
    #hero_image {
      height: 300px; } }

.form_messages {
  display: none;
  margin-bottom: 15px; }

#about_us_page #logos {
  margin-left: 10px; }
#about_us_page img {
  max-width: 340px; }
@media (max-width: 767px) {
  #about_us_page #logos {
    margin-left: 0; }
  #about_us_page img {
    max-width: 50%; } }

.carousel {
  height: 500px; }
  @media (max-width: 992px) {
    .carousel {
      height: 400px; } }
  @media (max-width: 767px) {
    .carousel {
      height: 300px; } }
  .carousel .item, .carousel .item.active, .carousel .carousel-inner {
    height: 100%; }
  .carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover; }
  .carousel .anchor_left {
    background-position: left; }
  .carousel .anchor_right {
    background-position: right; }

.home-hero-text {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: -730px;
  right: 0;
  top: 120px;
  color: white;
  font-size: 30px;
  width: 407px;
  text-align: left; }

.what-is-speck-hero-text {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 665px;
  right: 0px;
  top: 120px;
  color: white;
  font-size: 30px;
  width: 480px;
  text-align: right; }

.testimonals {
  font-family: "Times New Roman", serif;
  font-size: 20px;
  position: relative;
  height: 220px;
  line-height: 28px; }
  .testimonals .big_quote {
    font-size: 34px; }

.ts1 {
  top: -10px;
  position: absolute;
  width: 550px; }

.ts2 {
  top: 120px;
  left: 270px;
  position: absolute;
  width: 550px; }

.ts3 {
  top: -10px;
  left: 600px;
  position: absolute;
  width: 550px; }

.col-circle1 {
  width: 38% !important;
  padding-left: 0px; }

.col-circle2 {
  width: 37% !important;
  padding-left: 0px; }

.col-circle3 {
  width: 0% !important;
  padding-left: 0px; }

.main-circle1 {
  background-color: #93D0B1;
  border: 1px solid #53B985;
  height: 256px;
  width: 256px;
  -moz-border-radius: 256px;
  -webkit-border-radius: 256px;
  border-radius: 256px;
  color: white;
  text-align: center;
  font-size: 24px;
  padding-top: 44px;
  padding-bottom: 64px;
  padding-left: 46px;
  padding-right: 46px; }

.main-circle2 {
  background-color: #FCC98A;
  border: 1px solid #F2AF5C;
  height: 256px;
  width: 256px;
  -moz-border-radius: 256px;
  -webkit-border-radius: 256px;
  border-radius: 256px;
  color: white;
  text-align: center;
  font-size: 24px;
  padding-top: 44px;
  padding-bottom: 64px;
  padding-left: 37px;
  padding-right: 37px; }

.main-circle3 {
  background-color: #9B9ECF;
  border: 1px solid #8085CD;
  height: 256px;
  width: 256px;
  -moz-border-radius: 256px;
  -webkit-border-radius: 256px;
  border-radius: 256px;
  color: white;
  text-align: center;
  font-size: 24px;
  padding-top: 44px;
  padding-bottom: 64px;
  padding-left: 27px;
  padding-right: 27px; }

@media (max-width: 1200px) {
  .ts1 {
    width: 500px; }
  .ts2 {
    width: 500px;
    left: 0px; }
  .ts3 {
    width: 425px;
    left: 550px;
    top: 40px; }
  .home-hero-text {
    left: -530px; } }

@media (max-width: 1045px) {
  .col-circle1 {
    width: 36% !important; }
  .col-circle2 {
    width: 35% !important; }
  .ts3 {
    width: 400px; } }

@media (max-width: 992px) {
  .col-circle1 {
    padding-left: 30%; }
  .col-circle2 {
    padding-left: 30%; }
  .col-circle3 {
    padding-left: 30%; }
  .ts1 {
    top: 0px;
    left: 0px;
    width: 100%;
    position: relative; }
  .ts2 {
    top: 15px;
    left: 0px;
    width: 100%;
    position: relative; }
  .ts3 {
    top: 30px;
    left: 0px;
    width: 100%;
    position: relative; }
  .testimonals {
    top: -10px;
    height: 100%; }
  .home-hero-text {
    left: -310px; } }

@media (max-width: 960px) {
  .home-hero-text {
    left: -390px;
    top: 100px;
    font-size: 25px;
    width: 326px; } }

@media (max-width: 767px) {
  .home-hero-text {
    left: -330px;
    font-size: 3vw;
    top: 70px;
    width: 40%; }
  .what-is-speck-hero-text {
    top: 66px !important;
    font-size: 2.7vw !important;
    left: 293px !important;
    width: 362px !important; } }

@media (max-width: 680px) {
  .what-is-speck-hero-text {
    left: 166px !important; } }

@media (max-width: 610px) {
  .home-hero-text {
    left: -310px; } }

@media (max-width: 545px) {
  .col-circle1 {
    padding-left: 15%; }
  .col-circle2 {
    padding-left: 15%; }
  .col-circle3 {
    padding-left: 15%; }
  .home-hero-text, .what-is-speck-hero-text {
    display: none; } }

@media (max-width: 340px) {
  .col-circle1 {
    padding-left: 5%; }
  .col-circle2 {
    padding-left: 5%; }
  .col-circle3 {
    padding-left: 5%; } }

#dashboard {
  margin: 0 auto 0 auto; }
  #dashboard #menu_panel {
    position: absolute;
    width: 180px;
    margin-top: 72px;
    padding: 5px;
    font-size: 12px; }
    #dashboard #menu_panel .title {
      font-size: 14px;
      font-weight: bold; }
    #dashboard #menu_panel #devices_and_feeds {
      overflow-y: scroll; }
      #dashboard #menu_panel #devices_and_feeds .device_and_feeds {
        margin-top: 5px; }
        #dashboard #menu_panel #devices_and_feeds .device_and_feeds .device {
          font-weight: bold; }
        #dashboard #menu_panel #devices_and_feeds .device_and_feeds .feed {
          white-space: nowrap;
          overflow: hidden; }
          #dashboard #menu_panel #devices_and_feeds .device_and_feeds .feed label {
            margin-left: 3px; }
  #dashboard #content_area {
    position: relative;
    margin-left: 190px; }
    #dashboard #content_area #time_range_switcher_panel, #dashboard #content_area #time_range_switcher_panel_placeholder {
      display: none;
      font-size: 12px;
      text-align: center;
      margin-bottom: 10px; }
    #dashboard #content_area #map_area {
      margin-top: 10px;
      border: 1px solid black;
      width: 880px;
      height: 400px; }
    #dashboard #content_area #no_geolocation {
      position: absolute;
      width: 350px;
      text-align: center;
      padding: 2px;
      top: 1px;
      left: 50%;
      margin: 0 auto 0 -175px;
      background-color: rgba(255, 200, 200, 0.75);
      display: none; }

.device_list .device_list_item {
  border: 1px solid black;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 10px;
  margin: 5px 0 5px 0;
  cursor: pointer; }

.account_table {
  display: table; }
  .account_table .account_row {
    display: table-row; }
    .account_table .account_row .account_header_cell {
      font-weight: bold; }
    .account_table .account_row .account_cell {
      display: table-cell;
      padding-right: 5px; }

footer {
  margin: 50px 0 15px 0; }
  footer .footer_piece {
    line-height: 32px; }
    @media (max-width: 767px) {
      footer .footer_piece {
        margin-bottom: 10px; } }
  footer .footer_piece:nth-child(1) {
    text-align: left; }
    @media (max-width: 767px) {
      footer .footer_piece:nth-child(1) {
        text-align: center; } }
  footer .footer_piece:nth-child(2) {
    text-align: center; }
  footer .footer_piece:nth-child(3) {
    text-align: right; }
    @media (max-width: 767px) {
      footer .footer_piece:nth-child(3) {
        text-align: center; } }
  footer .social_media_link {
    font-size: smaller;
    color: #9d9d9d; }
  footer .social_media_link:hover {
    color: black; }
  footer .link {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px; }
    @media (max-width: 992px) {
      footer .link {
        margin-left: 10px;
        margin-right: 10px; } }
    @media (max-width: 767px) {
      footer .link {
        margin-left: 20px;
        margin-right: 20px; } }
    footer .link .active {
      font-weight: bold; }
