body {
  padding-top: 75px;
  padding-bottom: 0; }
  @media (max-width: 767px) {
    body {
      padding-top: 50px; } }

@media (max-width: 767px) {
  body.interior_page {
    padding-bottom: 50px; } }

body.shrink {
  padding-top: 50px; }

.img-portfolio {
  margin-bottom: 30px; }

.img-hover:hover {
  opacity: 0.8; }

.col-lg-12 {
  width: 100%; }
  @media (max-width: 1200px) {
    .col-lg-12 {
      float: left; } }

.col-lg-12 .panel-heading, .col-md-4 .panel-heading {
  height: 44px !important; }

.col-lg-12 h4, .col-md-4 h4 {
  margin-top: 3px; }

.rotate_90 {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg); }

.noselect {
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default; }

.page_instructions {
  color: black;
  margin-bottom: 20px; }

.home_page_font {
  font-size: 20px;
  margin: 0 0 40px; }

.checkmark_icon_container {
  width: 24px;
  height: 19px;
  padding: 0;
  margin: 0; }

.checkmark_white {
  width: 24px;
  height: 19px;
  background: transparent url("../images/checkmark_white.png") no-repeat 0 0;
  background-size: 24px 19px; }

.navbar-inverse .navbar-toggle.collapsed .icon-bar {
  background-color: #9d9d9d; }

#main_navbar {
  margin-bottom: 0;
  min-height: 75px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  #main_navbar .active {
    color: white; }
  #main_navbar .navbar-toggle {
    float: left;
    margin-left: 15px;
    margin-right: 0; }
  @media (max-width: 767px) {
    #main_navbar .dropdown-menu > li > a {
      padding-top: 10px;
      padding-left: 35px; } }
  #main_navbar .dropdown-menu-active {
    font-weight: bold; }
    @media (max-width: 767px) {
      #main_navbar .dropdown-menu-active {
        font-weight: normal;
        color: white; } }
  #main_navbar .navbar-brand {
    position: relative;
    display: block;
    float: none;
    font-family: Lato, sans-serif !important;
    font-size: 36px;
    line-height: 67px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 70px;
    padding: 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  #main_navbar .nav > li > a {
    padding-top: 27px;
    font-size: 16px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  #main_navbar .navbar-header .buy_icon_container {
    display: none;
    color: #9d9d9d;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    #main_navbar .navbar-header .buy_icon_container .tiny_buy_icon {
      width: 25px;
      height: 18px; }
    @media (max-width: 767px) {
      #main_navbar .navbar-header .buy_icon_container {
        position: absolute;
        display: block;
        top: 15px;
        right: 15px; } }
  #main_navbar .navbar-header .buy_icon_container.active {
    color: white; }
  #main_navbar .navbar-header .buy_icon_container:hover {
    color: white;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  @media (max-width: 767px) {
    #main_navbar .hide_in_mobile_navbar {
      display: none; } }
  #main_navbar .show_in_mobile_navbar {
    display: none; }
    @media (max-width: 767px) {
      #main_navbar .show_in_mobile_navbar {
        display: block; } }
  #main_navbar .tiny_buy_icon {
    position: relative;
    display: inline-block;
    margin-top: -3px;
    width: 30px;
    height: 20px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  #main_navbar #zip_code {
    margin-top: 20px;
    height: 25px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  #main_navbar #zip_code_container {
    right: 10px;
    font-size: 12px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    @media (max-width: 992px) {
      #main_navbar #zip_code_container {
        right: -5px !important; } }
    @media (max-width: 767px) {
      #main_navbar #zip_code_container {
        display: none; } }
  @media (max-width: 767px) {
    #main_navbar {
      min-height: 50px; }
      #main_navbar .nav > li > a {
        padding-top: 15px;
        font-size: 14px;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease; }
        @media (max-width: 767px) {
          #main_navbar .nav > li > a {
            padding-top: 10px; } }
      #main_navbar .navbar-brand {
        font-size: 24px;
        line-height: 46px;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease; } }

#main_navbar a:focus {
  outline: none; }

#main_navbar.shrink {
  min-height: 50px; }
  #main_navbar.shrink .nav > li > a {
    padding-top: 15px;
    font-size: 14px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    @media (max-width: 767px) {
      #main_navbar.shrink .nav > li > a {
        padding-top: 10px; } }
  #main_navbar.shrink .navbar-brand {
    font-size: 24px;
    line-height: 46px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  #main_navbar.shrink .tiny_buy_icon {
    width: 25px;
    height: 18px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  #main_navbar.shrink #zip_code_container {
    -ms-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    right: 0px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  #main_navbar.shrink #zip_code {
    margin-top: 5px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }

#hero_image {
  height: 450px; }
  #hero_image .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover; }
  #hero_image .anchor_left {
    background-position: left; }
  #hero_image .anchor_right {
    background-position: right; }
  @media (max-width: 767px) {
    #hero_image {
      height: 300px; } }

.form_messages {
  display: none;
  margin-bottom: 15px; }

#about_us_page img {
  max-width: 340px; }
@media (max-width: 767px) {
  #about_us_page #about_us_logos {
    text-align: center; }
  #about_us_page img {
    max-width: 50%;
    text-align: center; } }

#software_page img {
  max-width: 500px; }
@media (max-width: 767px) {
  #software_page #screenshot {
    text-align: center; }
  #software_page img {
    max-width: 60%;
    text-align: center; } }

.carousel {
  height: 450px; }
  @media (max-width: 992px) {
    .carousel {
      height: 400px; } }
  @media (max-width: 767px) {
    .carousel {
      height: 300px; } }
  .carousel .item, .carousel .item.active, .carousel .carousel-inner {
    height: 100%; }
  .carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover; }
  .carousel .anchor_left {
    background-position: left; }
  .carousel .anchor_right {
    background-position: right; }

.particles-hero-text {
  float: right;
  margin-right: 90px;
  margin-top: 58px;
  color: white;
  font-size: 1.6vw;
  width: 695px;
  text-align: right; }
  @media (max-width: 1200px) {
    .particles-hero-text {
      font-size: 2vw;
      width: 585px; } }
  @media (max-width: 992px) {
    .particles-hero-text {
      width: 350px; } }
  @media (max-width: 767px) {
    .particles-hero-text {
      margin-top: 30px;
      margin-right: 50px; } }
  @media (max-width: 620px) {
    .particles-hero-text {
      font-size: 2.3vw;
      width: 270px; } }
  @media (max-width: 545px) {
    .particles-hero-text {
      display: none; } }

.what-is-speck-hero-text {
  float: right;
  margin-right: 90px;
  margin-top: 58px;
  color: white;
  font-size: 1.65vw;
  width: 655px;
  text-align: right; }
  @media (max-width: 1200px) {
    .what-is-speck-hero-text {
      font-size: 2vw;
      width: 520px; } }
  @media (max-width: 992px) {
    .what-is-speck-hero-text {
      font-size: 2.15vw;
      width: 400px; } }
  @media (max-width: 767px) {
    .what-is-speck-hero-text {
      margin-top: 30px;
      margin-right: 50px; } }
  @media (max-width: 620px) {
    .what-is-speck-hero-text {
      font-size: 2.4vw;
      width: 250px; } }
  @media (max-width: 545px) {
    .what-is-speck-hero-text {
      display: none; } }

.home-hero-text1 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: -730px;
  right: 0;
  top: 50px;
  color: white;
  font-size: 30px;
  width: 407px;
  text-align: left; }
  @media (max-width: 1200px) {
    .home-hero-text1 {
      left: -530px; } }
  @media (max-width: 992px) {
    .home-hero-text1 {
      left: -390px;
      top: 50px;
      font-size: 25px;
      width: 330px; } }
  @media (max-width: 767px) {
    .home-hero-text1 {
      font-size: 2.5vw;
      left: -265px;
      width: 250px; } }
  @media (max-width: 545px) {
    .home-hero-text1 {
      display: none; } }

.home-hero-text2 {
  position: absolute;
  margin-left: auto;
  left: -730px;
  right: 100px;
  top: 40px;
  color: white;
  font-size: 28px;
  width: 407px;
  text-align: right; }
  @media (max-width: 1200px) {
    .home-hero-text2 {
      left: -530px; } }
  @media (max-width: 992px) {
    .home-hero-text2 {
      left: -390px;
      top: 50px;
      font-size: 20px;
      width: 360px;
      right: 50px; } }
  @media (max-width: 767px) {
    .home-hero-text2 {
      font-size: 2.42vw;
      left: -265px;
      width: 300px; } }
  @media (max-width: 620px) {
    .home-hero-text2 {
      width: 250px; } }
  @media (max-width: 545px) {
    .home-hero-text2 {
      display: none; } }

.home-hero-text3 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: -630px;
  right: 0;
  top: 50px;
  color: white;
  font-size: 28px;
  width: 507px;
  text-align: left; }
  @media (max-width: 1200px) {
    .home-hero-text3 {
      left: -430px;
      font-size: 28px; } }
  @media (max-width: 992px) {
    .home-hero-text3 {
      left: -385px;
      top: 50px;
      font-size: 20px;
      width: 330px; } }
  @media (max-width: 767px) {
    .home-hero-text3 {
      font-size: 2.5vw;
      left: -250px;
      top: 40px;
      width: 245px; } }
  @media (max-width: 545px) {
    .home-hero-text3 {
      display: none; } }

.home-hero-text4 {
  position: absolute;
  margin-left: auto;
  left: -730px;
  right: 100px;
  top: 40px;
  color: white;
  font-size: 28px;
  width: 507px;
  text-align: right; }
  @media (max-width: 1200px) {
    .home-hero-text4 {
      left: -530px; } }
  @media (max-width: 992px) {
    .home-hero-text4 {
      left: -390px;
      top: 50px;
      font-size: 20px;
      width: 410px;
      right: 50px; } }
  @media (max-width: 767px) {
    .home-hero-text4 {
      font-size: 2.42vw;
      left: -265px;
      width: 300px; } }
  @media (max-width: 620px) {
    .home-hero-text4 {
      width: 250px; } }
  @media (max-width: 545px) {
    .home-hero-text4 {
      display: none; } }

.testimonials {
  font-family: "Times New Roman", serif;
  font-size: 20px;
  position: relative;
  height: 220px;
  line-height: 28px; }
  .testimonials .big_quote {
    font-size: 34px; }
  @media (max-width: 992px) {
    .testimonials {
      top: -10px;
      height: 100%; } }

.ts1 {
  top: -10px;
  position: absolute;
  width: 550px; }
  @media (max-width: 1200px) {
    .ts1 {
      width: 500px; } }
  @media (max-width: 992px) {
    .ts1 {
      top: 0px;
      left: 0px;
      width: 100%;
      position: relative; } }

.ts2 {
  top: 120px;
  left: 270px;
  position: absolute;
  width: 550px; }
  @media (max-width: 1200px) {
    .ts2 {
      width: 500px;
      left: 0px; } }
  @media (max-width: 992px) {
    .ts2 {
      top: 15px;
      left: 0px;
      width: 100%;
      position: relative; } }

.ts3 {
  top: -10px;
  left: 600px;
  position: absolute;
  width: 550px; }
  @media (max-width: 1200px) {
    .ts3 {
      width: 425px;
      left: 550px;
      top: 40px; } }
  @media (max-width: 1045px) {
    .ts3 {
      width: 400px; } }
  @media (max-width: 992px) {
    .ts3 {
      top: 30px;
      left: 0px;
      width: 100%;
      position: relative; } }

.col-circle1 {
  width: 38% !important;
  padding-left: 0px; }
  @media (max-width: 1045px) {
    .col-circle1 {
      width: 36% !important; } }
  @media (max-width: 992px) {
    .col-circle1 {
      padding-left: 30%; } }
  @media (max-width: 640px) {
    .col-circle1 {
      padding-left: 27%; } }
  @media (max-width: 545px) {
    .col-circle1 {
      padding-left: 20%; } }
  @media (max-width: 460px) {
    .col-circle1 {
      padding-left: 12%; } }
  @media (max-width: 360px) {
    .col-circle1 {
      padding-left: 11%; } }
  @media (max-width: 330px) {
    .col-circle1 {
      padding-left: 1%; } }

.col-circle2 {
  width: 37% !important;
  padding-left: 0px; }
  @media (max-width: 1045px) {
    .col-circle2 {
      width: 35% !important; } }
  @media (max-width: 992px) {
    .col-circle2 {
      padding-left: 30%; } }
  @media (max-width: 640px) {
    .col-circle2 {
      padding-left: 27%; } }
  @media (max-width: 545px) {
    .col-circle2 {
      padding-left: 20%; } }
  @media (max-width: 460px) {
    .col-circle2 {
      padding-left: 12%; } }
  @media (max-width: 360px) {
    .col-circle2 {
      padding-left: 11%; } }
  @media (max-width: 330px) {
    .col-circle2 {
      padding-left: 1%; } }

.col-circle3 {
  width: 0% !important;
  padding-left: 0px; }
  @media (max-width: 992px) {
    .col-circle3 {
      padding-left: 30%; } }
  @media (max-width: 640px) {
    .col-circle3 {
      padding-left: 27%; } }
  @media (max-width: 545px) {
    .col-circle3 {
      padding-left: 20%; } }
  @media (max-width: 460px) {
    .col-circle3 {
      padding-left: 12%; } }
  @media (max-width: 360px) {
    .col-circle3 {
      padding-left: 11%; } }
  @media (max-width: 330px) {
    .col-circle3 {
      padding-left: 1%; } }

.main-circle {
  height: 256px;
  width: 256px;
  -moz-border-radius: 256px;
  -webkit-border-radius: 256px;
  border-radius: 256px;
  color: white;
  text-align: center;
  font-size: 24px;
  padding-top: 44px;
  padding-bottom: 64px;
  padding-left: 46px;
  padding-right: 46px; }

.main-circle1 {
  background-color: #93D0B1;
  border: 1px solid #53B985; }

.main-circle2 {
  background-color: #FCC98A;
  border: 1px solid #F2AF5C;
  padding-left: 37px;
  padding-right: 37px; }

.main-circle3 {
  background-color: #9B9ECF;
  border: 1px solid #8085CD;
  padding-left: 27px;
  padding-right: 27px; }

#intro_video {
  width: 560px;
  height: 315px; }
  @media (max-width: 992px) {
    #intro_video {
      width: 400px;
      height: 225px; } }
  @media (max-width: 767px) {
    #intro_video {
      width: 300px;
      height: 169px; } }

#buy_page .order_button_container {
  margin-left: 227px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: left; }
@media (max-width: 630px) {
  #buy_page .order_button_container {
    margin-left: 0;
    text-align: center; } }
#buy_page .fine_print {
  margin-top: 30px;
  font-size: smaller; }

@media (max-width: 1200px) {
  #what_is_speck .panel-body {
    min-height: 360px; } }
@media (max-width: 992px) {
  #what_is_speck .panel-body {
    min-height: 0px; } }

#particles {
  margin-top: 42px; }
  #particles .panel-heading a:before {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: left;
    color: grey;
    padding-right: 10px; }
  #particles .panel-heading a.collapsed:before {
    content: "\e080"; }
  #particles .panel-body p {
    min-height: 110px; }
  @media (max-width: 1200px) {
    #particles .col-lg-7 {
      padding-top: 20px; }
    #particles .padd-bottom {
      padding-bottom: 60px; }
    #particles .panel-body p {
      min-height: 120px; } }
  @media (max-width: 992px) {
    #particles .panel-body p {
      min-height: 0px !important; } }

#dashboard {
  margin: 0 auto 0 auto; }
  #dashboard #menu_panel {
    position: absolute;
    width: 180px;
    margin-top: 72px;
    padding: 5px;
    font-size: 12px; }
    #dashboard #menu_panel .title {
      font-size: 14px;
      font-weight: bold; }
    #dashboard #menu_panel #devices_and_feeds {
      overflow-y: scroll; }
      #dashboard #menu_panel #devices_and_feeds .device_and_feeds {
        margin-top: 5px; }
        #dashboard #menu_panel #devices_and_feeds .device_and_feeds .device {
          font-weight: bold; }
        #dashboard #menu_panel #devices_and_feeds .device_and_feeds .feed {
          white-space: nowrap;
          overflow: hidden; }
          #dashboard #menu_panel #devices_and_feeds .device_and_feeds .feed label {
            margin-left: 3px; }
  #dashboard #content_area {
    position: relative;
    margin-left: 190px; }
    #dashboard #content_area #export_button {
      padding: 2px 5px 2px 5px;
      font-size: 18px;
      margin-bottom: 7px; }
    #dashboard #content_area #export_button_menu {
      margin-top: -5px; }
    #dashboard #content_area #grapher_bottom_toolbar {
      margin-top: 5px; }
    #dashboard #content_area #time_range_switcher_panel, #dashboard #content_area #time_range_switcher_panel_placeholder {
      display: none;
      font-size: 12px;
      margin-bottom: 5px; }
    #dashboard #content_area #map_area {
      margin-top: 10px;
      border: 1px solid black;
      width: 880px;
      height: 300px; }
      @media (max-width: 767px) {
        #dashboard #content_area #map_area {
          display: none; } }
    #dashboard #content_area #no_geolocation {
      position: absolute;
      width: 350px;
      text-align: center;
      padding: 2px;
      top: 1px;
      left: 50%;
      margin: 0 auto 0 -175px;
      background-color: rgba(255, 200, 200, 0.75);
      display: none; }

.device_list .device_list_item {
  border: 1px solid black;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 10px;
  margin: 5px 0 5px 0; }

.account_table {
  display: table; }
  .account_table .account_row {
    display: table-row; }
    .account_table .account_row .account_header_cell {
      font-weight: bold; }
    .account_table .account_row .account_cell {
      display: table-cell;
      padding-right: 5px; }

body.interior_page #default_footer {
  display: block; }
body.interior_page #interior_footer {
  display: none; }
@media (max-width: 767px) {
  body.interior_page #default_footer {
    display: none; }
  body.interior_page #interior_footer {
    display: block; } }

#default_footer {
  margin: 40px 0 0 0; }
  #default_footer .footer_piece {
    line-height: 32px; }
    @media (max-width: 767px) {
      #default_footer .footer_piece {
        margin-bottom: 10px; } }
  #default_footer .footer_piece:nth-child(1) {
    text-align: left;
    white-space: nowrap; }
  #default_footer .footer_piece:nth-child(2) {
    text-align: center; }
    @media (max-width: 767px) {
      #default_footer .footer_piece:nth-child(2) {
        display: none; } }
  #default_footer .footer_piece:nth-child(3) {
    text-align: right;
    white-space: nowrap; }
  #default_footer .copyright {
    color: #9d9d9d; }
  #default_footer .social_media_link {
    font-size: smaller;
    color: #9d9d9d; }
  #default_footer .social_media_link:hover {
    color: black; }
  #default_footer .link {
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px; }
    #default_footer .link .active {
      font-weight: bold; }

#interior_footer {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto 0 auto;
  color: #9d9d9d;
  z-index: 10;
  font-size: 24px;
  height: 51px;
  min-height: 51px; }
  #interior_footer .navbar-header {
    height: 50px; }
    #interior_footer .navbar-header .navbar-nav {
      margin: 0; }
    #interior_footer .navbar-header .navbar-nav > li > a {
      padding: 0; }
    #interior_footer .navbar-header .nav > li {
      display: inline-block;
      width: 50px;
      min-width: 50px;
      max-width: 50px;
      text-align: center; }
      #interior_footer .navbar-header .nav > li a {
        text-align: center; }
        #interior_footer .navbar-header .nav > li a i {
          padding: 13px 0; }
      #interior_footer .navbar-header .nav > li .speck_icon_anchor {
        width: 50px;
        height: 50px;
        padding: 15px 0; }
      #interior_footer .navbar-header .nav > li .speck_icon {
        display: inline-block;
        width: 25px;
        height: 20px;
        background: url('../images/speck_icon_grey@2x.png') no-repeat;
        background-size: 25px 20px; }
    #interior_footer .navbar-header .nav > li.active .speck_icon, #interior_footer .navbar-header .nav > li:hover .speck_icon {
      background-image: url('../images/speck_icon_white@2x.png'); }
