$TRANSLUCENT_WHITE_BODY_BACKGROUND: rgba(255, 255, 255, .8);
$LINK_COLOR: #6699B6;
$ROUNDED_CONTAINER_BACKGROUND_COLOR: #6699B6;
$FILL_LINE_COLOR: #90b6ce;
$BODY_TEXT_COLOR: #1c1c1e;
$CONTENT_WIDTH: 1130px;

// =====================================================================================================================
// Bootstrap overrides
// =====================================================================================================================

a:hover {
   text-decoration: none;
}

.h2, h2 {
   margin-bottom: 20px;
}

// =====================================================================================================================
// Main containers
// =====================================================================================================================

html, body {
   font-family: 'Open Sans', 'Helvetica', sans-serif !important;
   font-weight: 400 !important;
   font-size: 16px !important;
   color: $BODY_TEXT_COLOR;
   background: white;
   background-size: 100%;
   margin: 0;
   padding: 0;
   height: 100%;
}

#body_container {
   height: 100%;
   min-height: 100%;
   width: 100%;
   padding-left: 10px;
   padding-right: 10px;
   margin: 0;
   position: relative;
}

#wrapper {
   min-height: 100%;
   position: relative;
   width: $CONTENT_WIDTH;
   margin-left: auto;
   margin-right: auto;
}

#content {
   padding-bottom: 80px; /* this must equal the height of the footer, including margins */

   .content_container {
      margin: 20px;
   }
}

.overlay_container {
   height: 420px;
   overflow: hidden;
   position: relative;
}

.rounded_container {
   position: relative;
   display: inline-block;
   border-radius: 0px;
   height: 344px;
   background-color: $ROUNDED_CONTAINER_BACKGROUND_COLOR;
   color: #fff;
   text-align: left;
   padding: 1px 22px 37px 23px;
   font-size: 16px;
   line-height: 25px;
}

.rounded_container2 {
   position: relative;
   border-radius: 5px;
   height: 100%;
   background-color: $ROUNDED_CONTAINER_BACKGROUND_COLOR;
   color: #fff;
   text-align: left;
   padding: 35px;
   font-size: 16px;
   line-height: 25px;
}

.rounded_container_title {
   text-align: center;
   font-weight: bold;
   padding-top: 22px;
}

.rounded_container_content {
   font-size: 15px;
}

.rounded_container_end {
   bottom: 10px;
   position: absolute;
   width: 220px;
   text-decoration: underline;
   text-align: center;
}

// =====================================================================================================================
// Rotations and Misc
// =====================================================================================================================

@mixin rotate($degrees) {
   transform: rotate(#{$degrees}deg);
   -ms-transform: rotate(#{$degrees}deg);
   -webkit-transform: rotate(#{$degrees}deg);
}

.rotate_90 {
   @include rotate(90);
}

// Prevent copy/paste (found at http://wiki.phonegap.com/iPhone:-Prevent-copy-paste and http://stackoverflow.com/questions/7059039/how-to-prevent-accidental-select-drag-highlight-on-webpage-when-drawing-off-html) */
.noselect {
   -moz-user-select: none;
   -webkit-user-select: none;
   -webkit-text-size-adjust: none;
   -ms-user-select: none;
   user-select: none;
   cursor: default;
}

// =====================================================================================================================
// Typography
// =====================================================================================================================

a {
   color: $LINK_COLOR;
   text-decoration: none;

   img {
      border: none;
   }
}

a:hover, a:focus {
   opacity: 0.6;
   filter: alpha(opacity=60);
}

li {
   margin: 20px 0;
}

.page_title {
   color: black;
   font-size: 24px !important;
   margin-bottom: 20px;
}

.page_subtitle {
   color: black;
   font-size: 18px !important;
   margin-bottom: 10px;
}

.page_instructions {
   color: black;
   margin-bottom: 20px;
}

// =====================================================================================================================
// Decorations
// =====================================================================================================================

.vertical_shadows {
   box-shadow: 8px 0 10px -5px #cccccc, -8px 0 10px -5px #cccccc;
}

.fill_line {
   background-color: $FILL_LINE_COLOR;
   height: 5px;
}

.fill_line_with_top_margin {
   // TODO: remove this
}

.fill_line_header {
   min-width: $CONTENT_WIDTH !important;
}

// =====================================================================================================================
// Icons
// =====================================================================================================================

.checkmark_icon_container {
   width: 24px;
   height: 19px;
   padding: 0;
   margin: 0;
}

.checkmark_white {
   width: 24px;
   height: 19px;
   background: transparent url("../images/checkmark_white.png") no-repeat 0 0;
   background-size: 24px 19px;
}

// =====================================================================================================================
// Header
// =====================================================================================================================

#header {
   padding-top: 12px;
   line-height: 60px;
   min-width: $CONTENT_WIDTH;

   #header_logo_container {
      text-align: left;
   }

   #header_link_container {
      position: absolute;
      right: 20px;
      top: 42px;
      line-height: 16px;
      text-transform: uppercase;

      a {
         color: $LINK_COLOR;
      }

      .link {
         font-size: 17px;
         display: inline-block;
         margin-left: 40px;

         .active {
         }
      }
   }

   #logo {
      font-family: Lato, sans-serif !important;
      font-weight: normal !important;
      font-size: 60px !important;
      color: black !important;
      margin-right: 0 !important;
      margin-left: 20px !important;
   }

   #logo:hover {
      opacity: 1 !important;
      filter: alpha(opacity=100) !important;
   }

   .trademark_logo {
      display: none; // cleaner without it, but...
      position: relative;
      top: -30px;
      right: -2px;
      color: #cccccc;
   }

   .fill_line {
      margin-top: 10px;
   }
}

// =====================================================================================================================
// Footer
// =====================================================================================================================

#footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   min-width: $CONTENT_WIDTH;
   line-height: 15px;
   margin-top: 20px;
   padding: 0 0 20px 0;
   //   background-color: #f5f5f5;

   .fill_line {
      margin-bottom: 20px;
   }

   #footer_content {
      position: relative;

      #footer_left {
         text-align: left;
         margin-left: 20px
      }

      #footer_right {
         position: absolute;
         right: 20px;
         bottom: 0;

         .link {
            font-size: 15px;
            display: inline-block;
            margin-left: 40px;

            .active {
               font-weight: bold;
            }
         }
      }
   }
}

// =====================================================================================================================
// Forms
// =====================================================================================================================

.big_form {
   input[type="text"], input[type="email"], input[type="password"], input[type="url"] {
      height: 50px;
      font-size: 20px;
      padding-left: 15px;
      margin: 0 0 15px 0;
   }

   .btn {
      font-size: 16px;
   }
}

.form_messages {
   display: none;
   margin-bottom: 15px;
}

.form_error_messages {
   border: 1px solid #A75B4E;
   background: #FAD3C4;
   display: none;
}

.form_success_messages {
   border: 1px solid #598800;
   background: #E2F1BB;
}

// =====================================================================================================================
// Map
// =====================================================================================================================

#map_area {

   #map_canvas {
      width: 416px;
      height: 300px;
      border: 1px solid $BODY_TEXT_COLOR;
      margin: 0;
      padding: 0;
   }

   .map_instructions {
      font-size: 12px !important;
      color: #666666;
   }

   #map_geolocation {
      font-size: 12px !important;
   }

   .map_geolocation_prompt {
      display: none;
   }
}

// =====================================================================================================================
// Home Page
// =====================================================================================================================

#home_page {
   #home_page_image_overlay {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: -575px;
      right: 0;
      top: 87px;
      color: white;
      font-size: 30px;
      width: 407px;
      text-align: left;

   }

   #main_points {
      margin: 20px 0 0px 0;
      text-align: left;
      width: $CONTENT_WIDTH;
      max-width: $CONTENT_WIDTH;

      .content_cell {
         width: 266px;
         max-width: 266px;
      }
      .spacer_cell {
         width: 22px;
         max-width: 22px;
      }

   }
}

// =====================================================================================================================
// Login Page
// =====================================================================================================================

#login_page {
   form {
      width: 50%;
   }
}

// =====================================================================================================================
// Sign Up Page
// =====================================================================================================================

#signup_page {
   form {
      width: 50%;
   }
}

// =====================================================================================================================
// Sign Up Page
// =====================================================================================================================

#password_reset_page {
   form {
      width: 50%;
   }
}

// =====================================================================================================================
// Verification Page
// =====================================================================================================================

#verification_page {
   form {
      width: 50%;
   }
}

// =====================================================================================================================
// Software
// =====================================================================================================================

#software_page {
   .version_number {
      font-size: 11px;
   }
}

// =====================================================================================================================
// About Us
// =====================================================================================================================

#about_us_page {

   #narrative {
   }

   #logos {
      float: right;
      text-align: right;
      margin: 0 0 200px 20px;

      a:hover {
         opacity: 1 !important;
         filter: alpha(opacity=100) !important;
      }
   }
}

// =====================================================================================================================
// Dashboard
// =====================================================================================================================

$DASHBOARD_MENU_PANEL_WIDTH: 190px;
$DASHBOARD_MENU_PANEL_PADDING: 5px;
#dashboard {
   background: $TRANSLUCENT_WHITE_BODY_BACKGROUND;
   margin: 0 auto 0px auto;

   #menu_panel {
      position: absolute;
      width: $DASHBOARD_MENU_PANEL_WIDTH - (2*$DASHBOARD_MENU_PANEL_PADDING);
      margin-top: 44px;
      padding: $DASHBOARD_MENU_PANEL_PADDING;

      font-size: 12px;

      .title {
         font-size: 14px;
         font-weight: bold;
      }

      #devices_and_feeds {
         overflow-y: scroll;

         .device_and_feeds {
            margin-top: 5px;

            .device {
               font-weight: bold;
            }

            .feed {
               white-space: nowrap;
               overflow: hidden;

               label {
                  margin-left: 3px;
               }
            }
         }
      }
   }

   #content_area {
      position: relative;
      margin-left: $DASHBOARD_MENU_PANEL_WIDTH;

      #map_area {
         margin-top: 10px;
         border: 1px solid black;
         width: 880px;
         height: 400px;
      }

      #no_geolocation {
         position: absolute;
         width: 350px;
         text-align: center;
         padding: 2px;
         top: 1px;
         left: 50%;
         margin: 0 auto 0 -175px;
         background-color: rgba(255, 200, 200, 0.75);
         display: none;
      }
   }
}

// =====================================================================================================================
// Devices
// =====================================================================================================================

.device_list {
   .device_list_item {
      border: 1px solid $BODY_TEXT_COLOR;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      color: $BODY_TEXT_COLOR;
      padding: 10px;
      margin: 5px 0 5px 0;
      cursor: pointer;
   }
}

// =====================================================================================================================
// Feeds
// =====================================================================================================================

.feed_list {
   .feed_list_item {
      border: 1px solid $BODY_TEXT_COLOR;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      color: $BODY_TEXT_COLOR;
      padding: 10px;
      margin: 5px 0 5px 0;
      cursor: pointer;
   }

   .feed_list_item:hover {
      border: 1px solid $LINK_COLOR;
   }

   .selected_feed {
      color: white;
      background-color: $LINK_COLOR;
   }
}

// =====================================================================================================================
// Account
// =====================================================================================================================

.account_table {
   display: table;

   .account_row {
      display: table-row;

      .account_header_cell {
         font-weight: bold;
      }

      .account_cell {
         display: table-cell;
         padding-right: 5px;
      }
   }
}

// =====================================================================================================================
