<div id="contact_us_page">
   <h2>Contact Us</h2>
   <div class="section">
      <p>
         Questions? Concerns? Need Help? What to get in touch? You're in the right place.
      </p>
      <p>
         For quick answers to some common questions, visit our <a href="/support/faq">Frequently Asked Questions</a> page.
      </p>
      <p>
         Share your air quality stories with us and tell us how you are using Speck by connecting with us on
         <a href="https://www.facebook.com/SpeckSensor" target="_blank"><i class="fa fa-facebook-official"></i> Facebook</a>,
         <a href="https://twitter.com/specksensor" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>, and
         <a href="https://www.instagram.com/speck_sensor/" target="_blank"><i class="fa fa-instagram"></i> Instagram</a>.
      </p>
      For technical support, please email us at
      {{> mailto email="support@specksensor.com" subject="Speck%20tech%20support"}}.
      For general inquiries, reach us at
      {{> mailto email="info@specksensor.com" subject="Inquiry%20about%20Speck"}}.
   </div>

   <div class="section">
      <a name="discounts" class="anchor"></a>
      <h3>Discounts</h3>
      <p>
         For information on the following discounts, please contact
         {{> mailto email="outreach@specksensor.com" subject="Speck%20discounts"}}:
      </p>
      <ul>
         <li>
            Educational institutions (school, public library, museum) receive:
            <ul>
               <li>10% off all purchases (in addition to any bulk discounts)</li>
               <li>Sales tax exempt status if documentation provided (only required for Pennsylvania customers)</li>
               <li>
                  Ability to pay via Purchase Order. To pay via PO, please email us your account username and the PO
                  number you will be using before you place the order.
               </li>
            </ul>
         </li>
         <li>Community Action Groups - discount to be determined on a case-by-case basis</li>
      </ul>
      <p>
         For information on bulk discounts of orders valued over $2,000.00 USD, please contact
         {{> mailto email="sales@specksensor.com" subject="Bulk%20order"}}
      </p>
   </div>

   <div class="section">
      {{> exchange-and-return-policy exchange_title="Exchanges" return_title="Returns"}}
   </div>

</div>

