<div id="contact_us_page">
   <h2>Contact Us</h2>
   <div>
      For all inquiries, please contact us at
      <a href="mailto:info@specksensor.com?Subject=Inquiry%20about%20Speck" target="_top">info@specksensor.com</a>.  Or, find us on Twitter or Facebook:
   </div>
   <div class="social_media_link">
      <a href="https://twitter.com/specksensor" target="_blank"><i class="fa fa-twitter"></i></a> <a href="https://twitter.com/specksensor" target="_blank">@SpeckSensor</a>
   </div>
   <div class="social_media_link">
      <a href="https://www.facebook.com/SpeckSensor" target="_blank"><i class="fa fa-facebook-official"></i></a> <a href="https://www.facebook.com/SpeckSensor" target="_blank">SpeckSensor</a>
   </div>
</div>

