<div id="faq_page" class="clearfix">
   <h2>Frequently Asked Questions</h2>
   <div>
      <h4>General Info</h4>

      <ul>
         <li>
            <div class="question_teaser">
               <a href="#q1">What is Speck?</a>
            </div>
         </li>
         <li>
            <div class="question_teaser">
               <a href="#q2">What does the Speck measure?</a>
            </div>
         </li>
         <li>
            <div class="question_teaser">
               <a href="#q15">How is the Speck different from other available air quality sensors?</a>
            </div>
         </li>
         <li>
            <div class="question_teaser">
               <a href="#q3">Is Speck especially useful for people with health issues like asthma or can we find a use for everybody too?</a>
            </div>
         </li>
         <li>
            <div class="question_teaser">
               <a href="#q23">Is the Speck for indoor use only? What are the limitations for outdoor use?</a>
            </div>
         </li>
         <li>
            <div class="question_teaser">
               <a href="#q22">What are the maintenance and/or calibration procedures needed for the Speck to keep functioning optimally?</a>
            </div>
         </li>
      </ul>

      <h4>Purchasing</h4>

      <ul>
         <li>
            <div class="question_teaser">
               <a href="#q4">How can I purchase Speck?</a>
            </div>
         </li>
         <li>
            <div class="question_teaser">
               <a href="#q28">Do you offer discounts or honor tax-exempt purchases?</a>
            </div>
         </li>
         <li>
            <div class="question_teaser">
               <a href="#q5">How soon will I receive my Speck after placing my order online?</a>
            </div>
         </li>
      </ul>

      <h4>Technical Details</h4>

      <ul>
         <li>
            <div class="question_teaser">
               <a href="#q27">What are the Speck's technical specifications?</a>
            </div>
         </li>
         <li>
            <div class="question_teaser">
               <a href="#q6">How big is the Speck?</a>
            </div>
         </li>
         <li>
            <div class="question_teaser">
               <a href="#q25">What is the noise level that Speck generates?</a>
            </div>
         </li>
         <li>
            <div class="question_teaser">
               <a href="#q24">What voltage does the Speck require?</a>
            </div>
         </li>
         <li>
            <div class="question_teaser">
               <a href="#q7">What sort of technology does the Speck use?</a>
            </div>
         </li>
         <li>
            <div class="question_teaser">
               <a href="#q8">What is the Speck's accuracy?</a>
            </div>
         </li>
         <li>
            <div class="question_teaser">
               <a href="#q9">What range of particulate size does the Speck measure?</a>
            </div>
         </li>
         <li>
            <div class="question_teaser">
               <a href="#q10">Is the Speck capable of measuring anything other than PM<sub>2.5</sub>?</a>
            </div>
         </li>
         <li>
            <div class="question_teaser">
               <a href="#q11">Does the Speck reveal mold spores in the indoor air?</a>
            </div>
         </li>
         <li>
            <div class="question_teaser">
               <a href="#q12">Does the Speck measure radon levels?</a>
            </div>
         </li>
         <li>
            <div class="question_teaser">
               <a href="#q26">Why doesn't the Speck measure VOC's and other molecules, such as carbon dioxide?</a>
            </div>
         </li>
         <li>
            <div class="question_teaser">
               <a href="#q13">Is the Speck able to distinguish between fine and coarse particulates?</a>
            </div>
         </li>
         <li>
            <div class="question_teaser">
               <a href="#q14">Does the Speck detect specifics such as cigarette smoke?</a>
            </div>
         </li>
         <li>
            <div class="question_teaser">
               <a href="#q16">Does the Speck require constant Wi-Fi to function?</a>
            </div>
         </li>
         <li>
            <div class="question_teaser">
               <a href="#q17">What types of wireless encryption does the Speck support?</a>
            </div>
         </li>
         <li>
            <div class="question_teaser">
               <a href="#q18">Is it possible to download data directly from the Speck to my computer?</a>
            </div>
         </li>
      </ul>

      <h4>Usage Outside the United States</h4>

      <ul>
         <li>
            <div class="question_teaser">
               <a href="#q19">Would the Speck function properly with a power converter outside the U.S.?</a>
            </div>
         </li>
         <li>
            <div class="question_teaser">
               <a href="#q20">Will I be able to register the Speck and connect to Wi-Fi in a location outside the U.S.?</a>
            </div>
         </li>
         <li>
            <div class="question_teaser">
               <a href="#q21">Does the zip code search on specksensor.com show data for countries other than the U.S.?</a>
            </div>
         </li>
      </ul>
      <hr>

      <h3>General Info</h3>

      <div class="question_and_answer">
         <a name="q1" class="anchor"></a>
         <div class="question">
            What is Speck?
         </div>
         <div class="answer">
            Speck is an air quality monitor that detects
            <a href="/particles">fine particulate matter</a> in your indoor environment and informs you
            about changes and trends in particle concentration.
         </div>
      </div>
      <div class="question_and_answer">
         <a name="q2" class="anchor"></a>
         <div class="question">
            What does the Speck measure?
         </div>
         <div class="answer">
            The Speck detects fine particles that are between 0.5 microns and 3.0 microns in size. It then uses this
            information to estimate PM<sub>2.5</sub> levels in the air and reports on these particle concentrations.
            PM<sub>2.5</sub> is directly linked to asthma, cardiovascular disease, arrhythmia and many other adverse
            <a href="http://www.epa.gov/airquality/particulatematter/health.html">health effects</a>.
         </div>
      </div>
      <div class="question_and_answer">
         <a name="q15" class="anchor"></a>
         <div class="question">
            How is the Speck different from other available air quality sensors?
         </div>
         <div class="answer">
            <p>
               The Speck measures and reports on particulates in the air, with estimates in both particulate count
               and weight.
            </p>
            <p>
               Each Speck is individually calibrated and uses machine learning to maximize accuracy, both of which are
               major improvements on most other devices.
            </p>
            <p>
               In addition, the Speck has a full-color screen built-in, designed to sit in your house and show you
               second-by-second trends in air quality. This is very important because you can then develop an intuition
               for how your house performs; for example, when the gas heat turns on, when you cook, when you vacuum,
               etc. How different activities and events affect your air quality will become immediately apparent, and
               our <a href="/particles#pathways-to-better-air">online guidance</a> then helps you understand how to
               significantly improve your home air quality.
            </p>
            <p>
               Another key distinguishing feature of the Speck is related to data ownership&mdash;your Speck data belong
               to you! You have the power to view, analyze and share that information as you see fit. We offer an
               optional data repository to facilitate data collection, but never assume ownership of your information.
            </p>
            <p>
               The Speck is Wi-Fi enabled so you can direct all your data reports to an open-source data repository
               where you can view and interact with your data. You can also download your data for further analysis.
            </p>
            <p>
               Finally, many companies have announced air quality sensors that will come out over the next two years.
               We're pledged to buy multiples of every one of them, test them transparently and reproducibly, and
               publish the results. We are also inviting all air quality sensors to house their data on our open-source
               repository, where the customer has complete control over their data.
            </p>
         </div>
      </div>
      <div class="question_and_answer">
         <a name="q3" class="anchor"></a>
         <div class="question">
            Is Speck especially useful for people with health issues like asthma or can we find a use for everybody too?
         </div>
         <div class="answer">
            <p>
               It is useful for anyone elderly, anyone with heart conditions, anyone with asthma, and anyone that lives
               in an urban environment, given how bad air can be and how we can unknowingly have filters that do not
               work correctly in our home! So, the Speck can be useful for everyone.
            </p>
            <p>
               In addition, prolonged exposure to polluted air could accelerate the onset of lung disease, heart disease
               and allergies. Monitoring and controlling your indoor air quality is the first step towards mitigating
               your risks. Many people neglect their indoor air filters and don't realize how their indoor air quality
               is affected. With the Speck, you have instant insight to your personal fine particulate pollution exposure.
            </p>
         </div>
      </div>
      <div class="question_and_answer">
         <a name="q23" class="anchor"></a>
         <div class="question">
            Is the Speck for indoor use only? What are the limitations for outdoor use?
         </div>
         <div class="answer">
            <p>
               The Speck is developed mainly for indoor use. While you can put it outdoors&mdash;for instance on a
               covered porch or in a garage&mdash;there are many outdoor variables that can impede the Speck's function.
               For example, it will lose accuracy when humidity levels are very high (e.g. thick fog or during a rainstorm) or if
               anything obstructs the air intake (e.g. if a spider crawls in).
            </p>
            <p>
               We will be working on calibrating and designing units that are more effective for outdoor use, and
               possibly even changing the enclosure for that case. However, that model is still months away.
            </p>
         </div>
      </div>
      <div class="question_and_answer">
         <a name="q22" class="anchor"></a>
         <div class="question">
            What are the maintenance and/or calibration procedures needed for the Speck to keep functioning optimally?
         </div>
         <div class="answer">
            <p>
               Once you receive your Speck, you should not need to adjust the calibration yourself. If there are any firmware/software updates, we will be able push those remotely to your unit via a Wi-Fi connection.
            </p>
            <p>
               For maintenance, our two main recommendations are:
            </p>
            <ul>
               <li>Keep the Speck away from direct sunlight exposure</li>
               <li>Clean/dust the sensor lens every 2 to 3 months by running compressed air through the air intake at the bottom of the unit</li>
            </ul>
            <p>
               We do not anticipate you will need to do much more outside of these suggestions, but will definitely keep you informed if any changes occur.
            </p>
         </div>
      </div>

      <h3>Purchasing</h3>

      <div class="question_and_answer">
         <a name="q4" class="anchor"></a>
         <div class="question">
            How can I purchase Speck?
         </div>
         <div class="answer">
            <p>
               You can buy a Speck via credit card in our <a href="/buy">online store</a>.
            </p>
            <p>
               If you prefer to pay via check or wire transfer, please contact us at
               {{> mailto email="sales@specksensor.com" subject="Purchase%20Speck%20via%20check%20or%20wire%20transfer"}}.
            </p>
            <p>
               For bulk purchases (over 10 units) and related discount inquiries, please see our
               <a href="/support/contact-us#discounts">discounts policies</a> and contact us to discuss.
            </p>
         </div>
      </div>
      <div class="question_and_answer">
         <a name="q28" class="anchor"></a>
         <div class="question">
            Do you offer discounts or honor tax-exempt purchases?
         </div>
         <div class="answer">
            Where appropriate, yes. Please see our <a href="/support/contact-us#discounts">discounts policies</a> and contact us to discuss.
         </div>
      </div>
      <div class="question_and_answer">
         <a name="q5" class="anchor"></a>
         <div class="question">
            How soon will my Speck ship after placing my order online?
         </div>
         <div class="answer">
            Please refer to the <a href="/buy">Speck product page in our online store</a> for estimated shipping times.
         </div>
      </div>

      <h3>Technical Details</h3>

      <div class="question_and_answer">
         <a name="q27" class="anchor"></a>
         <div class="question">
            What are the Speck's technical specifications?
         </div>
         <div class="answer">
            Please see the <a href="/support/tech-specs">technical specifications</a> page.
         </div>
      </div>
      <div class="question_and_answer">
         <a name="q6" class="anchor"></a>
         <div class="question">
            How big is the Speck?
         </div>
         <div class="answer">
            The Speck as a whole is about four inches by three inches; so it's designed to fit most
            anywhere in the house. The screen/monitor is a 3.2" touch screen. Please see the
            <a href="/support/tech-specs">technical specifications</a> page for more precise measurements and
            other details.
         </div>
      </div>
      <div class="question_and_answer">
         <a name="q25" class="anchor"></a>
         <div class="question">
            What is the noise level that Speck generates?
         </div>
         <div class="answer">
            The Speck has a very quiet fan. If you set it on a desk or mount it on a wall, few will notice that it is
            on. However, if you are very sensitive to sounds, you might notice the noise from the Speck's fan.
         </div>
      </div>
      <div class="question_and_answer">
         <a name="q24" class="anchor"></a>
         <div class="question">
            What voltage does the Speck require?
         </div>
         <div class="answer">
            The Speck operates at an input voltage of 5V DC (via USB plug). It uses a USB micro plug for power, so you
            can plug it into any wall outlet as long as you have a transformer to USB. We recommend using a USB port or
            adapter capable of sourcing at least 500mA for maximum reliability. You can also power the Speck by plugging
            it into a computer; you will need to do this when registering the Speck and configuring it to your wireless
            network.
         </div>
      </div>
      <div class="question_and_answer">
         <a name="q7" class="anchor"></a>
         <div class="question">
            What sort of technology does the Speck use?
         </div>
         <div class="answer">
            The Speck utilizes an inexpensive
            <a href="http://www.chinaeds.com/zl/20123814144392849_DSM501APDF.pdf">Syhitech DSM501A dust sensor</a>
            and includes a small fan to increase airflow. We use machine learning to improve accuracy and individually
            calibrate each unit. The Speck is powered via USB and contains on-board data storage that can hold up to
            about 2 years worth of data. Each unit is also Wi-Fi enabled, so you can easily upload your data to our
            online data repository and access your indoor air quality information from anywhere.
         </div>
      </div>
      <div class="question_and_answer">
         <a name="q8" class="anchor"></a>
         <div class="question">
            What is the Speck's accuracy?
         </div>
         <div class="answer">
            We calibrated the Speck using Met One 2&mu;m particle counters and found a very strong correlation
            (r<sup>2</sup> of 0.9 or higher) during in-home pollution events such as cooking. We also continue to
            improve our calibration and quality control processes to improve accuracy and precision.
         </div>
      </div>
      <div class="question_and_answer">
         <a name="q9" class="anchor"></a>
         <div class="question">
            What range of particulate size does the Speck measure?
         </div>
         <div class="answer">
            The Speck is maximally sensitive to 0.5 - 3.0 micron particulates in the air. These are the pollution
            components most responsible for asthma, arrhythmia, cardiovascular disease, COPD, pulmonary disease and many
            other quality of life issues. Mold spores and some allergens (e.g. pet dander) also often include this size
            range, and so the Speck will notice when these peak in a home as well. However, the Speck cannot identify
            what types of particles are in the air; so, it's an indirect form of detection, but can be useful
            nevertheless.
         </div>
      </div>
      <div class="question_and_answer">
         <a name="q10" class="anchor"></a>
         <div class="question">
            Is the Speck capable of measuring anything other than PM<sub>2.5</sub>?
         </div>
         <div class="answer">
            <p>
               The Speck reports out temperature and fine particulate levels only. Particulates can be measured
               inexpensively and reliably, and as you know they are also a very important part of indoor air issues,
               since they are connected to such a large array of diseases; so, we start here.
            </p>
            <p>
               There are devices that measure CO<sub>2</sub> or CO, but do not offer a full picture of air quality; CO is a deadly
               gas; and CO<sub>2</sub> gives you a sense of how stale the air is. VOCs, on the other hand, are important to monitor
               to gauge air quality, because they are important factors for long-term cancer risk. However, there are no
               available inexpensive VOC sensors that are reliable long-term. We are still looking, and when we find one
               we'll certainly make it available.
            </p>
         </div>
      </div>
      <div class="question_and_answer">
         <a name="q11" class="anchor"></a>
         <div class="question">
            Does the Speck reveal mold spores in the indoor air?
         </div>
         <div class="answer">
            The Speck does not directly measure mold, no.
            <a href="http://www.epa.gov/mold/moldcourse/chapter1.html">Mold spores</a>
            can range in size between 2 and 100 microns. The Speck detects well between 0.5 microns and 3 microns, so if
            you have a mold spore plume, it likely will correlate with heightened Speck readings. Some prior Speck users
            have detected mold this way. Note, however, the Speck cannot definitively tell you that the particles
            detected are mold spores; but it can offer an indirect measurement, which could be useful.
         </div>
      </div>
      <div class="question_and_answer">
         <a name="q12" class="anchor"></a>
         <div class="question">
            Does the Speck measure radon levels?
         </div>
         <div class="answer">
            Unfortunately, no. We haven't yet figured out an inexpensive way to measure radon reliably.
         </div>
      </div>
      <div class="question_and_answer">
         <a name="q26" class="anchor"></a>
         <div class="question">
            Why doesn't the Speck measure VOC's and other molecules, such as carbon dioxide?
         </div>
         <div class="answer">
            The reason we chose to concentrate on fine particulates first is because of the very strong epidemiological
            correlation between particulates and numerous health outcomes, from asthma to cardiovascular disease.
            Equally importantly, we were able to find, incorporate and calibrate low-cost particle sensors that can stay
            in calibration and provide important information about air quality in the home.  VOC's are very important
            sources of exposure also; however, the inexpensive metal-oxide sensors on the market perform very poorly.
            They drift, and their calibration expires rapidly. As a result, VOC sensors that are inexpensive can provide
            unwarranted anxiety through false positives, and also a false sense of security through false negatives. We
            are working hard to find and develop new technologies for VOC sensing that will perform acceptably; however
            this is not yet available.  Carbon dioxide gives you an indication of the staleness of indoor air and is
            useful; we are evaluating some CO<sub>2</sub> sensors now; however the parts cost is tens of dollars, and so
            this could add significantly to the price of a low-cost air quality system.
         </div>
      </div>
      <div class="question_and_answer">
         <a name="q13" class="anchor"></a>
         <div class="question">
            Is the Speck able to distinguish between fine and coarse particulates?
         </div>
         <div class="answer">
            The Speck is most sensitive between 0.5 to 3 microns, but does not distinguish between larger and smaller
            particulates. A binning counter, such as the Hach Met-One is more suitable for distinguishing between
            PM<sub>2.5</sub> and PM<sub>10</sub>.
         </div>
      </div>
      <div class="question_and_answer">
         <a name="q14" class="anchor"></a>
         <div class="question">
            Does the Speck detect specifics such as cigarette smoke?
         </div>
         <div class="answer">
            The Speck measures fine particles in the air, from roughly 0.5 microns to 3 microns in size. So, it would
            detect emissions from cigarette smoke, yes. However, it wouldn't be able to identify what the specific
            particles or sources are.
         </div>
      </div>
      <div class="question_and_answer">
         <a name="q16" class="anchor"></a>
         <div class="question">
            Does the Speck require constant Wi-Fi to function?
         </div>
         <div class="answer">
            <p>
               No, it does not. The Speck has enough memory on-board for nearly 2 years of measurements. Once you do
               connect it to Wi-Fi and register it with specksensor.com, it will report any saved data samples up to your
               specksensor.com account. However, you could also use it as an entirely standalone device; the Speck screen
               makes that very effective, since you will see instant air pollution values as well as historical trends
               right on the screen!
            </p>
            <p>
               Even if you choose not to register your Speck to upload its data to specksensor.com, you should still
               connect it to a Wi-Fi network, if possible.  The Speck uses its Wi-Fi connection to correct its internal
               clock and download firmware updates.
            </p>
         </div>
      </div>
      <div class="question_and_answer">
         <a name="q17" class="anchor"></a>
         <div class="question">
            What types of wireless encryption does the Speck support?
         </div>
         <div class="answer">
            The Speck supports open wireless networks (no encryption), WEP, WPA, and WPA2 Personal. The Speck can use
            either the 802.11b or 802.11g wireless protocol. It does not support 802.11n.
         </div>
      </div>
      <div class="question_and_answer">
         <a name="q18" class="anchor"></a>
         <div class="question">
            Is it possible to download data directly from the Speck to my computer?
         </div>
         <div class="answer">
            <p>
               Yes! Your data is exactly that&mdash;your data. Our
               <a href="/support/software">Speck Chrome app</a> provides a way to download data directly from the Speck to a computer, saving it to a CSV file. We
               provide this capability for users who choose not to configure their Speck to
               upload to our data repository. Alternatively, the
               <a href="https://github.com/CMU-CREATE-Lab/speck-chrome-app">Chrome app is open source</a>, so users with
               programming knowledge are free to write their own tools to download the data if they wish.
            </p>
{{!--
            <p>
               A little further on, we will also add a "power user" mode in the Chrome app where users can
               change the Speck's upload destination. This is useful for users who would rather their Speck upload to a
               server under their direct control&mdash;either a custom made server, or simply a local instance of our
               <a href="https://github.com/CMU-CREATE-Lab/esdr">open source data repository</a>.
            </p>
--}}
         </div>
      </div>

      <h3>Usage Outside the United States</h3>

      <div class="question_and_answer">
         <a name="q19" class="anchor"></a>
         <div class="question">
            Would the Speck function properly with a power converter outside the U.S.?
         </div>
         <div class="answer">
            Yes, your Speck should work fine outside the U.S. - you can either use a personal USB power supply, or plug
            the Speck into a voltage converter.
         </div>
      </div>
      <div class="question_and_answer">
         <a name="q20" class="anchor"></a>
         <div class="question">
            Will I be able to register the Speck and connect to Wi-Fi in a location outside the U.S.?
         </div>
         <div class="answer">
            Yes, you shouldn't have any issues with using our <a href="/support/software">software</a> outside the U.S. As long
            as you have Internet access, you should be able to set up a specksensor.com account, register your Speck,
            and connect it to Wi-Fi so that you can view your data from anywhere.
         </div>
      </div>
      <div class="question_and_answer">
         <a name="q21" class="anchor"></a>
         <div class="question">
            Does the zip code search on specksensor.com show data for countries other than the U.S.?
         </div>
         <div class="answer">
            The zip code feature on specksensor.com is currently only pulling data from federal monitors in the U.S., so
            the search feature won't work for postal codes outside the country. If you have a good source for air
            quality data from another country, please let us know!
         </div>
      </div>

   </div>
</div>