<div id="legacy_software_page" class="clearfix">
   <h2>Legacy Software</h2>
   <div>
      <p>
         The older, black-colored Specks are now supported by the <a href="/support/software">Speck Chrome app</a> as of
         version 1.0.0 (released May 21, 2015).  However, if preferred, users may continue to use the Speck Gateway
         software available below. Users of the new, white-colored Specks must instead use the new <a href="/support/software">Speck app</a>.
      </p>
      <div><img src="/images/speck_gateway_app_screenshot.png" class="img-responsive" alt="The Speck Gateway app"></div>
      <h3>Speck Gateway <span style="font-size: 14px; font-weight: normal">(version 2.1.0)</span></h3>
      <p>
         The Speck Gateway is a free,
         <a href="https://github.com/CMU-CREATE-Lab/speck-gateway" target="github" class="link_underline">open-source</a> application
         which downloads data samples collected by the Speck to your computer.
      </p>
      <p>
         You must have
         <a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html" target="_blank" class="link_underline">Java SE 6</a>
         or newer installed in order to run the software.<br>
      </p>
      <p>
         If you need help, please see the
         <a href="/support/legacy-software/docs/speck_gateway.pdf" target="_blank">help documentation</a>.
      </p>
      <div class="row" style="text-align: center">
         <div class="col-sm-4">
            <p><a href="/support/legacy-software/mac/SpeckGateway.dmg" class="btn btn-default">Download for Mac OS</a></p>
         </div>
         <div class="col-sm-4">
            <p><a href="/support/legacy-software/windows/SpeckGateway.zip" class="btn btn-default">Download for Windows</a></p>
         </div>
         <div class="col-sm-4">
            <p><a href="/support/legacy-software/speck-gateway.zip" class="btn btn-default">Download for Linux</a></p>
         </div>
      </div>
      <p>
         If your operating system is not one of the above, or if you have custom
         configuration needs, please download the
         <a href="/support/legacy-software/speck-gateway.zip">Zip file version of the software</a>.
      </p>
   </div>
</div>
