<script src="/lib/ekko-lightbox/ekko-lightbox.min.js" type="text/javascript"></script>
<script type="text/javascript">
   $(document).ready(function() {
      $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
         event.preventDefault();
         $(this).ekkoLightbox();
      });
   });
</script>
<div id="software_page">
   <h2>Software</h2>
   <div class="main_section intro_text">
      <div class="row">
         <div class="col-sm-6">
            <p>
               Use our
               <a href="#computer">free software for your laptop or desktop computer</a> to configure your Speck, download data, or set
               it up to upload its data to your account on specksensor.com.
            </p>
         </div>
         <div class="col-sm-6">
            <p>
               On the go? Get our
               <a href="#mobile">iOS or Android mobile app</a> and see your Speck's current value in real time, and compare with
               Air Quality Index (AQI) readings from nearby government stations.
            </p>
         </div>
      </div>
   </div>

   <hr>

   <a name="computer" class="anchor"></a>
   <h2>Software for Your Computer</h2>
   <div class="main_section">
      <div class="row">
         <div class="col-md-8 col-sm-6">
            <p>
               Use our free software for your laptop or desktop comptuer to configure your Speck and optionally set it
               up to upload its data to your account on specksensor.com. Alternatively, you can use the Speck software
               to download the data directly to your computer.
            </p>
            <p style="text-align: center; margin:50px 0">
               <a class="btn btn-primary" href="https://chrome.google.com/webstore/detail/speck/anchbeboblnigmihhclbdkpdglecnimi" role="button" target="_blank"><i class="fa fa-download"></i> Download</a>
            </p>
            <p class="fine_print">
               The Speck app is available for free on the Chrome Web Store. The Speck app requires that you have
               the Google Chrome web browser installed on either Windows 7+ or Mac OS 10.8+.
            </p>
         </div>
         <div id="screenshot" class="col-md-4 col-sm-6 hidden-xs img-responsive">
            <a href="https://chrome.google.com/webstore/detail/speck/anchbeboblnigmihhclbdkpdglecnimi" target="chrome_app"><img src="/images/speck_app_screenshot_no_shadow.png" alt="The Speck app" class="img-responsive"></a>
         </div>
      </div>
   </div>

   <div class="main_section">
      <h3>Setup and Requirements</h3>
      <div>
         <p>
            You will need to have your Speck plugged in to your computer in order to use the Speck app. Simply use the
            USB cable supplied with your Speck&mdash;the small plug goes into the Speck, and the larger one goes into
            the USB port on your computer.
         </p>
         <p>
            You will also need to have the
            <a href="http://www.google.com/chrome/" target="get_chrome">Google Chrome web browser</a> installed on your
            computer. The Speck app is a Google Chrome app, and thus requires Google Chrome to be installed.
         </p>
      </div>
   </div>

   <div class="main_section">
      <h3>Download and Installation</h3>
      <div>
         <p>
            To install the software on your computer, go to the
            <a href="https://chrome.google.com/webstore/detail/speck/anchbeboblnigmihhclbdkpdglecnimi">Speck app's page on the Chrome Web Store</a>,
            and then click the "Add To Chrome" button. The videos below demonstrate the download and installation
            process in detail for Mac and Windows.
         </p>
      </div>
      <div class="row">
         <div class="col-xs-6">
            {{> vimeo_video_thumbnail_with_caption videoId="128538234" title="Installing the Speck App on a Mac" caption="Installing on a Mac" thumbnailImageFilename="519708010_640.jpg"}}
         </div>
         <div class="col-xs-6">
            {{> vimeo_video_thumbnail_with_caption videoId="128538327" title="Installing the Speck App on Windows" caption="Installing on Windows" thumbnailImageFilename="519708430_640.jpg"}}
         </div>
      </div>
   </div>

   <div class="main_section">
      <div class="sub_section">
         <h3>Using the Speck App</h3>
         <div>
            <p>
               The following videos demonstrate the various features of the Speck app in detail.
            </p>
         </div>
      </div>

      <div class="row sub_section">
         <div class="col-sm-7">
            <a name="overview" class="anchor"></a>
            <h4>Speck App Overview</h4>
            <p>
               This video gives a brief overview of the various features of the Speck app including changing the Speck's
               palette and value scale, changing the sample interval, deleting data and resetting settings, configuring
               Wi-Fi, and setting up uploads.
            </p>
         </div>
         <div class="col-sm-5">
            {{> vimeo_video_thumbnail_with_caption videoId="129042696" title="Speck App: Overview" caption="Speck App Overview" thumbnailImageFilename="520389907_640.jpg"}}
         </div>
      </div>

      <div class="row sub_section">
         <div class="col-sm-7">
            <a name="downloading-data" class="anchor"></a>
            <h4>Downloading Data Samples</h4>
            <p>
               To download saved data samples from your Speck to your computer, do the following:
            </p>
            <ol>
               <li>On the Speck app, choose the "Download Data" option.</li>
               <li>Assign a filename and download location, and choose "Save."</li>
               <li>Once all data samples have been downloaded, choose "Stop Downloading."</li>
               <li>The data file is a plain-text CSV file, thus you can open it with your favorite text editor.</li>
            </ol>
            <p>
               This video demonstrates how to download saved data samples from your Speck to your computer.
            </p>
         </div>
         <div class="col-sm-5">
            {{> vimeo_video_thumbnail_with_caption videoId="129042974" title="Speck App: Downloading Data Samples" caption="Downloading Data Samples" thumbnailImageFilename="520424514_640.jpg"}}
         </div>
      </div>

      <div class="row sub_section">
         <div class="col-sm-7">
            <a name="settings" class="anchor"></a>
            <h4>Settings</h4>
            <p>
               This video demonstrates the features within Settings tab, including how to do the following:
            </p>
            <ul>
               <li>Change the rate at which the Speck will save data samples to its memory.</li>
               <li>Delete all data from your Speck</li>
               <li>Deactivate data uploads to specksensor.com</li>
               <li>Reset all of the Speck's settings to the factory defaults.</li>
            </ul>
         </div>
         <div class="col-sm-5">
            {{> vimeo_video_thumbnail_with_caption videoId="129043524" title="Speck App: Settings" caption="Settings" thumbnailImageFilename="521301065_640.jpg"}}
         </div>
      </div>

      <div class="row sub_section">
         <div class="col-sm-7">
            <a name="wireless-networking" class="anchor"></a>
            <h4>Wireless Networking Configuration</h4>
            <p>
               To configure your Speck for Wi-Fi, do the following:
            </p>
            <ol>
               <li>On the Wi-Fi tab, click the "Scan for WiFi Networks" button.</li>
               <li>Click on the name of your network, and type in a network password if needed.</li>
               <li>Check to make sure the WiFi icon appears on your Speck screen. Please be patient, it's normal for the Speck to take 20 seconds or so to connect.</li>
            </ol>
            <p>
               This video demonstrates configuring a Speck for a Wi-Fi network.
            </p>
         </div>
         <div class="col-sm-5">
            {{> vimeo_video_thumbnail_with_caption videoId="129066394" title="Speck App: Wireless Networking Configuration" caption="Wireless Networking Configuration" thumbnailImageFilename="520424641_640.jpg"}}
         </div>
      </div>

      <div class="row sub_section">
         <div class="col-sm-7">
            <a name="upload-configuration" class="anchor"></a>
            <h4>Upload Configuration</h4>
            <p>
               To configure your Speck to upload its data to your account on specksensor.com, do the following:
            </p>
            <ol>
               <li>Ensure you have the Speck configured to Wi-Fi.</li>
               <li>Click on the Upload Configuration icon on your Speck app.</li>
               <li>Login using the email and password used when you created your specksensor.com account, or sign up for a new account if you have not yet created one.</li>
               <li>On the Registration tab, create a custom name for your Speck, and complete by clicking "Register."</li>
               <li>On the Location Info tab, name the location of your Speck and complete by using the map to geolocate your Speck.</li>
               <li>
                  Please be aware that the Speck will not attempt to upload data samples while the Speck app is running
                  and connected to the Speck, so quit the app when you have finished configuring and are ready for
                  uploads to begin.
               </li>
            </ol>
            <p>
               This video demonstrates configuring a Speck for uploads.
            </p>
         </div>
         <div class="col-sm-5">
            {{> vimeo_video_thumbnail_with_caption videoId="129067639" title="Speck App: Upload Configuration" caption="Upload Configuration" thumbnailImageFilename="520425452_640.jpg"}}
         </div>
      </div>
   </div>

   <hr>
   <a name="mobile" class="anchor"></a>
   <h2>Software for Your Mobile Device</h2>
   <div class="main_section">
      <div class="row">
         <div class="col-md-8 col-sm-6">
            <p>
               Use our iOS or Android mobile app to see your Speck's current value in real time, and compare with
               Air Quality Index (AQI) readings from nearby government stations.
            </p>
            <p>
               {{> mobile-app-buttons margin="50px auto"}}
            </p>
         </div>
         <div id="screenshot" class="col-md-4 col-sm-6 img-responsive">
            <img src="http://is2.mzstatic.com/image/thumb/Purple69/v4/02/e5/47/02e547fb-5440-5481-7938-4c3d2cc9d9be/source/400x40000bb.png" class="img-responsive image detail-image" style="margin-left:auto;margin-right:auto;border-radius: 20%" alt="">
         </div>
      </div>
   </div>

</div>
