{{!-- Turn off phone number data detection for mobile Safari.  Props to http://stackoverflow.com/a/227238/703200 --}}
<meta name = "format-detection" content = "telephone=no">
<script src="/lib/ekko-lightbox/ekko-lightbox.min.js" type="text/javascript"></script>
<script type="text/javascript">
   $(document).ready(function() {
      // enable popovers (for the note about humidity)
      $('[data-toggle="popover"]').popover();

      // enable lightbox
      $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
         event.preventDefault();
         $(this).ekkoLightbox();
      });
   });
</script>
<div id="tech_specs_page" class="clearfix">
   <h2>Speck Technical Specifications</h2>
   <div>
      <p>
         The Speck air quality monitor detects fine particulate matter in indoor environments and provides information
         about trends and changes in particle concentration.
      </p>
      <p>
         Speck has Wi-Fi built in, enabling optional connection to a wireless network. Once online, and after linking it
         with a specksensor.com account, the Speck will continuously upload its data to specksensor.com where users can
         see its data in real time and explore its full history with a computer or mobile device.
      </p>
   </div>
   <div class="main_feature">
      <div class="tech_spec_group">
         <div class="tech_spec_item row">
            <div class="tech_spec_label col-sm-4 col-md-3">Detection method</div>
            <div class="tech_spec_value col-sm-3 col-md-3">Optical, DSM501A</div>
         </div>
         <div class="tech_spec_item row">
            <div class="tech_spec_label col-sm-4 col-md-3">Size range of detected particles</div>
            <div class="tech_spec_value col-sm-3 col-md-3">0.5 – 3 microns</div>
         </div>
         <div class="tech_spec_item row">
            <div class="tech_spec_label col-sm-4 col-md-3">Measurement units</div>
            <div class="tech_spec_value col-sm-3 col-md-3">ppL or &mu;g/m<sup>3</sup> <span style="font-size:smaller">(see <a href="#speck_measurement_scales">Speck Measurement Scales</a> below for more information)</span></div>
         </div>
         <div class="tech_spec_item row">
            <div class="tech_spec_label col-sm-4 col-md-3">Additional on-board sensors</div>
            <div class="tech_spec_value col-sm-3 col-md-3">
               Temperature
               {{!--
                              and humidity
                              <i class="fa fa-exclamation-circle pointer_cursor"
                                    data-toggle="popover"
                                    data-trigger="hover click"
                                    data-placement="bottom"
                                    data-content="Specks shipped prior to July 2015 do not have a humidity sensor."></i>
               --}}
            </div>
         </div>
         <div class="tech_spec_item row">
            <div class="tech_spec_label col-sm-4 col-md-3">Environmental operating range</div>
            <div class="tech_spec_value col-sm-3 col-md-3">-10 ~ +65 &deg;C, &lt; 95% RH without condensation</div>
         </div>
      </div>
      <div class="tech_spec_group">
         <div class="tech_spec_item row">
            <div class="tech_spec_label col-sm-4 col-md-3">Processor</div>
            <div class="tech_spec_value col-sm-3 col-md-3">Atmel XMEGA</div>
         </div>
         <div class="tech_spec_item row">
            <div class="tech_spec_label col-sm-4 col-md-3">Data timestamps</div>
            <div class="tech_spec_value col-sm-3 col-md-3">Unix UTC via real-time clock</div>
         </div>
         <div class="tech_spec_item row">
            <div class="tech_spec_label col-sm-4 col-md-3">Sampling interval</div>
            <div class="tech_spec_value col-sm-3 col-md-3">5 seconds to 4 minutes (default 1 minute)</div>
         </div>
         <div class="tech_spec_item row">
            <div class="tech_spec_label col-sm-4 col-md-3">On-board data storage</div>
            <div class="tech_spec_value col-sm-3 col-md-3">Two years at 1 sample per minute</div>
         </div>
         <div class="tech_spec_item row">
            <div class="tech_spec_label col-sm-4 col-md-3">Online data storage</div>
            <div class="tech_spec_value col-sm-3 col-md-3">Unlimited via specksensor.com account</div>
         </div>
         <div class="tech_spec_item row">
            <div class="tech_spec_label col-sm-4 col-md-3">Screen</div>
            <div class="tech_spec_value col-sm-3 col-md-3">3.2" TFT touchscreen</div>
         </div>
      </div>
      <div class="tech_spec_group">
         <div class="tech_spec_item row">
            <div class="tech_spec_label col-sm-4 col-md-3">Display options</div>
            <div class="tech_spec_value col-sm-3 col-md-3">On/off, brightness control, colorblind mode</div>
         </div>
         <div class="tech_spec_item row">
            <div class="tech_spec_label col-sm-4 col-md-3">Connectivity</div>
            <div class="tech_spec_value col-sm-3 col-md-3">USB 2.0 through Chrome app, Wi-Fi 802.11 b/g</div>
         </div>
         <div class="tech_spec_item row">
            <div class="tech_spec_label col-sm-4 col-md-3">Supported wireless encryption</div>
            <div class="tech_spec_value col-sm-3 col-md-3">Unsecured, WEP, WPA, WPA2 personal</div>
         </div>
         <div class="tech_spec_item row">
            <div class="tech_spec_label col-sm-4 col-md-3">On-screen data access</div>
            <div class="tech_spec_value col-sm-3 col-md-3">Current, past hour, or past 12 hours</div>
         </div>
      </div>
      <div class="tech_spec_group">
         <div class="tech_spec_item row">
            <div class="tech_spec_label col-sm-4 col-md-3">Power supply</div>
            <div class="tech_spec_value col-sm-3 col-md-3">Micro USB, 5V 500mA</div>
         </div>
         <div class="tech_spec_item row">
            <div class="tech_spec_label col-sm-4 col-md-3">Weight</div>
            <div class="tech_spec_value col-sm-3 col-md-3">5.8 oz (164.4 g)</div>
         </div>
         <div class="tech_spec_item row">
            <div class="tech_spec_label col-sm-4 col-md-3">Size</div>
            <div class="tech_spec_value col-sm-3 col-md-3">
               Width: 4.5 in (11.4 cm)<br>
               Height: 3.5 in (8.9 cm) <br>
               Depth: 3.7 in (9.4 cm)
            </div>
         </div>
      </div>
      <div style="margin-top: 30px">
         <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
               <a name="speck_measurement_scales" class="anchor"></a>
               <p><b>Speck Measurement Scales</b></p>
               <p>
                  The Speck can display its measurement of the current concentration of fine particles in the air in two
                  different scales. The default scale is a count-based
                  concentration&mdash;the number of particles per liter of air (ppL). Alternatively, the Speck can report the
                  fine particle concentration based on an estimate of particle weight (or, more strictly, mass) where the
                  units are micrograms per cubic meter of air (&mu;g/m<sup>3</sup>). To toggle between the two scales, simply
                  tap the center of the Speck's screen. The chart here details the measurement scale ranges and correlation between
                  value and color.  The Speck can also display colors in a blue-red palette for colorblind users.
               </p>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-6">
               <table id="measurement_scales" border="0" cellpadding="0" cellspacing="0" align="center">
                  <tr class="header" valign="top">
                     <th>Particle&nbsp;Counts<br><span class="heading_explanation">(ppL)</span></th>
                     <th>Estimated&nbsp;Mass<br><span class="heading_explanation">(&mu;g/m<sup>3</sup>)</span></th>
                     <th>Rating</th>
                  </tr>
                  <tr class="level level_6">
                     <td>8001 - 16000</td>
                     <td>321 - 640</td>
                     <td>Very High</td>
                  </tr>
                  <tr class="level level_5">
                     <td>4001 - 8000</td>
                     <td>161 - 320</td>
                     <td>High</td>
                  </tr>
                  <tr class="level level_4">
                     <td>2001 - 4000</td>
                     <td>81 - 160</td>
                     <td>Elevated</td>
                  </tr>
                  <tr class="level level_3">
                     <td>1001 - 2000</td>
                     <td>41 - 80</td>
                     <td>Slightly Elevated</td>
                  </tr>
                  <tr class="level level_2">
                     <td>501 - 1000</td>
                     <td>21 - 40</td>
                     <td>Moderate</td>
                  </tr>
                  <tr class="level level_1">
                     <td>0 - 500</td>
                     <td>0 - 20</td>
                     <td>Good</td>
                  </tr>
               </table>
            </div>
         </div>
      </div>
      <div style="margin-top: 30px">
         <p><b>Calibration</b></p>
         <p>
            Each Speck is exposed to two controlled particle concentrations, which allow us to automatically generate
            calibration values for each device using a networked computer system. These calibrations are performed in
            groups of 10, which allows for quality control implementation by removing Specks that either do not
            correlate well with the other sensors in the group or exhibit calibration values outside of acceptable
            parameters. These procedures also serve as a systems test for the sensor, Wi-Fi, screen, touch sensitivity,
            and fan. Each Speck is individually labeled with its coded calibration batch, serial number, and MAC address
            for use in diagnosing and/or isolating any unforeseen calibration errors or manufacturing defects.
         </p>
      </div>
      <div style="margin-top: 30px">
         Download the <a href="/images/speck_datasheet.pdf" target="_blank">Speck datasheet</a>
      </div>
   </div>
</div>