<div id="what_is_speck">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Speck Info
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Understanding Readings</h4>
        </div>
        <div>
          <img src="images/color_coding.png" height="100%" width="100%" alt="color_coding" class="color_coding">
        </div>
        <div class="panel-body">
          <p>
            The Speck monitors particle counts in units of particles per liter (ppl) and estimates particle weight in units of micrograms per cubic meter (&mu;g/m<sup>3</sup>).
            Color coding and ratings for Speck readings were generated to help communicate the level of fine particles in your location. These general guides can help
            determine when there is a significant shift in your home's air quality. Darker greens represent a relatively healthy range of air quality, while red and
            orange indicate poor air quality. Lighter colors fall in the medium range of particulate levels, and generally indicate unhealthy air quality.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Home Screen</h4>
        </div>
        <div>
          <img src="images/home_screen.png" height="100%" width="100%" alt="home_screen">
        </div>
        <div class="panel-body">
          <p>
            The home screen displays current fine particle levels in either counts (ppl) or estimated weight (&mu;g/m<sup>3</sup>). To switch between units,
            simply tap the center of the screen. When readings are in ppl the letter 'C' is displayed next to the number and similarly, a 'W' when in (&mu;g/m<sup>3</sup>).
            An arrow indicator shows where the current reading falls on the color scale. The button at the top right corner provides access to historical
            data, and the button below that enables you to dim or turn off the screen display. The icon at the bottom right corner indicates that the
            Speck is connected to a WiFi network.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Historical Trends</h4>
        </div>
        <div>
          <img src="images/historical_trends.png" height="100%" width="100%" alt="historical_trends">
        </div>
          <div class="panel-body">
            <p>
              Pressing the graph or exclamation point button at the top right corner of the home screen provides historical Speck data. The first tap displays
              a 12-hour view and the second tap shows data from the past hour. To return to the home screen simply press that button a third time. Notice that
              the color scale is retained in the graphical display to highlight the different ranges of fine particle levels detected over the past hour or 12 hours.
              If the graph icon on the home screen is replaced with an exclamation point, the 12-hour data view should include a spike in the readings that lasted 15
              minutes or longer.
            </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12" style="margin-top: 10px">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Setting Up Your Speck</h4>
        </div>
        <div style="padding: 20px">
          <img src="images/whatisspeck_setup.png" height="100%" width="100%" alt="historical_trends">
        </div>
      </div>
    </div>
  </div>
</div>
