<script src="/lib/ekko-lightbox/ekko-lightbox.min.js" type="text/javascript"></script>
<script type="text/javascript">
   $(document).ready(function() {
      // enable popovers
      $('[data-toggle="popover"]').popover();

      $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
         event.preventDefault();
         $(this).ekkoLightbox();
      });

      var setupMainFeatureMouseEvents = function(mainFeatureElementId, targetAnchorName) {
         $("#" + mainFeatureElementId).click(function() {
            var target = $("#" + targetAnchorName);
            $('html,body').animate({
               scrollTop : target.offset().top
            }, 500);
         });
      };

      setupMainFeatureMouseEvents("main_feature_teaser_screen", "main_feature_screen_anchor");
      setupMainFeatureMouseEvents("main_feature_teaser_history", "main_feature_history_anchor");
      setupMainFeatureMouseEvents("main_feature_teaser_cloud", "main_feature_cloud_anchor");
   });
</script>
<div id="what_is_speck">
   <div id="teaser_row" class="row">
      <div class="col-md-4">
         <div id="main_feature_teaser_screen" class="main_feature_teaser">
            <div class="icon speck_icon"></div>
            <div class="teaser_content">
               <div class="teaser_title">
                  <h4><span class="no_wrap">Air quality</span> <span class="no_wrap">at a glance</span></h4>
               </div>
               <div class="teaser_description">
                  Speck's bright, full-color screen with large type and distinct palette ensures your air quality is
                  easily visible with just a glance.
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div id="main_feature_teaser_history" class="main_feature_teaser">
            <div class="icon graph_icon"></div>
            <div class="teaser_content">
               <div class="teaser_title">
                  <h4><span class="no_wrap">Explorable history</span></h4>
               </div>
               <div class="teaser_description">
                  View recent data on the Speck, or log in to your specksensor.com account to explore
                  or download the full history.
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div id="main_feature_teaser_cloud" class="main_feature_teaser">
            <div class="icon cloud_icon"></div>
            <div class="teaser_content">
               <div class="teaser_title">
                  <h4><span class="no_wrap">Accessible anywhere</span></h4>
               </div>
               <div class="teaser_description">
                  With built-in Wi-Fi, Speck can upload its data to specksensor.com. Check your air quality
                  in real time, from anywhere.
               </div>
            </div>
         </div>
      </div>
   </div>
   <hr>
   <div class="main_feature">
      <a id="main_feature_screen_anchor" name="air-quality-at-a-glance" class="anchor"></a>
      <div class="row">
         <div class="main_feature_text_container col-sm-7">
            <div class="main_feature_title">Air quality at a glance</div>
            <div class="main_feature_description">
               <p>
                  Striving to make the Speck as friendly and easy-to-use as possible, we gave it a bright, full-color
                  touchscreen with a distinct color palette and a large, easily readable font.
               </p>
               <p>
                  Foremost on the screen is the current air quality measurement. The measurement is the current
                  concentration of fine particles in the air. The default is a
                  count-based concentration&mdash;the number of particles per liter of air (ppl). Alternatively, the
                  Speck can report the fine particle concentration based on an estimate of particle weight (or, more
                  strictly, mass) where the units are micrograms per cubic meter of air (&mu;g/m<sup>3</sup>). To toggle between
                  the two scales, simply tap the center of the screen. The chart below details the measurement scale ranges and
                  correlation between value and color.
               </p>
            </div>
         </div>
         <div class="main_feature_media_container col-sm-5">
            <a href="/images/home_screen.png" data-toggle="lightbox" data-title="Speck Home Screen"><img src="/images/home_screen.png" class="img-responsive"></a>
         </div>
      </div>
      <div class="row">
         <div class="main_feature_text_container col-sm-7 col-sm-push-5">
            <div class="main_feature_description">
               <p>
                  Along the left side of the screen, an arrow indicates where the current reading falls on the color
                  scale. Along the ride side are an icon indicating whether the Speck is connected to a Wi-Fi network,
                  a button to dim or turn off the screen, and a button to access historical data.
               </p>
            </div>
         </div>
         <div class="main_feature_media_container col-sm-5 col-sm-pull-7">
            <a href="/images/color_coding.png" data-toggle="lightbox" data-title="Speck Measurement Scales"><img src="/images/color_coding.png" class="img-responsive"></a>
         </div>
      </div>
   </div>
   <hr>
   <div class="main_feature">
      <a id="main_feature_history_anchor" name="explorable-history" class="anchor"></a>
      <div class="row">
         <div class="main_feature_text_container col-sm-7">
            <div class="main_feature_title">Explorable history</div>
            <div class="main_feature_description">
               <p>
                  Steadfast in our belief that your data is exactly that&mdash;<i>your</i> data&mdash;we provide multiple ways
                  for you to access it: on screen, via download, or in the cloud.
               </p>
               <p>
                  On screen, the Speck displays recent historical data&mdash;simply press the graph button at the top-right
                  corner of the home screen to toggle views of the past 12 hours or past 1 hour of data.
               </p>
            </div>
         </div>
         <div class="main_feature_media_container col-sm-5">
            <a href="/images/historical_trends.png" data-toggle="lightbox" data-title="Speck Historical Data Screen"><img src="/images/historical_trends.png" class="img-responsive"></a>
         </div>
      </div>
      <div class="row">
         <div class="main_feature_text_container col-sm-7 col-sm-push-5">
            <div class="main_feature_description">
               <p>
                  For complete detail, the Speck is constantly recording data samples, and has enough memory to store
                  about two years worth of data. You can download data samples to your computer using our free
                  <a href="/software">Speck software</a>.
               </p>
               <p>
                  Alternatively, you can optionally choose to configure your Speck to upload its data to your account
                  on specksensor.com.
               </p>
            </div>
         </div>
         <div class="main_feature_media_container col-sm-5 col-sm-pull-7">
            <a href="/images/speck_app_screenshot_no_shadow.png" data-toggle="lightbox" data-title="Speck software"><img src="/images/speck_app_screenshot_no_shadow.png" class="img-responsive"></a>
         </div>
      </div>
   </div>
   <hr>
   <div class="main_feature">
      <a id="main_feature_cloud_anchor" name="accessible-anywhere" class="anchor"></a>
      <div class="row">
         <div class="main_feature_text_container col-sm-7">
            <div class="main_feature_title">Your data, accessible anywhere</div>
            <div class="main_feature_description">
               <p>
                  With built-in Wi-Fi, Speck can upload its data to your account on specksensor.com. Log in and
                  keep tabs on your home's air quality in real time, from anywhere, using your computer or mobile device.
                  Explore the full history of your data with our zoomable graphs. Download your data&mdash;all of it,
                  or any subset&mdash;at any time.
               </p>
            </div>
         </div>
         <div class="main_feature_media_container col-sm-5">
            <a href="/images/dashboard_no_map_screenshot_desktop.png" data-toggle="lightbox" data-title="Dashboard on specksensor.com"><img src="/images/dashboard_no_map_screenshot_desktop.png" class="img-responsive"></a>
         </div>
      </div>
   </div>
   <hr>
   <div class="main_feature">
      <a id="main_feature_meet_speck_anchor" name="meet-speck" class="anchor"></a>
      <div class="row">
         <div class="main_feature_text_container col-sm-5 col-sm-push-7">
            <div class="main_feature_description">
               <div class="main_feature_title">Meet Speck</div>
               <div class="main_feature_description">
                  <p>
                     Watch this video for details on what comes with your Speck, a demonstration of how easy it is to setup, and a
                     quick tour of its features.
                  </p>
                  <p>
                     Want more? See the Speck Setup Guide and technical specifications below, read the
                     <a href="/faq">frequently asked questions</a>,
                     or
                     <a href="mailto:info@specksensor.com?Subject=Inquiry%20about%20Speck" target="_top">contact us</a> if
                     you need help.
                  </p>
               </div>
            </div>
         </div>
         <div class="main_feature_media_container col-sm-7 col-sm-pull-5">
            <div class="embed-responsive embed-responsive-16by9">
               <iframe class="embed-responsive-item" src="//player.vimeo.com/video/128957375" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <a id="main_feature_speck_setup_guide_anchor" name="speck-setup-guide" class="anchor"></a>
      <div class="col-lg-12" style="margin-top: 10px">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h4>Speck Setup Guide</h4>
            </div>
            <div class="row">
               <div class="col-xs-12 col-sm-6">
                  <a href="/images/speck_setup_guide_1.jpg" data-toggle="lightbox" data-title="Speck Setup Guide"><img src="/images/speck_setup_guide_1.jpg" class="img-responsive setup_guide_image"></a>
               </div>
               <div class="col-xs-12 col-sm-6">
                  <a href="/images/speck_setup_guide_2.jpg" data-toggle="lightbox" data-title="Speck Setup Guide"><img src="/images/speck_setup_guide_2.jpg" class="img-responsive setup_guide_image"></a>
               </div>
            </div>
            <div class="panel-footer">Download the <a href="/images/speck_setup_guide.pdf">Speck Setup Guide</a></div>
         </div>
      </div>
   </div>
   <hr>
   <div class="main_feature">
      <a id="main_feature_tech_specs_anchor" name="tech-specs" class="anchor"></a>
      <div class="row">
         <div class="main_feature_text_container col-sm-12">
            <div class="main_feature_title">Technical Specifications</div>
         </div>
      </div>
      <div class="tech_spec_group">
         <div class="tech_spec_item row">
            <div class="tech_spec_label col-sm-4 col-md-3">Detection method</div>
            <div class="tech_spec_value col-sm-3 col-md-3">Optical, DSM501A</div>
         </div>
         <div class="tech_spec_item row">
            <div class="tech_spec_label col-sm-4 col-md-3">Size range of detected particles</div>
            <div class="tech_spec_value col-sm-3 col-md-3">0.5 – 3 microns</div>
         </div>
         <div class="tech_spec_item row">
            <div class="tech_spec_label col-sm-4 col-md-3">Measurement units</div>
            <div class="tech_spec_value col-sm-3 col-md-3">ppL or &mu;g/m<sup>3</sup></div>
         </div>
         <div class="tech_spec_item row">
            <div class="tech_spec_label col-sm-4 col-md-3">Additional on-board sensors</div>
            <div class="tech_spec_value col-sm-3 col-md-3">
               Temperature
{{!--
               and humidity
                 <i class="fa fa-exclamation-circle pointer_cursor"
                       data-toggle="popover"
                       data-trigger="hover click"
                       data-placement="bottom"
                       data-content="Specks shipped prior to July 2015 do not have a humidity sensor."></i>
--}}
            </div>
         </div>
         <div class="tech_spec_item row">
            <div class="tech_spec_label col-sm-4 col-md-3">Environmental operating range</div>
            <div class="tech_spec_value col-sm-3 col-md-3">-10 ~ +65 &deg;C, &lt; 95% RH without condensation</div>
         </div>
      </div>
      <div class="tech_spec_group">
         <div class="tech_spec_item row">
            <div class="tech_spec_label col-sm-4 col-md-3">Processor</div>
            <div class="tech_spec_value col-sm-3 col-md-3">Atmel XMEGA</div>
         </div>
         <div class="tech_spec_item row">
            <div class="tech_spec_label col-sm-4 col-md-3">Data timestamps</div>
            <div class="tech_spec_value col-sm-3 col-md-3">Unix UTC via real-time clock</div>
         </div>
         <div class="tech_spec_item row">
            <div class="tech_spec_label col-sm-4 col-md-3">Sampling interval</div>
            <div class="tech_spec_value col-sm-3 col-md-3">5 seconds to 4 minutes (default 1 minute)</div>
         </div>
         <div class="tech_spec_item row">
            <div class="tech_spec_label col-sm-4 col-md-3">On-board data storage</div>
            <div class="tech_spec_value col-sm-3 col-md-3">Two years at 1 sample per minute</div>
         </div>
         <div class="tech_spec_item row">
            <div class="tech_spec_label col-sm-4 col-md-3">Online data storage</div>
            <div class="tech_spec_value col-sm-3 col-md-3">Unlimited via specksensor.com account</div>
         </div>
         <div class="tech_spec_item row">
            <div class="tech_spec_label col-sm-4 col-md-3">Screen</div>
            <div class="tech_spec_value col-sm-3 col-md-3">3.2" TFT touchscreen</div>
         </div>
      </div>
      <div class="tech_spec_group">
         <div class="tech_spec_item row">
            <div class="tech_spec_label col-sm-4 col-md-3">Display options</div>
            <div class="tech_spec_value col-sm-3 col-md-3">On/off, brightness control, colorblind mode</div>
         </div>
         <div class="tech_spec_item row">
            <div class="tech_spec_label col-sm-4 col-md-3">Connectivity</div>
            <div class="tech_spec_value col-sm-3 col-md-3">USB 2.0 through Chrome app, Wi-Fi b/g</div>
         </div>
         <div class="tech_spec_item row">
            <div class="tech_spec_label col-sm-4 col-md-3">Supported wireless encryption</div>
            <div class="tech_spec_value col-sm-3 col-md-3">Unsecured, WEP, WPA, WPA2 personal</div>
         </div>
         <div class="tech_spec_item row">
            <div class="tech_spec_label col-sm-4 col-md-3">On-screen data access</div>
            <div class="tech_spec_value col-sm-3 col-md-3">Current, past hour, or past 12 hours</div>
         </div>
      </div>
      <div class="tech_spec_group">
         <div class="tech_spec_item row">
            <div class="tech_spec_label col-sm-4 col-md-3">Power supply</div>
            <div class="tech_spec_value col-sm-3 col-md-3">Micro USB, 5V 500mA</div>
         </div>
         <div class="tech_spec_item row">
            <div class="tech_spec_label col-sm-4 col-md-3">Weight</div>
            <div class="tech_spec_value col-sm-3 col-md-3">5.8 oz (164.4 g)</div>
         </div>
         <div class="tech_spec_item row">
            <div class="tech_spec_label col-sm-4 col-md-3">Size</div>
            <div class="tech_spec_value col-sm-3 col-md-3">
               Width: 4.5 in (11.4 cm)<br>
               Height: 3.5 in (8.9 cm) <br>
               Depth: 3.7 in (9.4 cm)
            </div>
         </div>
      </div>
      <div style="margin-top: 30px">
         Download the <a href="/images/speck_datasheet.pdf">Speck datasheet</a>
      </div>
   </div>
</div>
