<div id="home_page">
   <div class="row">
      <div class="col-lg-12">
         <h1 class="page-header">
            What is Speck?
         </h1>
      </div>
      <div class="col-md-4">
         <div class="panel panel-default">
            <div class="panel-heading">
              <h4>Understanding Readings</h4>
            </div>
            <div>
               <img src="images/color_coding.png" height="100%" width="100%" alt="color_coding" class="color_coding">
            </div>
            <div class="panel-body">
              <p>Color coding for Speck readings are based on the <a href="http://airnow.gov/index.cfm?action=aqibasics.aqi" target="_blank" class="link_underline">
              U.S. Air Quality Index</a> (AQI). The Environmental Protection Agency sets AQI standards to indicate air quality levels that are acceptable or harmful
              for human health. Refer to the chart above to see how Speck readings compare with AQI ratings.</p>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="panel panel-default">
            <div class="panel-heading">
              <h4>Home Screen</h4>
            </div>
            <div>
               <img src="images/home_screen.png" height="100%" width="100%" alt="home_screen">
            </div>
            <div class="panel-body">
              <p>
                The home screen displays current fine particle concentration levels in micrograms per cubic meter (&mu;g/m<sup>3</sup>).
                An arrow indicator shows where the current reading falls on the air quality color scale. If the Speck
                detects readings consistently above 55 for 15 consecutive minutes (or more) over the past 12 hours, it
                will display an exclamation point alert.
              </p>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="panel panel-default">
            <div class="panel-heading">
              <h4>Historical Trends</h4>
            </div>
            <div>
               <img src="images/historical_trends.png" height="100%" width="100%" alt="historical_trends">
            </div>
            <div class="panel-body">
              <p>
                Tapping the graph or exclamation point icon at the top right of the screen provides historical Speck data. The first tap
                displays a 12-hour view and the second tap shows data from the past hour. Note that although the threshold ratings are
                12.0, 35.4, 55.4, 150.4, 250.4 and 500.0, the Speck only displays whole numbers as shown above.
              </p>
            </div>
        </div>
      </div>
   </div>
</div>
