<div class="daily_stats_calendar_container" style="display: inline-block">
   <div class="daily_stats_title">PM 2.5 Daily Average</div>
   {{#if willShowChannelName}}
      <div class="daily_stats_subtitle">{{channelName}}</div>
   {{/if}}
   <div id="{{calendarElementId}}" class="daily_stats_calendar"></div>
</div>
