<li class="dropdown-header device" role="presentation">{{name}}</li>
{{#each feeds}}
   <li class="feed" id="feed_menu_item_{{id}}" feedId="{{id}}" role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="return false;"><i class="feed-icon fa placeholder"></i> {{name}}</a></li>
{{/each}}

