<table id="grapher" border="0" cellpadding="0" cellspacing="0" align="center">
   <tr>
      <td>
         <div id="date_axis_container">
            <div id="date_axis" class="date_axis"></div>
            <div id="value_label"></div>
         </div>
      </td>
      <td>&nbsp;</td>
   </tr>
   <tr>
      <td>
         <div id="plot" class="plot" style="height:{{plotHeight}}px; border: 1px solid black;"></div>
      </td>
      <td>
         <div id="y_axis" class="y_axis" style="position:relative;height:{{plotHeight}}px">
            <div id="y_axis_label" class="rotate_90 y_axis_label">{{{yAxisLabel}}}</div>
         </div>
      </td>
   </tr>
</table>
