<div class="panel-body">
   There are no installation locations defined for this Speck. Please use
   the <a href="/support/software">Speck app</a> to and use the Upload Configuration
   tab to specify where you have installed this Speck. If you need help, please
   see our <a href="/support/software#upload-configuration">Upload Configuration video tutorial</a>.
</div>
