<table class="pm_2_5_scale pm_2_5_scale_table" border="0" cellpadding="0" cellspacing="0">
   <tr class="pm_2_5_scale_row pm_2_5_scale_header_row">
      <td style="padding: 2px 0;"></td>
      <td class="pm_2_5_scale_cell">Category</td>
      <td class="pm_2_5_scale_cell">&mu;g/m<sup>3</sup></td>
   </tr>
   <tr class="pm_2_5_scale_row">
      <td style="padding: 2px 0;"><div class="pm_2_5_scale_color level0"></div></td>
      <td class="pm_2_5_scale_cell align_left">Good</td>
      <td class="pm_2_5_scale_cell">0.0 - 12.0</td>
   </tr>
   <tr class="pm_2_5_scale_row">
      <td style="padding: 2px 0;"><div class="pm_2_5_scale_color level1"></div></td>
      <td class="pm_2_5_scale_cell align_left">Moderate</td>
      <td class="pm_2_5_scale_cell">12.1 - 35.4</td>
   </tr>
   <tr class="pm_2_5_scale_row">
      <td style="padding: 2px 0;"><div class="pm_2_5_scale_color level2"></div></td>
      <td class="pm_2_5_scale_cell align_left">Unhealthy for Sensitive Groups</td>
      <td class="pm_2_5_scale_cell">35.5 - 55.4</td>
   </tr>
   <tr class="pm_2_5_scale_row">
      <td style="padding: 2px 0;"><div class="pm_2_5_scale_color level3"></div></td>
      <td class="pm_2_5_scale_cell align_left">Unhealthy</td>
      <td class="pm_2_5_scale_cell">55.5 - 150.4</td>
   </tr>
   <tr class="pm_2_5_scale_row">
      <td style="padding: 2px 0;"><div class="pm_2_5_scale_color level4"></div></td>
      <td class="pm_2_5_scale_cell align_left">Very Unhealthy</td>
      <td class="pm_2_5_scale_cell">150.5 - 250.4</td>
   </tr>
   <tr class="pm_2_5_scale_row">
      <td style="padding: 2px 0;"><div class="pm_2_5_scale_color level5"></div></td>
      <td class="pm_2_5_scale_cell align_left">Hazardous</td>
      <td class="pm_2_5_scale_cell">250.5 - 500</td>
   </tr>
</table>
