<div class="alert alert-success">
   The closest government station with recent PM<sub>2.5</sub> data is <a href="javascript:setFeedSelected({{nearest.id}});">{{nearest.name}}</a>.
   A plot of its historical data is shown below.
</div>